<!-- FILTERS MODAL -->

<div class="modal fade filters-modal" id="filtersModal" tabindex="-1" role="dialog" aria-labelledby="filtersModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593191048/jeu-de-mains-fermer-bleu.svg", :width => 50, :height => 50, :crop => :fill, :alt => "jeu-de-mains-fermer", :title => "jeu-de-mains-fermer") %>
      </button>

      <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>

        <h2>Filtrer et trier</h2>

        <% if params[:search].present? %>
          <div>
            <% if params[:search][:order].present? %>
              <%= f.input :order, as: :radio_buttons, collection: ['Aléatoire', 'Prix croissants', 'Prix décroissants', 'Les mieux notés'], required: false, label: 'Trier par', namespace: "unique_prefix_to_be_prepended_to_id", checked: params[:search][:order] %>
            <% else %>
              <%= f.input :order, as: :radio_buttons, collection: ['Aléatoire', 'Prix croissants', 'Prix décroissants', 'Les mieux notés'], required: false, label: 'Trier par', namespace: "unique_prefix_to_be_prepended_to_id", checked: 'Aléatoire' %>
            <% end %>
          </div>
          <div>
            <%= f.input :place, required: false, label: "Ville", prompt: "Toutes les villes", collection: Place.cities_and_districts, disabled: ["Grandes villes", "Départements"], selected: params[:search][:place], input_html: { id: "search_place_15" } %>
          </div>

          <div>
            <% if params[:search][:starts_at].present? %>
              <%= f.input :starts_at, as: :string, required: false, input_html: { class: "datepicker datepicker_start_date", value: Date.strptime(params[:search][:starts_at], '%Y-%m-%d'), id: "search_starts_at_15" }, selected: params[:search][:starts_at], label: "À partir du" %>
            <% else %>
              <%= f.input :starts_at, as: :string, required: false, input_html: { class: "datepicker datepicker_start_date", id: "search_starts_at_15" }, placeholder: "À tout moment", label: "À partir du" %>
            <% end %>
          </div>
          <div>
            <% if params[:search][:ends_at].present? %>
              <%= f.input :ends_at, as: :string, required: false, input_html: { class: "datepicker", value: Date.strptime(params[:search][:ends_at], '%Y-%m-%d'), id: "search_ends_at_15" }, selected: params[:search][:ends_at], label: "Jusqu'au" %>
            <% else %>
              <%= f.input :ends_at, as: :string, required: false, input_html: { class: "datepicker", id: "search_ends_at_15"}, placeholder: "À tout moment", label: "Jusqu'au" %>
            <% end %>
          </div>
          <div class="indew-ws-two-inputs-row">
            <% if params[:search][:min_price].present? %>
              <%= f.input :min_price, as: :float, required: false, label: 'Prix min. €', input_html: { value: params[:search][:min_price].to_f, id: "search_min_price_15" } %>
            <% else %>
              <%= f.input :min_price, as: :float, required: false, label: 'Prix min. €', input_html: { value: 0, id: "search_min_price_16" } %>
            <% end %>
            <% if params[:search][:max_price].present? %>
              <%= f.input :max_price, as: :float, required: false, label: 'Prix max. €', input_html: { value: params[:search][:max_price].to_f, id: "search_max_price_15" } %>
            <% else %>
              <%= f.input :max_price, as: :float, required: false, label: 'Prix max. €', input_html: { value: @max_price, id: "search_max_price_16" } %>
            <% end %>
          </div>
          <div class="indew-ws-two-inputs-row">
            <%= f.input :min_capacity, as: :integer, required: false, label: "Nb personne(s) min.", input_html: { value: params[:search][:min_capacity].to_i, id: "search_min_capacity_15" } %>
            <%= f.input :level, required: false, label: "Niveau", prompt: "Tous niveaux", collection: Workshop::LEVELS, selected: params[:search][:level], input_html: { id: "search_level_15" } %>
          </div>

          <div>
            <%= f.input :moment, required: false, label: "Moment de la journée", prompt: "À tout moment", collection: Session::MOMENTS, selected: params[:search][:moment], input_html: { id: "search_moment_15" } %>
          </div>

          <div>
            <%= f.input :selection, as: :string, required: false, label: "Mot-clé", input_html: { value: params[:search][:selection], id: "search_selection_15" } %>
          </div>

          <div>
            <%= f.input :keyword, required: false, label: "Type d'atelier", prompt: "Tous types", collection: Workshop::THEMATICS, selected: params[:search][:keyword], input_html: { id: "search_keyword_15" } %>
          </div>


          <div>
            <% if params[:search][:visio].present? %>
              <%= f.input :visio, required: false, as: :radio_buttons, checked: params[:search][:visio], label: "Inclure les ateliers en visio", namespace: "unique_prefix_to_be_prepended_to_id" %>
            <% else %>
              <%= f.input :visio, required: false, as: :radio_buttons, label: "Inclure les ateliers en visio", checked: true, namespace: "unique_prefix_to_be_prepended_to_id" %>
            <% end %>
          </div>

          <div>
            <% if params[:search][:ephemeral].present? %>
              <%= f.input :ephemeral, required: false, as: :radio_buttons, checked: params[:search][:ephemeral], label: "Inclure les ateliers éphémères", namespace: "unique_prefix_to_be_prepended_to_id" %>
            <% else %>
              <%= f.input :ephemeral, required: false, as: :radio_buttons, label: "Inclure les ateliers éphémères", checked: true, namespace: "unique_prefix_to_be_prepended_to_id" %>
            <% end %>
          </div>

          <div>
            <% if params[:search][:privatization].present? %>
              <%= f.input :privatization, required: false, as: :radio_buttons, checked: params[:search][:privatization], label: "Afficher les ateliers privatisables uniquement", namespace: "unique_prefix_to_be_prepended_to_id" %>
            <% else %>
              <%= f.input :privatization, required: false, as: :radio_buttons, label: "Afficher les ateliers privatisables uniquement", checked: false, namespace: "unique_prefix_to_be_prepended_to_id" %>
            <% end %>
          </div>

        <% else %>
          <div>
            <%= f.input :order, as: :radio_buttons, collection: ['Aléatoire', 'Prix croissants', 'Prix décroissants', 'Les mieux notés'], required: false, label: 'Trier par', checked: 'Aléatoire', namespace: "unique_prefix_to_be_prepended_to_id" %>
          </div>
          <div>
            <%= f.input :place, required: false, label: "Ville", prompt: "Toutes les villes", collection: Place.cities_and_districts, disabled: ["Grandes villes", "Départements"], input_html: { id: "search_place_16" } %>
          </div>
          <div>
            <%= f.input :starts_at, as: :string, required: false, input_html: { class: "datepicker datepicker_start_date", id: "search_starts_at_16" }, placeholder: "À tout moment", label: "À partir du" %>
          </div>
          <div>
            <%= f.input :ends_at, as: :string, required: false, input_html: { class: "datepicker", id: "search_ends_at_16" }, placeholder: "À tout moment", label: "Jusqu'au" %>
          </div>
          <div class="indew-ws-two-inputs-row">
            <%= f.input :min_price, as: :float, required: false, label: 'Prix min. €', input_html: { value: 0, id: "search_min_price_16" } %>
            <%= f.input :max_price, as: :float, required: false, label: 'Prix max. €', input_html: { value: @max_price, id: "search_max_price_16" } %>
          </div>
          <div class="indew-ws-two-inputs-row">
            <%= f.input :min_capacity, as: :integer, required: false, label: "Nb personne(s) min.", input_html: { id: "search_min_capacity_16" } %>
            <%= f.input :level, required: false, label: "Niveau", prompt: "Tous niveaux", collection: Workshop::LEVELS, input_html: { id: "search_level_16" } %>
          </div>

          <div>
            <%= f.input :moment, required: false, label: "Moment de la journée", prompt: "À tout moment", collection: Session::MOMENTS, input_html: { id: "search_moment_16" } %>
          </div>

          <div>
            <%= f.input :selection, as: :string, required: false, label: "Mot-clé", input_html: { id: "search_selection_16" } %>
          </div>
          <div>
            <%= f.input :keyword, required: false, label: "Type d'atelier", prompt: "Tous types", collection: Workshop::THEMATICS, input_html: { id: "search_keyword_16" } %>
          </div>
          <div>
            <%= f.input :visio, required: false, as: :radio_buttons, label: "Inclure les ateliers en visio", checked: true, namespace: "unique_prefix_to_be_prepended_to_id" %>
          </div>
          <div>
            <%= f.input :ephemeral, required: false, as: :radio_buttons, label: "Inclure les ateliers éphémères", checked: true, namespace: "unique_prefix_to_be_prepended_to_id" %>
          </div>
          <div>
            <%= f.input :privatization, required: false, as: :radio_buttons, label: "Afficher les ateliers privatisables uniquement", checked: false, namespace: "unique_prefix_to_be_prepended_to_id" %>
          </div>
        <% end %>
        <%= f.submit 'Appliquer les filtres', class: "submit-btn" %>
      <% end %>

      <div class="filters-reinitialize">
        <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
          <%= f.hidden_field :order, value: 'Aléatoire', id: "search_order_17" %>
          <%= f.hidden_field :starts_at, id: "search_starts_at_17" %>
          <%= f.hidden_field :ends_at, id: "search_ends_at_17" %>
          <%= f.hidden_field :min_capacity, id: "search_min_capacity_17" %>
          <%= f.hidden_field :place, id: "search_place_17" %>
          <%= f.hidden_field :level, id: "search_level_17" %>
          <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_17" %>
          <%= f.hidden_field :privatization, value: false, id: "search_privatization_17" %>
          <%= f.hidden_field :visio, value: true, id: "search_visio_17" %>
          <%= f.hidden_field :min_price, value: 0, id: "search_min_price_17" %>
          <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_17" %>
          <%= f.hidden_field :selection, id: "search_selection_17" %>
          <%= f.hidden_field :moment, id: "search_moment_17" %>
          <%= f.hidden_field :keyword, id: "search_keyword_17" %>
          <%= f.submit 'Réinitialiser les filtres', class: "filters-reinitialize-btn" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
