<div>
  <div class="map-ws-popup">
    <span>
      <%= place.full_address.size > 50 ? "#{place.full_address[0..47]}..." : place.full_address %>
    </span>
  </div>
  <div class="map-ws-popup-workshops">
    <% @workshops.select { |w| w.place.longitude == place.longitude && w.place.latitude = place.latitude }.each_with_index do |workshop, index| %>

      <%= link_to workshop_path(workshop) do %>

        <% if index == 0 %>
          <div class="popup-workshop" id="first-popup-workshop">
        <% else %>
          <div class="popup-workshop">
        <% end %>
          <div class="popup-workshop-left-side">
            <div>
              <div class="popup-workshop-organizer">
                <%= workshop.place.user.profile.company %>
              </div>
              <div class="popup-workshop-title">
                <h3><%= workshop.title %></h3>
              </div>
            </div>
            <span class="popup-workshop-price"><%= workshop.price %> €</span>
          </div>
          <div class="popup-workshop-right-side">
            <div class="popup-workshop-rating-tag-container">
              <% if workshop.rating %>
                <div class="popup-workshop-rating">
                  <i class="fas fa-star"></i><span><%= workshop.rating %></span>
                </div>
              <% else %>
                <div class="popup-workshop-rating">
                  <span>nouveau</span>
                </div>
              <% end %>
            </div>
            <% if workshop.photos.attached? %>
              <%= cl_image_tag workshop.photos[0].key, loading: "lazy", width: 80, crop: :fill, alt: "jeu-de-mains-#{workshop.title}", title: "jeu-de-mains-#{workshop.title}" %>
            <% else %>
              <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593177818/jeu-de-mains-atelier.jpg", :loading => "lazy", :width => 80, :crop => :fill, :alt => "jeu-de-mains-#{workshop.title}", :title => "jeu-de-mains-#{workshop.title}") %>
            <% end %>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>
</div>
