<% @random = rand(1..10000) %>
<div id="wsIndexCarousel_<%= workshop.id %>_<%= @random %>" class="carousel slide" data-interval="false">

  <div class="carousel-inner">
    <% if workshop.photos.attached? %>
      <% workshop.photos.each_with_index do |photo, index| %>
        <% if index == 0 %>
          <div class="ws-index-carousel-item carousel-item active">
        <% else %>
          <div class="ws-index-carousel-item carousel-item">
        <% end %>
            <%= cl_image_tag photo.key, loading: "lazy", width: 300, crop: :fill, alt: "jeu-de-mains-#{workshop.title}", title: "jeu-de-mains-#{workshop.title}" %>
          </div>
      <% end %>
    <% else %>
      <div class="ws-index-carousel-item carousel-item active">
        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593177818/jeu-de-mains-atelier.jpg", :loading => "lazy", :width => 300, :crop => :fill, :alt => "jeu-de-mains", :title => "jeu-de-mains") %>
      </div>
      <div class="ws-index-carousel-item carousel-item">
        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593177818/jeu-de-mains-atelier.jpg", :loading => "lazy", :width => 300, :crop => :fill, :alt => "jeu-de-mains", :title => "jeu-de-mains") %>
      </div>
      <div class="ws-index-carousel-item carousel-item">
        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593177818/jeu-de-mains-atelier.jpg", :loading => "lazy", :width => 300, :crop => :fill, :alt => "jeu-de-mains", :title => "jeu-de-mains") %>
      </div>
    <% end %>
  </div>

  <a class="carousel-control-prev" href="#wsIndexCarousel_<%= workshop.id %>_<%= @random %>" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="carousel-control-next" href="#wsIndexCarousel_<%= workshop.id %>_<%= @random %>" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Suivant</span>
  </a>
</div>
