<div id="wsShowCarousel" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <% if @workshop.photos.attached? %>
      <% @workshop.photos.each_with_index do |photo, index| %>
        <% if index == 0 %>
          <div class="ws-show-carousel-item carousel-item active">
        <% else %>
          <div class="ws-show-carousel-item carousel-item">
        <% end %>
            <%= cl_image_tag photo.key, loading: "lazy", width: 800, crop: :fill, alt: "jeu-de-mains-#{@workshop.title}", title: "jeu-de-mains-#{@workshop.title}" %>
          </div>
      <% end %>
    <% else %>
      <div class="ws-show-carousel-item carousel-item active">
        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593177818/jeu-de-mains-atelier.jpg", :loading => "lazy", :width => 800, :crop => :fill, :alt => "jeu-de-mains-#{@workshop.title}", :title => "jeu-de-mains-#{@workshop.title}") %>
      </div>
      <div class="ws-show-carousel-item carousel-item">
        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593177818/jeu-de-mains-atelier.jpg", :loading => "lazy", :width => 800, :crop => :fill, :alt => "jeu-de-mains-#{@workshop.title}", :title => "jeu-de-mains-#{@workshop.title}") %>
      </div>
      <div class="ws-show-carousel-item carousel-item">
        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593177818/jeu-de-mains-atelier.jpg", :loading => "lazy", :width => 800, :crop => :fill, :alt => "jeu-de-mains-#{@workshop.title}", :title => "jeu-de-mains-#{@workshop.title}") %>
      </div>
    <% end %>
    <% if @workshop.place.ephemeral %>
      <div class="ws-show-ephemeral-status">
        <span>
           Cet atelier éphémère a lieu pendant l'événement<br>
          <i class="far fa-star pr-1"></i>
          <%= link_to @workshop.place.name, place_path(@workshop.place) %>
          <i class="far fa-star pl-1"></i>
        </span>
      </div>
    <% end %>
  </div>

  <a class="carousel-control-prev" href="#wsShowCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="carousel-control-next" href="#wsShowCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Suivant</span>
  </a>
</div>
