<div class="confirmation-ws-container">

  <% if @workshop.completed? && @workshop.sessions.where(db_status: true).select { |session| session.start_date >= Date.today }.present? %>
    <h1>Félicitation, votre nouvel atelier est prêt à être mis en ligne !</h1>
    <p>Vous pouvez demander sa mise en ligne dès à présent en cliquant sur le bouton en bas de la page ou le faire ultérieurement depuis votre <strong><%= link_to "tableau de bord", tableau_de_bord_profile_path(current_user.profile) %></strong> où votre projet d’atelier reste sauvegardé en attendant.</p>
    <br>
    <%= cl_image_tag @workshop.photos[0].key, loading: "lazy", width: 150, height: 150, crop: :fill, alt: "jeu-de-mains-#{@workshop.title}", title: "jeu-de-mains-#{@workshop.title}" %>
    <div class="confirmation-ws-infos">
      <h2><%= @workshop.title %></h2>
      <% if @workshop.visio == true %>
        <p>En visioconférence</p>
      <% else %>
        <p>Au <%= @workshop.place.address %> <%= @workshop.place.zip_code %> <%= @workshop.place.city %></p>
      <% end %>
      <% session = @workshop.sessions.where(db_status: true).select { |session| session.start_date >= Date.today }.last %>
      <p>Première session
        <% if session.start_date == session.end_date %>
          le <%= l(session.start_date, format: '%A %d %b %Y') %> de <%= session.start_time %> à <%= session.end_time %>
        <% else %>
          du <%= l(session.start_date, format: '%d %b %Y') %> à <%= session.start_time %> au <%= l(session.end_date, format: '%d %b %Y') %> à <%= session.end_time %>
        <% end %>
      </p>
      <% if @workshop.animators.where(db_status: true).present? %>
        <p>Animé par <%= @workshop.animators.where(db_status: true).last.user.profile.company %></p>
      <% end %>
    </div>
    <br>
    <%= link_to "Prévisualiser la page", workshop_path(@workshop), class: "blue-btn", target: "_blank" %>
    <br>

    <a href="/ateliers/<%=@workshop.id%>/send_verification_mail" class="button">Demander la mise en ligne</a>

  <% else %>

    <h1>Vous souhaitez proposer un nouvel atelier, nous vous en remercions !</h1>
    <p>Pour demander sa mise en ligne, des <strong>compléments d'informations</strong> sont nécessaires.</p><br>
    <% if @workshop.photos.attached? %>
      <%= cl_image_tag @workshop.photos[0].key, loading: "lazy", width: 150, height: 150, crop: :fill, alt: "jeu-de-mains-#{@workshop.title}", title: "jeu-de-mains-#{@workshop.title}" %>
    <% else %>
      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593177818/jeu-de-mains-atelier.jpg", :loading => "lazy", width: 150, height: 150, :crop => :fill, :alt => "jeu-de-mains", :title => "jeu-de-mains") %>
    <% end %>
    <div class="confirmation-ws-infos">
      <% if @workshop.title.present? %>
        <h2><%= @workshop.title %></h2>
      <% end %>
      <% if @workshop.place.present? && @workshop.place.db_status == true %>
        <% if @workshop.visio == true %>
          <p>En visioconférence</p>
        <% else %>
          <p>Au <%= @workshop.place.address %> <%= @workshop.place.zip_code %> <%= @workshop.place.city %></p>
        <% end %>
      <% end %>
      <% if @workshop.sessions.where(db_status: true).select { |session| session.start_date >= Date.today }.present? %>
        <% session = @workshop.sessions.where(db_status: true).select { |session| session.start_date >= Date.today }.last %>
        <p>Première session
          <% if session.start_date == session.end_date %>
            le <%= l(session.start_date, format: '%A %d %b %Y') %> de <%= session.start_time %> à <%= session.end_time %>
          <% else %>
            du <%= l(session.start_date, format: '%d %b %Y') %> à <%= session.start_time %> au <%= l(session.end_date, format: '%d %b %Y') %> à <%= session.end_time %>
          <% end %>
        </p>
      <% end %>
      <% if @workshop.animators.where(db_status: true).present? %>
        <p>Animé par <%= @workshop.animators.where(db_status: true).last.user.profile.company %></p>
      <% end %>
    </div>
    <br>
    <%= link_to "Prévisualiser la page", workshop_path(@workshop), class: "blue-btn", target: "_blank" %>
    <br>

    <% if @workshop.completed? %>
      <p>Votre atelier est prêt mais vous n'avez pas encore ajouté de première date de session</p>
    <% else %>
      <p>Le descriptif de votre atelier est incomplet, voici les informations manquantes :</p><br>
      <ul>
        <% if @workshop.title.present? == false %><li><p>Intitulé de l'atelier</p></li><% end %>
        <% if @workshop.title.present? == false %><li><p>Intitulé de l'atelier</p></li><% end %>
        <% if @workshop.thematic.present? == false %><li><p>Type d'atelier</p></li><% end %>
        <% if @workshop.level.present? == false %><li><p>Niveau requis pour participer</p></li><% end %>
        <% if @workshop.duration.present? == false %><li><p>Durée de l'atelier</p></li><% end %>
        <% if @workshop.final_product.present? == false %><li><p>Nombre de places proposées</p></li><% end %>
        <% if @workshop.price.present? == false || @workshop.price == 0 %><li><p>Prix par personne</p></li><% end %>
        <% if @workshop.program.present? == false %><li><p>Programme</p></li><% end %>
        <% if @workshop.final_product.present? == false %><li><p>Repartez avec</p></li><% end %>
        <% if @workshop.kit == true %>
          <% if @workshop.kit_description.present? == false || @workshop.kit_description.size == 0 %><li><p>Description du kit</p></li><% end %>
          <% if @workshop.kit_shipping_price.present? == false %><li><p>Frais livraison estimés du kit</p></li><% end %>
        <% end %>
      </ul>
    <% end %>
    <p>Pour finaliser votre atelier et demander sa mise en ligne, c’est très simple, il ne vous reste plus qu’à vous rendre sur votre tableau de bord où votre projet d’atelier reste sauvegardé en attendant :</p><br>

    <%= link_to "Mon tableau de bord", tableau_de_bord_profile_path(current_user.profile), class: "button" %>

  <% end %>

</div>


