<% if @workshop %>

  <% content_for :meta_title, "Jeu de Mains | Finalisation création d'atelier" %>

  <!-- NEW WORKSHOP FORM -->

  <div class="dashboard-title-container" id="dashboard-organizer-title-container">
    <h1>
      <span>Finalisez la création de votre atelier !</span>
    </h1>
  </div>

  <div class="new-ws-container">
    <div class="accordion" id="accordionNewWsTwo">

      <!-- FIRST SESSION -->

      <div class="card">
        <div class="card-header card-header-1" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true">
          <span class="title">Ajoutez une première date</span>
          <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
        </div>
        <div id="collapse-1" class="collapse collapse-1 show" data-parent="#accordionNewWsTwo">
          <div class="card-body">
            <strong>Ouvrez la réservation avec une première date d'atelier &#128521;</strong><br>
            Vous n'avez pas encore rempli tous les champs de votre atelier ou ne connaissez pas la première date ? <br>
            Vous pouvez trouver vos ateliers “en ligne” et “hors ligne” dans votre <strong><%= link_to "tableau de bord", tableau_de_bord_profile_path(current_user.profile) %></strong>.
            <br><br>

            <% if @workshop.sessions.present? %>
              <div class="session_success">
                <p>Votre première date a bien été ajoutée :</p>
                <p><%= l(@workshop.sessions.last.start_date, format: '%A %d %b %Y').capitalize %> à <%=@workshop.sessions.last.start_time%> - capacité : <%= @workshop.sessions.last.capacity %> place(s)</p>
              </div>
            <% else %>
              <div class="session_form_container">
                <%= simple_form_for([@workshop, @session]) do |f| %>
                  <%= f.input :start_date, required: true, label: "Début de la première session d'atelier" %>
                  <%= f.input :start_time, required: true, label: "Heure de début", collection: Session::STARTS_AT %>
                  <%= f.input :end_date, required: true, label: "Fin de la première session d'atelier" %>
                  <%= f.input :end_time, required: true, label: "Heure de fin", collection: Session::ENDS_AT %>
                  <%= f.input :capacity, label: "Nombre de places si différent de celui indiqué dans la fiche atelier (sinon laisser vide)" %>

                  <%= f.submit 'Ajouter', class: "button" %>
                <% end %>
              </div>
            <% end %>


            <div class="next-previous">
              <a class="next-previous-button btnNext" id="next-1" >Suivant</a>
            </div>
          </div>
        </div>
      </div>

      <!-- ANIMATORS -->

      <div class="card">
        <div class="card-header card-header-2 collapsed" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
          <span class="title">Animateur de votre atelier</span>
          <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
        </div>
        <div id="collapse-2" class="collapse collapse-2" data-parent="#accordionNewWsTwo">
          <div class="card-body">
            <strong>Par qui cet atelier est-il animé ? Renseignez l'une des trois options &#128521;</strong><br>
            Pour l’atelier que vous souhaitez proposer, vous pouvez désigner votre animateur, il peut être interne à votre structure (vous-même ou un membre de votre équipe) ou bien encore externe. <br>
            Jeu de mains est un melting pot de partenaires, boutiques, ateliers d’artisans, organisateurs d’événements et animateurs freelance… La plateforme n’est pas responsable des collaborations entre les partenaires, même si elle les favorise en mettant des outils à disposition (filtres de recherche des profils, messagerie, liens vers sites web et comptes Instagram…).<br><br>
            <br>
            <p><strong>Option 1 - L’animateur est interne à la structure (moi-même ou un membre de mon équipe)</strong></p>
            <%= link_to "Valider et continuer", confirmation_workshop_path(@workshop), class: "button" %>
            <br><br><br>


            <p class="add-animator-options"><strong>- OU -</strong></p>

            <p><strong>Option 2 - Vous vous êtes entendus avec un animateur externe à votre structure et souhaitez le désigner sur la page de l’atelier</strong><br>
            S’il est déjà membre de Jeu de mains, c’est très simple, il vous suffit de le sélectionner dans le menu déroulant ci-dessous. Autrement vous pouvez l’inviter facilement à rejoindre la communauté Jeu de mains avec l’envoi d’un e-mail automatique en renseignant son adresse.</p>

            <div class='ws-finalisation-add-animator-forms'>
              <%= simple_form_for([@workshop, @animator]) do |f| %>
                <div class="form-group select required animator_user">
                  <label class="select required" for="animator_user_id">L'atelier est animé par :</label>
                  <select class="form-control select required" name="animator[user_id]" id="animator_user_id">
                    <% if @workshop.animators.where(db_status: true).present? %>
                      <option value="<%= @workshop.animators.where(db_status: true).last.user.id %>" selected><%= @workshop.animators.where(db_status: true).last.user.profile.company %></option>
                      <option value="">----------------</option>
                    <% else %>
                      <option value=""></option>
                    <% end %>
                    <% @users.sort_by { |user| user.profile.company }.each do |user| %>
                      <option value="<%= user.id %>"><%= user.profile.company %></option>
                    <% end %>
                  </select>
                </div>
                <%= f.hidden_field :creation, value: true %>
                <%= f.submit "Ajouter et continuer", class: "button" %>
              <% end %>
              <p id="add-animator-or">ou</p>

              <%= simple_form_for :invitation, url: invitation_workshop_path, method: :get do |f| %>
                <%= f.hidden_field :workshop_id, value: @workshop.id %>
                <%= f.input :email, required: false, label: "Invitez l'animateur à rejoindre Jeu de Mains :", placeholder: "E-mail de l'animateur" %>
                <%= f.submit "Inviter et continuer", class: "button" %>
              <% end %>
            </div>
            <br><br>
            <p class="add-animator-options"><strong>- OU -</strong></p>

            <p><strong>Option 3 - Je souhaite publier mon atelier sans désigner d’animateur pour le moment et le faire par la suite si je le souhaite</strong></p>
            <%= link_to "Valider et continuer", confirmation_workshop_path(@workshop), class: "button" %>
            <br><br>

            <div class="next-previous">
              <a class="next-previous-button btnPrevious" id="previous-2" >Retour</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

<% end %>
