<!-- WORKSHOPS INDEX -->

<div class="index-ws-container">

  <button id="mapButton" class="index-ws-map-and-list-button">
    <span>Carte</span>
    <i class="fas fa-map-marked-alt"></i>
  </button>
  <button id="listButton" class="index-ws-map-and-list-button inactive">
    <span>Liste</span>
    <i class="fas fa-list-ul"></i>
  </button>

  <!-- WORKSHOPS INDEX SEARCH & FILTERS -->

  <div class="index-ws-search-filters-container">
    <div class="index-ws-search">
      <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
        <i class="fas fa-search"></i>
        <%= f.input :keyword, required: false, label: false, placeholder: "Nouvelle recherche" %>
      <% end %>
    </div>
    <div class="index-ws-filters">
      <div class="index-ws-filter" id="index-ws-thematic-filter">
        Autour du fil
        <i class="fas fa-check"></i>
      </div>
      <div class="index-ws-filter" id="index-ws-place-filter">
        Paris
        <i class="fas fa-check"></i>
      </div>
      <div class="index-ws-filter" id="index-ws-date-filter">
        23/06/2020
        <i class="fas fa-check"></i>
      </div>
      <div class="index-ws-filter" id="moreFilters">
        Plus de filtres
      </div>
    </div>
  </div>

  <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
      <%= f.input :order, as: :radio_buttons, collection: ['Recommandation', 'Dates proches', 'Prix croissants', 'Prix décroissants', 'Les mieux notés'], required: false, label: 'Trier par', checked: params[:search][:order] %>
      <div class="form-group">
        <label for="formControlRange">Prix</label>
        <input type="range" class="form-control-range" id="formControlRange" min="<%= @min_price %>" max="<%= @max_price %>" name="search[price]">
      </div>
      <%= f.input :keyword, required: false, label: "Type d'atelier", prompt: "Tous types", collection: Workshop::THEMATICS, selected: params[:search][:keyword] %>
      <%= f.input :place, required: false, label: "Ville", prompt: "Toutes les villes", collection: Place.cities.sort, selected: params[:search][:place] %>
      <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker datepicker_start_date"}, placeholder: "À tout moment", label: "À partir du" %>
      <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: "À tout moment", label: "Jusqu'au" %>
      <%= f.submit 'Nouvelle recherche' %>
  <% end %>

  <!-- WORKSHOPS INDEX CARDS RESULTS -->
  <div class= "index-ws-cards-map-container">
    <div class="index-ws-left-side">
      <% if @workshops %>
        <h1>Nous avons trouvé <span id="index-ws-title-strong"><%= @workshops.count %> ateliers créatifs</span> correspondant à votre recherche</h1>

        <div class= "index-ws-cards">
          <% @workshops.each do |workshop| %>

            <div class="ws-card" id="index-ws-card">
              <%= link_to(workshop, data: { turbolinks: false }) do  %>
                <div class="ws-card-image-and-rating" id="index-ws-card-image-and-rating">
                  <div class="ws-card-tags" id="index-ws-card-tags">
                    <% if workshop.rating %>
                      <div class="ws-card-tag ws-card-rating" id="index-ws-card-rating">
                        <i class="fas fa-star"></i><span><%= workshop.rating %></span>
                      </div>
                    <% end %>
                    <% if workshop.place.ephemeral == true %>
                      <div class="ws-card-tag ws-card-ephemeral" id="index-ws-card-ephemeral">
                        <span>éphémère</span>
                      </div>
                    <% end %>
                  </div>
                  <%= render "ws-index-carousel", workshop: workshop %>
                </div>
              <% end %>
              <%= link_to(workshop, data: { turbolinks: false }) do  %>
                <div class="ws-card-infos" id="index-ws-card-infos">
                  <div>
                    <div class="ws-card-place" id="index-ws-card-place-desktop">
                      <% if workshop.place.name.size > 19 %>
                        <h3><%= workshop.place.name[0..17] %>...</h3>
                      <% else %>
                        <h3><%= workshop.place.name %></h3>
                      <% end %>
                    </div>
                    <div class="ws-card-place" id="index-ws-card-place-mobile">
                      <% if workshop.place.name.size > 17 %>
                        <h3><%= workshop.place.name[0..16] %>...</h3>
                      <% else %>
                        <h3><%= workshop.place.name %></h3>
                      <% end %>
                    </div>
                    <div class="ws-card-title" id="index-ws-card-title">
                      <% if workshop.title.size > 33 %>
                        <h2><%= workshop.title[0..31] %>...</h2>
                      <% else %>
                        <h2><%= workshop.title %></h2>
                      <% end %>
                    </div>
                  </div>
                  <div class="ws-card-price-and-city" id="index-ws-card-price-and-city">
                    <div class="ws-card-price" id="index-ws-card-price">
                      <%= workshop.price %> €
                    </div>
                    <div class="ws-card-city" id="index-ws-card-city">
                      <i class="fas fa-map-marker-alt"></i>
                      <% if workshop.place.city.size >= 11 %>
                        <span id="city-name"><%= workshop.place.city[0..11].capitalize %>...</span>
                      <% else %>
                        <span id="city-name"><%= workshop.place.city.capitalize %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>

        </div>

      <% else %>
        <div class="index-ws-no-result">
          Nous n'avons pas trouvé de résultat pour votre recherche...
        </div>
      <% end %>
    </div>
    <div id="map" class="ws-map"
             style="width: 100%; height: 100vh; top: 0;"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>
