<!-- WORKSHOPS INDEX -->

<% content_for :meta_title, "Jeu de Mains | Ateliers" %>
<% content_for :meta_description, "Description JDM ateliers " %>

<div class="index-ws-container">

  <% if @workshops.count > 0 %>
    <button id="mapButton" class="index-ws-map-and-list-button">
      <span>Carte</span>
      <i class="fas fa-map-marked-alt"></i>
    </button>
  <% end %>

  <button id="listButton" class="index-ws-map-and-list-button inactive">
    <span>Liste</span>
    <i class="fas fa-list-ul"></i>
  </button>


  <!-- WORKSHOPS INDEX SEARCH & FILTERS -->

  <div class="index-ws-search-filters-container">
    <div class="ws-index-search-parameters inner-content scroller">
      <% if params[:search].present? %>

        <!-- Order -->

        <% if params[:search][:order].present? && params[:search][:order] != "Recommandation" %>
          <div class="form-container-order">
            <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
              <%= f.hidden_field :keyword, value: params[:search][:keyword], id: "search_keyword_1" %>
              <%= f.hidden_field :place, value: params[:search][:place], id: "search_place_1" %>
              <%= f.hidden_field :selection, value: params[:search][:selection], id: "search_selection_1" %>
              <%= f.hidden_field :min_capacity, value: params[:search][:min_capacity], id: "search_min_capacity_1" %>
              <%= f.hidden_field :level, value: params[:search][:level], id: "search_level_1" %>
              <%= f.hidden_field :moment, value: params[:search][:moment], id: "search_moment_1" %>
              <%= f.hidden_field :starts_at, value: Date.strptime(params[:search][:starts_at], '%Y-%m-%d'), id: "search_starts_at_1" if params[:search][:starts_at].present? %>
              <%= f.hidden_field :ends_at, value: Date.strptime(params[:search][:ends_at], '%Y-%m-%d'), id: "search_ends_at_1" if params[:search][:ends_at].present? %>
              <%= f.hidden_field :min_price, value: params[:search][:min_price].to_f, id: "search_min_price_1" %>
              <%= f.hidden_field :order, value: 'Recommandation', id: "search_order_1" %>
              <% if params[:search][:max_price].present? %>
                <%= f.hidden_field :max_price, value: params[:search][:max_price].to_f, id: "search_max_price_1" %>
              <% else %>
                <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_1" %>
              <% end %>
              <% if params[:search][:visio].present? %>
                <%= f.hidden_field :visio, value: params[:search][:visio], id: "search_visio_1" %>
              <% else %>
                <%= f.hidden_field :visio, value: true, id: "search_visio_1" %>
              <% end %>
              <% if params[:search][:ephemeral].present? %>
                <%= f.hidden_field :ephemeral, value: params[:search][:ephemeral], id: "search_ephemeral_1" %>
              <% else %>
                <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_1" %>
              <% end %>

              <%= button_tag(type: "submit", class: "ws-index-search-tag") do %>
                <%= params[:search][:order] %> <i class="fas fa-times ml-2"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <!-- Thematic -->

        <% if params[:search][:keyword].present? %>
          <div class="form-container-keyword">
            <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
              <%= f.hidden_field :place, value: params[:search][:place], id: "search_place_2" %>
              <%= f.hidden_field :selection, value: params[:search][:selection], id: "search_selection_2" %>
              <%= f.hidden_field :min_capacity, value: params[:search][:min_capacity], id: "search_min_capacity_2" %>
              <%= f.hidden_field :level, value: params[:search][:level], id: "search_level_2" %>
              <%= f.hidden_field :moment, value: params[:search][:moment], id: "search_moment_2" %>
              <%= f.hidden_field :starts_at, value: Date.strptime(params[:search][:starts_at], '%Y-%m-%d'), id: "search_starts_at_2" if params[:search][:starts_at].present? %>
              <%= f.hidden_field :ends_at, value: Date.strptime(params[:search][:ends_at], '%Y-%m-%d'), id: "search_ends_at_2" if params[:search][:ends_at].present? %>
              <%= f.hidden_field :min_price, value: params[:search][:min_price].to_f, id: "search_min_price_2" %>
              <%= f.hidden_field :keyword, id: "search_keyword_2" %>
              <% if params[:search][:max_price].present? %>
                <%= f.hidden_field :max_price, value: params[:search][:max_price].to_f, id: "search_max_price_2" %>
              <% else %>
                <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_2" %>
              <% end %>
              <% if params[:search][:order].present?  %>
                <%= f.hidden_field :order, value: params[:search][:order], id: "search_order_2" %>
              <% else %>
                <%= f.hidden_field :order, value: 'Recommandation', id: "search_order_2" %>
              <% end %>
              <% if params[:search][:visio].present? %>
                <%= f.hidden_field :visio, value: params[:search][:visio], id: "search_visio_2" %>
              <% else %>
                <%= f.hidden_field :visio, value: true, id: "search_visio_2" %>
              <% end %>
              <% if params[:search][:ephemeral].present? %>
                <%= f.hidden_field :ephemeral, value: params[:search][:ephemeral], id: "search_ephemeral_2" %>
              <% else %>
                <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_2" %>
              <% end %>

              <%= button_tag(type: "submit", class: "ws-index-search-tag") do %>
                <%= params[:search][:keyword] %> <i class="fas fa-times ml-2"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <!-- City / District -->

        <% if params[:search][:place].present? %>
          <div class="form-container-place">
            <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
              <%= f.hidden_field :keyword, value: params[:search][:keyword], id: "search_keyword_3" %>
              <%= f.hidden_field :selection, value: params[:search][:selection], id: "search_selection_3" %>
              <%= f.hidden_field :min_capacity, value: params[:search][:min_capacity], id: "search_min_capacity_3" %>
              <%= f.hidden_field :level, value: params[:search][:level], id: "search_level_3" %>
              <%= f.hidden_field :moment, value: params[:search][:moment], id: "search_moment_3" %>
              <%= f.hidden_field :starts_at, value: Date.strptime(params[:search][:starts_at], '%Y-%m-%d'), id: "search_starts_at_3" if params[:search][:starts_at].present? %>
              <%= f.hidden_field :ends_at, value: Date.strptime(params[:search][:ends_at], '%Y-%m-%d'), id: "search_ends_at_3" if params[:search][:ends_at].present? %>
              <%= f.hidden_field :min_price, value: params[:search][:min_price].to_f, id: "search_min_price_3" %>
              <%= f.hidden_field :place, id: "search_place_3" %>
              <% if params[:search][:max_price].present? %>
                <%= f.hidden_field :max_price, value: params[:search][:max_price].to_f, id: "search_max_price_3" %>
              <% else %>
                <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_3" %>
              <% end %>
              <% if params[:search][:order].present?  %>
                <%= f.hidden_field :order, value: params[:search][:order], id: "search_order_3" %>
              <% else %>
                <%= f.hidden_field :order, value: 'Recommandation', id: "search_order_3" %>
              <% end %>
              <% if params[:search][:visio].present? %>
                <%= f.hidden_field :visio, value: params[:search][:visio], id: "search_visio_3" %>
              <% else %>
                <%= f.hidden_field :visio, value: true, id: "search_visio_3" %>
              <% end %>
              <% if params[:search][:ephemeral].present? %>
                <%= f.hidden_field :ephemeral, value: params[:search][:ephemeral], id: "search_ephemeral_3" %>
              <% else %>
                <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_3" %>
              <% end %>
              <%= button_tag(type: "submit", class: "ws-index-search-tag") do %>
                <%= params[:search][:place] %> <i class="fas fa-times ml-2"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <!-- Key-word -->

        <% if params[:search][:selection].present? %>
          <div class="form-container-selection">
            <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
              <%= f.hidden_field :keyword, value: params[:search][:keyword], id: "search_keyword_4" %>
              <%= f.hidden_field :place, value: params[:search][:place], id: "search_place_4" %>
              <%= f.hidden_field :min_capacity, value: params[:search][:min_capacity], id: "search_min_capacity_4" %>
              <%= f.hidden_field :level, value: params[:search][:level], id: "search_level_4" %>
              <%= f.hidden_field :moment, value: params[:search][:moment], id: "search_moment_4" %>
              <%= f.hidden_field :starts_at, value: Date.strptime(params[:search][:starts_at], '%Y-%m-%d'), id: "search_starts_at_4" if params[:search][:starts_at].present? %>
              <%= f.hidden_field :ends_at, value: Date.strptime(params[:search][:ends_at], '%Y-%m-%d'), id: "search_ends_at_4" if params[:search][:ends_at].present? %>
              <%= f.hidden_field :min_price, value: params[:search][:min_price].to_f, id: "search_min_price_4" %>
              <%= f.hidden_field :selection, id: "search_selection_4" %>
              <% if params[:search][:max_price].present? %>
                <%= f.hidden_field :max_price, value: params[:search][:max_price].to_f, id: "search_max_price_4" %>
              <% else %>
                <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_4" %>
              <% end %>
              <% if params[:search][:order].present?  %>
                <%= f.hidden_field :order, value: params[:search][:order], id: "search_order_4" %>
              <% else %>
                <%= f.hidden_field :order, value: 'Recommandation', id: "search_order_4" %>
              <% end %>
              <% if params[:search][:visio].present? %>
                <%= f.hidden_field :visio, value: params[:search][:visio], id: "search_visio_4" %>
              <% else %>
                <%= f.hidden_field :visio, value: true, id: "search_visio_4" %>
              <% end %>
              <% if params[:search][:ephemeral].present? %>
                <%= f.hidden_field :ephemeral, value: params[:search][:ephemeral], id: "search_ephemeral_4" %>
              <% else %>
                <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_4" %>
              <% end %>

              <%= button_tag(type: "submit", class: "ws-index-search-tag") do %>
                Mot-clé : <%= params[:search][:selection] %> <i class="fas fa-times ml-2"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <!-- Dates -->

        <% if params[:search][:starts_at].present? || params[:search][:ends_at].present? %>
          <div class="form-container-dates">
            <% if params[:search][:starts_at].present? && params[:search][:ends_at].present? %>

              <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
                <%= f.hidden_field :keyword, value: params[:search][:keyword], id: "search_keyword_5" %>
                <%= f.hidden_field :place, value: params[:search][:place], id: "search_place_5" %>
                <%= f.hidden_field :selection, value: params[:search][:selection], id: "search_selection_5" %>
                <%= f.hidden_field :level, value: params[:search][:level], id: "search_level_5" %>
                <%= f.hidden_field :moment, value: params[:search][:moment], id: "search_moment_5" %>
                <%= f.hidden_field :min_capacity, value: params[:search][:min_capacity], id: "search_min_capacity_5" %>
                <%= f.hidden_field :min_price, value: params[:search][:min_price].to_f, id: "search_min_price_5" %>
                <%= f.hidden_field :starts_at, id: "search_starts_at_5" %>
                <%= f.hidden_field :ends_at, id: "search_ends_at_5" %>
                <% if params[:search][:max_price].present? %>
                  <%= f.hidden_field :max_price, value: params[:search][:max_price].to_f, id: "search_max_price_5" %>
                <% else %>
                  <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_5" %>
                <% end %>
                <% if params[:search][:order].present?  %>
                  <%= f.hidden_field :order, value: params[:search][:order], id: "search_order_5" %>
                <% else %>
                  <%= f.hidden_field :order, value: 'Recommandation', id: "search_order_5" %>
                <% end %>
                <% if params[:search][:visio].present? %>
                  <%= f.hidden_field :visio, value: params[:search][:visio], id: "search_visio_5" %>
                <% else %>
                  <%= f.hidden_field :visio, value: true, id: "search_visio_5" %>
                <% end %>
                <% if params[:search][:ephemeral].present? %>
                  <%= f.hidden_field :ephemeral, value: params[:search][:ephemeral], id: "search_ephemeral_5" %>
                <% else %>
                  <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_5" %>
                <% end %>

                <%= button_tag(type: "submit", class: "ws-index-search-tag") do %>
                  <%= Date.strptime(params[:search][:starts_at], '%Y-%m-%d').strftime('%d/%m/%Y') %> au <%= Date.strptime(params[:search][:ends_at], '%Y-%m-%d').strftime('%d/%m/%Y')%> <i class="fas fa-times ml-2"></i>
                <% end %>
              <% end %>

            <% elsif params[:search][:starts_at].present? %>

              <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
                <%= f.hidden_field :keyword, value: params[:search][:keyword], id: "search_keyword_6" %>
                <%= f.hidden_field :place, value: params[:search][:place], id: "search_place_6" %>
                <%= f.hidden_field :selection, value: params[:search][:selection], id: "search_selection_6" %>
                <%= f.hidden_field :level, value: params[:search][:level], id: "search_level_6" %>
                <%= f.hidden_field :moment, value: params[:search][:moment], id: "search_moment_6" %>
                <%= f.hidden_field :min_capacity, value: params[:search][:min_capacity], id: "search_min_capacity_6" %>
                <%= f.hidden_field :ends_at, value: Date.strptime(params[:search][:ends_at], '%Y-%m-%d'), id: "search_ends_at_6" if params[:search][:ends_at].present? %>
                <%= f.hidden_field :min_price, value: params[:search][:min_price].to_f, id: "search_min_price_6" %>
                <%= f.hidden_field :starts_at, id: "search_starts_at_6" %>
                <% if params[:search][:max_price].present? %>
                  <%= f.hidden_field :max_price, value: params[:search][:max_price].to_f, id: "search_max_price_6" %>
                <% else %>
                  <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_6" %>
                <% end %>
                <% if params[:search][:order].present?  %>
                  <%= f.hidden_field :order, value: params[:search][:order], id: "search_order_6" %>
                <% else %>
                  <%= f.hidden_field :order, value: 'Recommandation', id: "search_order_6" %>
                <% end %>
                <% if params[:search][:visio].present? %>
                  <%= f.hidden_field :visio, value: params[:search][:visio], id: "search_visio_6" %>
                <% else %>
                  <%= f.hidden_field :visio, value: true, id: "search_visio_6" %>
                <% end %>
                <% if params[:search][:ephemeral].present? %>
                  <%= f.hidden_field :ephemeral, value: params[:search][:ephemeral], id: "search_ephemeral_6" %>
                <% else %>
                  <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_6" %>
                <% end %>
                <%= button_tag(type: "submit", class: "ws-index-search-tag") do %>
                  À partir du <%= Date.strptime(params[:search][:starts_at], '%Y-%m-%d').strftime('%d/%m/%Y') %> <i class="fas fa-times ml-2"></i>
                <% end %>
              <% end %>

            <% elsif params[:search][:ends_at].present? %>

              <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
                <%= f.hidden_field :keyword, value: params[:search][:keyword], id: "search_keyword_7" %>
                <%= f.hidden_field :place, value: params[:search][:place], id: "search_place_7" %>
                <%= f.hidden_field :selection, value: params[:search][:selection], id: "search_selection_7" %>
                <%= f.hidden_field :level, value: params[:search][:level], id: "search_level_7" %>
                <%= f.hidden_field :moment, value: params[:search][:moment], id: "search_moment_7" %>
                <%= f.hidden_field :min_capacity, value: params[:search][:min_capacity], id: "search_min_capacity_7" %>
                <%= f.hidden_field :starts_at, value: Date.strptime(params[:search][:starts_at], '%Y-%m-%d'), id: "search_starts_at_7" if params[:search][:starts_at].present? %>
                <%= f.hidden_field :min_price, value: params[:search][:min_price].to_f, id: "search_min_price_7" %>
                <%= f.hidden_field :ends_at, id: "search_ends_at_7" %>
                <% if params[:search][:max_price].present? %>
                  <%= f.hidden_field :max_price, value: params[:search][:max_price].to_f, id: "search_max_price_7" %>
                <% else %>
                  <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_7" %>
                <% end %>
                <% if params[:search][:order].present?  %>
                  <%= f.hidden_field :order, value: params[:search][:order], id: "search_order_7" %>
                <% else %>
                  <%= f.hidden_field :order, value: 'Recommandation', id: "search_order_7" %>
                <% end %>
                <% if params[:search][:visio].present? %>
                  <%= f.hidden_field :visio, value: params[:search][:visio], id: "search_visio_7" %>
                <% else %>
                  <%= f.hidden_field :visio, value: true, id: "search_visio_7" %>
                <% end %>
                <% if params[:search][:ephemeral].present? %>
                  <%= f.hidden_field :ephemeral, value: params[:search][:ephemeral], id: "search_ephemeral_7" %>
                <% else %>
                  <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_7" %>
                <% end %>
                <%= button_tag(type: "submit", class: "ws-index-search-tag") do %>
                  Jusqu'au <%= Date.strptime(params[:search][:ends_at], '%Y-%m-%d').strftime('%d/%m/%Y') %> <i class="fas fa-times ml-2"></i>
                <% end %>
              <% end %>

            <% end %>
          </div>
        <% end %>

        <!-- Min and max price -->

        <% if params[:search][:min_price].present? || params[:search][:max_price].present? %>
          <% if params[:search][:min_price].present? && params[:search][:max_price].present? && params[:search][:min_price].to_i != 0 && params[:search][:max_price].to_i != 0 && params[:search][:max_price].to_i != @max_price %>
            <div class="form-container-min-max-price">
              <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
                <%= f.hidden_field :keyword, value: params[:search][:keyword], id: "search_keyword_8" %>
                <%= f.hidden_field :place, value: params[:search][:place], id: "search_place_8" %>
                <%= f.hidden_field :selection, value: params[:search][:selection], id: "search_selection_8" %>
                <%= f.hidden_field :level, value: params[:search][:level], id: "search_level_8" %>
                <%= f.hidden_field :moment, value: params[:search][:moment], id: "search_moment_8" %>
                <%= f.hidden_field :min_capacity, value: params[:search][:min_capacity], id: "search_min_capacity_8" %>
                <%= f.hidden_field :starts_at, value: Date.strptime(params[:search][:starts_at], '%Y-%m-%d'), id: "search_starts_at_8" if params[:search][:starts_at].present? %>
                <%= f.hidden_field :ends_at, value: Date.strptime(params[:search][:ends_at], '%Y-%m-%d'), id: "search_ends_at_8" if params[:search][:ends_at].present? %>
                <%= f.hidden_field :min_price, value: 0, id: "search_min_price_8" %>
                <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_8" %>
                <% if params[:search][:order].present?  %>
                  <%= f.hidden_field :order, value: params[:search][:order], id: "search_order_8" %>
                <% else %>
                  <%= f.hidden_field :order, value: 'Recommandation', id: "search_order_8" %>
                <% end %>
                <% if params[:search][:visio].present? %>
                  <%= f.hidden_field :visio, value: params[:search][:visio], id: "search_visio_8" %>
                <% else %>
                  <%= f.hidden_field :visio, value: true, id: "search_visio_8" %>
                <% end %>
                <% if params[:search][:ephemeral].present? %>
                  <%= f.hidden_field :ephemeral, value: params[:search][:ephemeral], id: "search_ephemeral_8" %>
                <% else %>
                  <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_8" %>
                <% end %>
                <%= button_tag(type: "submit", class: "ws-index-search-tag") do %>
                  De <%= params[:search][:min_price].to_i %> à <%= params[:search][:max_price].to_i %> € <i class="fas fa-times ml-2"></i>
                <% end %>
              <% end %>
            </div>


          <% elsif params[:search][:min_price].present? && params[:search][:min_price].to_i != 0 %>
            <div class="form-container-min-price">
              <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
                <%= f.hidden_field :keyword, value: params[:search][:keyword], id: "search_keyword_9" %>
                <%= f.hidden_field :place, value: params[:search][:place], id: "search_place_9" %>
                <%= f.hidden_field :selection, value: params[:search][:selection], id: "search_selection_9" %>
                <%= f.hidden_field :level, value: params[:search][:level], id: "search_level_9" %>
                <%= f.hidden_field :moment, value: params[:search][:moment], id: "search_moment_9" %>
                <%= f.hidden_field :min_capacity, value: params[:search][:min_capacity], id: "search_min_capacity_9" %>
                <%= f.hidden_field :starts_at, value: Date.strptime(params[:search][:starts_at], '%Y-%m-%d'), id: "search_starts_at_9" if params[:search][:starts_at].present? %>
                <%= f.hidden_field :ends_at, value: Date.strptime(params[:search][:ends_at], '%Y-%m-%d'), id: "search_ends_at_9" if params[:search][:ends_at].present? %>
                <%= f.hidden_field :min_price, value: 0, id: "search_min_price_9" %>
                <% if params[:search][:max_price].present? %>
                  <%= f.hidden_field :max_price, value: params[:search][:max_price].to_f, id: "search_max_price_9" %>
                <% else %>
                  <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_9" %>
                <% end %>
                <% if params[:search][:order].present?  %>
                  <%= f.hidden_field :order, value: params[:search][:order], id: "search_order_9" %>
                <% else %>
                  <%= f.hidden_field :order, value: 'Recommandation', id: "search_order_9" %>
                <% end %>
                <% if params[:search][:visio].present? %>
                  <%= f.hidden_field :visio, value: params[:search][:visio], id: "search_visio_9" %>
                <% else %>
                  <%= f.hidden_field :visio, value: true, id: "search_visio_9" %>
                <% end %>
                <% if params[:search][:ephemeral].present? %>
                  <%= f.hidden_field :ephemeral, value: params[:search][:ephemeral], id: "search_ephemeral_9" %>
                <% else %>
                  <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_9" %>
                <% end %>

                <%= button_tag(type: "submit", class: "ws-index-search-tag") do %>
                  Min. <%= params[:search][:min_price].to_i %> € <i class="fas fa-times ml-2"></i>
                <% end %>
              <% end %>
            </div>


          <% elsif params[:search][:max_price].present? && params[:search][:max_price].to_i != 0 && params[:search][:max_price].to_i != @max_price %>
            <div class="form-container-max-price">
              <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
                <%= f.hidden_field :keyword, value: params[:search][:keyword], id: "search_keyword_10" %>
                <%= f.hidden_field :place, value: params[:search][:place], id: "search_place_10" %>
                <%= f.hidden_field :selection, value: params[:search][:selection], id: "search_selection_10" %>
                <%= f.hidden_field :level, value: params[:search][:level], id: "search_level_10" %>
                <%= f.hidden_field :moment, value: params[:search][:moment], id: "search_moment_10" %>
                <%= f.hidden_field :min_capacity, value: params[:search][:min_capacity], id: "search_min_capacity_10" %>
                <%= f.hidden_field :starts_at, value: Date.strptime(params[:search][:starts_at], '%Y-%m-%d'), id: "search_starts_at_10" if params[:search][:starts_at].present? %>
                <%= f.hidden_field :ends_at, value: Date.strptime(params[:search][:ends_at], '%Y-%m-%d'), id: "search_ends_at_10" if params[:search][:ends_at].present? %>
                <%= f.hidden_field :min_price, value: params[:search][:min_price].to_f, id: "search_min_price_10" %>
                <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_10" %>
                <% if params[:search][:order].present?  %>
                  <%= f.hidden_field :order, value: params[:search][:order], id: "search_order_10" %>
                <% else %>
                  <%= f.hidden_field :order, value: 'Recommandation', id: "search_order_10" %>
                <% end %>
                <% if params[:search][:visio].present? %>
                  <%= f.hidden_field :visio, value: params[:search][:visio], id: "search_visio_10" %>
                <% else %>
                  <%= f.hidden_field :visio, value: true, id: "search_visio_10" %>
                <% end %>
                <% if params[:search][:ephemeral].present? %>
                  <%= f.hidden_field :ephemeral, value: params[:search][:ephemeral], id: "search_ephemeral_10" %>
                <% else %>
                  <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_10" %>
                <% end %>
                <%= button_tag(type: "submit", class: "ws-index-search-tag") do %>
                  Max. <%= params[:search][:max_price].to_i %> € <i class="fas fa-times ml-2"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <!-- Min. capacity -->

        <% if params[:search][:min_capacity].present? %>
          <% if params[:search][:min_capacity].to_i > 1 %>
            <div class="form-container-min-capacity">
              <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
                <%= f.hidden_field :keyword, value: params[:search][:keyword], id: "search_keyword_11" %>
                <%= f.hidden_field :place, value: params[:search][:place], id: "search_place_11" %>
                <%= f.hidden_field :selection, value: params[:search][:selection], id: "search_selection_11" %>
                <%= f.hidden_field :level, value: params[:search][:level], id: "search_level_11" %>
                <%= f.hidden_field :moment, value: params[:search][:moment], id: "search_moment_11" %>
                <%= f.hidden_field :starts_at, value: Date.strptime(params[:search][:starts_at], '%Y-%m-%d'), id: "search_starts_at_11" if params[:search][:starts_at].present? %>
                <%= f.hidden_field :ends_at, value: Date.strptime(params[:search][:ends_at], '%Y-%m-%d'), id: "search_ends_at_11" if params[:search][:ends_at].present? %>
                <%= f.hidden_field :min_price, value: params[:search][:min_price].to_f, id: "search_min_price_11" %>
                <%= f.hidden_field :min_capacity, id: "search_min_capacity_11" %>
                <% if params[:search][:max_price].present? %>
                  <%= f.hidden_field :max_price, value: params[:search][:max_price].to_f, id: "search_max_price_11" %>
                <% else %>
                  <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_11" %>
                <% end %>
                <% if params[:search][:order].present?  %>
                  <%= f.hidden_field :order, value: params[:search][:order], id: "search_order_11" %>
                <% else %>
                  <%= f.hidden_field :order, value: 'Recommandation', id: "search_order_11" %>
                <% end %>
                <% if params[:search][:visio].present? %>
                  <%= f.hidden_field :visio, value: params[:search][:visio], id: "search_visio_11" %>
                <% else %>
                  <%= f.hidden_field :visio, value: true, id: "search_visio_11" %>
                <% end %>
                <% if params[:search][:ephemeral].present? %>
                  <%= f.hidden_field :ephemeral, value: params[:search][:ephemeral], id: "search_ephemeral_11" %>
                <% else %>
                  <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_11" %>
                <% end %>
                <%= button_tag(type: "submit", class: "ws-index-search-tag") do %>
                  Min. <%= params[:search][:min_capacity] %> personnes <i class="fas fa-times ml-2"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <!-- Level -->

        <% if params[:search][:level].present? %>
          <div class="form-container-level">
            <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
              <%= f.hidden_field :keyword, value: params[:search][:keyword], id: "search_keyword_12" %>
              <%= f.hidden_field :place, value: params[:search][:place], id: "search_place_12" %>
              <%= f.hidden_field :selection, value: params[:search][:selection], id: "search_selection_12" %>
              <%= f.hidden_field :min_capacity, value: params[:search][:min_capacity], id: "search_min_capacity_12" %>
              <%= f.hidden_field :moment, value: params[:search][:moment], id: "search_moment_12" %>
              <%= f.hidden_field :starts_at, value: Date.strptime(params[:search][:starts_at], '%Y-%m-%d'), id: "search_starts_at_12" if params[:search][:starts_at].present? %>
              <%= f.hidden_field :ends_at, value: Date.strptime(params[:search][:ends_at], '%Y-%m-%d'), id: "search_ends_at_12" if params[:search][:ends_at].present? %>
              <%= f.hidden_field :min_price, value: params[:search][:min_price].to_f, id: "search_min_price_12" %>
              <%= f.hidden_field :level, id: "search_level_12" %>
              <% if params[:search][:max_price].present? %>
                <%= f.hidden_field :max_price, value: params[:search][:max_price].to_f, id: "search_max_price_12" %>
              <% else %>
                <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_12" %>
              <% end %>
              <% if params[:search][:order].present?  %>
                <%= f.hidden_field :order, value: params[:search][:order], id: "search_order_12" %>
              <% else %>
                <%= f.hidden_field :order, value: 'Recommandation', id: "search_order_12" %>
              <% end %>
              <% if params[:search][:visio].present? %>
                <%= f.hidden_field :visio, value: params[:search][:visio], id: "search_visio_12" %>
              <% else %>
                <%= f.hidden_field :visio, value: true, id: "search_visio_12" %>
              <% end %>
              <% if params[:search][:ephemeral].present? %>
                <%= f.hidden_field :ephemeral, value: params[:search][:ephemeral], id: "search_ephemeral_12" %>
              <% else %>
                <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_12" %>
              <% end %>

              <%= button_tag(type: "submit", class: "ws-index-search-tag") do %>
                <%= params[:search][:level] %> <i class="fas fa-times ml-2"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <!-- Moment of the day -->

        <% if params[:search][:moment].present? %>
          <div class="form-container-moment">
            <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
              <%= f.hidden_field :keyword, value: params[:search][:keyword], id: "search_keyword_13" %>
              <%= f.hidden_field :place, value: params[:search][:place], id: "search_place_13" %>
              <%= f.hidden_field :selection, value: params[:search][:selection], id: "search_selection_13" %>
              <%= f.hidden_field :level, value: params[:search][:level], id: "search_level_13" %>
              <%= f.hidden_field :min_capacity, value: params[:search][:min_capacity], id: "search_min_capacity_13" %>
              <%= f.hidden_field :starts_at, value: Date.strptime(params[:search][:starts_at], '%Y-%m-%d'), id: "search_starts_at_13" if params[:search][:starts_at].present? %>
              <%= f.hidden_field :ends_at, value: Date.strptime(params[:search][:ends_at], '%Y-%m-%d'), id: "search_ends_at_13" if params[:search][:ends_at].present? %>
              <%= f.hidden_field :min_price, value: params[:search][:min_price].to_f, id: "search_min_price_13" %>
              <%= f.hidden_field :moment, id: "search_moment_13" %>
              <% if params[:search][:max_price].present? %>
                <%= f.hidden_field :max_price, value: params[:search][:max_price].to_f, id: "search_max_price_13" %>
              <% else %>
                <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_13" %>
              <% end %>
              <% if params[:search][:order].present?  %>
                <%= f.hidden_field :order, value: params[:search][:order], id: "search_order_13" %>
              <% else %>
                <%= f.hidden_field :order, value: 'Recommandation', id: "search_order_13" %>
              <% end %>
              <% if params[:search][:visio].present? %>
                <%= f.hidden_field :visio, value: params[:search][:visio], id: "search_visio_13" %>
              <% else %>
                <%= f.hidden_field :visio, value: true, id: "search_visio_13" %>
              <% end %>
              <% if params[:search][:ephemeral].present? %>
                <%= f.hidden_field :ephemeral, value: params[:search][:ephemeral], id: "search_ephemeral_13" %>
              <% else %>
                <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_13" %>
              <% end %>
              <%= button_tag(type: "submit", class: "ws-index-search-tag") do %>
                <%= params[:search][:moment] %> <i class="fas fa-times ml-2"></i>
              <% end %>
            <% end %>

          </div>
        <% end %>

        <!-- Permanent -->

        <% if params[:search][:ephemeral].present? %>
          <% if params[:search][:ephemeral] == 'false' %>
            <div class="form-container-ephemeral">
              <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
                <%= f.hidden_field :keyword, value: params[:search][:keyword], id: "search_keyword_14" %>
                <%= f.hidden_field :place, value: params[:search][:place], id: "search_place_14" %>
                <%= f.hidden_field :selection, value: params[:search][:selection], id: "search_selection_14" %>
                <%= f.hidden_field :level, value: params[:search][:level], id: "search_level_14" %>
                <%= f.hidden_field :moment, value: params[:search][:moment], id: "search_moment_14" %>
                <%= f.hidden_field :min_capacity, value: params[:search][:min_capacity], id: "search_min_capacity_14" %>
                <%= f.hidden_field :starts_at, value: Date.strptime(params[:search][:starts_at], '%Y-%m-%d'), id: "search_starts_at_14" if params[:search][:starts_at].present? %>
                <%= f.hidden_field :ends_at, value: Date.strptime(params[:search][:ends_at], '%Y-%m-%d'), id: "search_ends_at_14" if params[:search][:ends_at].present? %>
                <%= f.hidden_field :min_price, value: params[:search][:min_price].to_f, id: "search_min_price_14" %>
                <% if params[:search][:visio].present? %>
                  <%= f.hidden_field :visio, value: params[:search][:visio], id: "search_visio_14" %>
                <% else %>
                  <%= f.hidden_field :visio, value: true, id: "search_visio_14" %>
                <% end %>
                <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_14" %>
                <% if params[:search][:max_price].present? %>
                  <%= f.hidden_field :max_price, value: params[:search][:max_price].to_f, id: "search_max_price_14" %>
                <% else %>
                  <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_14" %>
                <% end %>
                <% if params[:search][:order].present?  %>
                  <%= f.hidden_field :order, value: params[:search][:order], id: "search_order_14" %>
                <% else %>
                  <%= f.hidden_field :order, value: 'Recommandation', id: "search_order_14" %>
                <% end %>
                <%= button_tag(type: "submit", class: "ws-index-search-tag") do %>
                  Ateliers permanents <i class="fas fa-times ml-2"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <!-- Only physical -->

        <% if params[:search][:visio].present? %>
          <% if params[:search][:visio] == 'false' %>
            <div class="form-container-visio">
              <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
                <%= f.hidden_field :keyword, value: params[:search][:keyword], id: "search_keyword_15" %>
                <%= f.hidden_field :place, value: params[:search][:place], id: "search_place_15" %>
                <%= f.hidden_field :selection, value: params[:search][:selection], id: "search_selection_15" %>
                <%= f.hidden_field :level, value: params[:search][:level], id: "search_level_15" %>
                <%= f.hidden_field :moment, value: params[:search][:moment], id: "search_moment_15" %>
                <%= f.hidden_field :min_capacity, value: params[:search][:min_capacity], id: "search_min_capacity_15" %>
                <%= f.hidden_field :starts_at, value: Date.strptime(params[:search][:starts_at], '%Y-%m-%d'), id: "search_starts_at_15" if params[:search][:starts_at].present? %>
                <%= f.hidden_field :ends_at, value: Date.strptime(params[:search][:ends_at], '%Y-%m-%d'), id: "search_ends_at_15" if params[:search][:ends_at].present? %>
                <%= f.hidden_field :min_price, value: params[:search][:min_price].to_f, id: "search_min_price_15" %>
                <% if params[:search][:ephemeral].present? %>
                  <%= f.hidden_field :ephemeral, value: params[:search][:ephemeral], id: "search_ephemeral_15" %>
                <% else %>
                  <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_15" %>
                <% end %>
                <%= f.hidden_field :visio, value: true, id: "search_visio_15" %>
                <% if params[:search][:max_price].present? %>
                  <%= f.hidden_field :max_price, value: params[:search][:max_price].to_f, id: "search_max_price_15" %>
                <% else %>
                  <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_15" %>
                <% end %>
                <% if params[:search][:order].present?  %>
                  <%= f.hidden_field :order, value: params[:search][:order], id: "search_order_15" %>
                <% else %>
                  <%= f.hidden_field :order, value: 'Recommandation', id: "search_order_15" %>
                <% end %>
                <%= button_tag(type: "submit", class: "ws-index-search-tag") do %>
                  Ateliers en présentiel <i class="fas fa-times ml-2"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>

      <% end %>
    </div>
    <a href="#filtersModal" id="orderAndFilter" data-toggle="modal" data-whatever="@mdo">
      Filtrer
    </a>
    <%= render 'filters_modal' %>
  </div>

            <!-- Appears when user wants to adapt results to an area in the map -->
  <div class="inactive" id="adaptMapButton">
    <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
        <%= f.hidden_field :minlongitude, id: "search_minlongitude_20" %>
        <%= f.hidden_field :maxlongitude, id: "search_maxlongitude_20" %>
        <%= f.hidden_field :minlatitude,  id: "search_minlatitude_20" %>
        <%= f.hidden_field :maxlatitude,  id: "search_maxlatitude_20" %>
        <% if params[:search].present? %>
          <%= f.hidden_field :place, id: "search_place_20" %>
          <%= f.hidden_field :keyword, value: params[:search][:keyword], id: "search_keyword_20" %>
          <%= f.hidden_field :selection, value: params[:search][:selection], id: "search_selection_20" %>
          <%= f.hidden_field :min_capacity, value: params[:search][:min_capacity], id: "search_min_capacity_20" %>
          <%= f.hidden_field :level, value: params[:search][:level], id: "search_level_20" %>
          <%= f.hidden_field :moment, value: params[:search][:moment], id: "search_moment_20" %>
          <%= f.hidden_field :starts_at, value: Date.strptime(params[:search][:starts_at], '%Y-%m-%d'), id: "search_starts_at_20" if params[:search][:starts_at].present? %>
          <%= f.hidden_field :ends_at, value: Date.strptime(params[:search][:ends_at], '%Y-%m-%d'), id: "search_ends_at_20" if params[:search][:ends_at].present? %>
          <%= f.hidden_field :min_price, value: params[:search][:min_price].to_f, id: "search_min_price_20" %>
          <% if params[:search][:max_price].present? %>
            <%= f.hidden_field :max_price, value: params[:search][:max_price].to_f, id: "search_max_price_20" %>
          <% else %>
            <%= f.hidden_field :max_price, value: @max_price, id: "search_max_price_20" %>
          <% end %>
          <% if params[:search][:order].present?  %>
            <%= f.hidden_field :order, value: params[:search][:order], id: "search_order_20" %>
          <% else %>
            <%= f.hidden_field :order, value: 'Recommandation', id: "search_order_20" %>
          <% end %>
          <% if params[:search][:visio].present? %>
            <%= f.hidden_field :visio, value: params[:search][:visio], id: "search_visio_20" %>
          <% else %>
            <%= f.hidden_field :visio, value: true, id: "search_visio_20" %>
          <% end %>
          <% if params[:search][:ephemeral].present? %>
            <%= f.hidden_field :ephemeral, value: params[:search][:ephemeral], id: "search_ephemeral_20" %>
          <% else %>
            <%= f.hidden_field :ephemeral, value: true, id: "search_ephemeral_20" %>
          <% end %>
        <% end %>
        <%= f.submit "Rechercher dans cette zone", class: "button" %>
    <% end %>
  </div>

  <!-- WORKSHOPS INDEX CARDS RESULTS -->
  <div class= "index-ws-cards-map-container">
    <div class="index-ws-left-side scroller-workshops">
      <h1 id="index-ws-title">Ateliers</h1>
      <h2 id="index-ws-description">Trouvez ici l’atelier créatif qui correspond à vos attentes ! Couture, fleurs, broderie, cosmétique, upcycling, herbier, bijoux, aquarelle, maroquinerie, tricot, céramique, lettering, décoration... Réalisez un objet tendance par vous-même et profitez d’une pause conviviale et créative !</h2>
      <% if @workshops.count > 1 %>
        <h3 class="index-ws-results">> Nous avons trouvé <span><%= @workshops.count %> ateliers créatifs</span> correspondant à votre recherche</h3>
      <% elsif @workshops.count == 1 %>
        <h3 class="index-ws-results">> Nous avons trouvé <span><%= @workshops.count %> atelier créatif</span> correspondant à votre recherche</h3>
      <% else %>
        <h3 class="index-ws-results mt-4"><strong>> Nous n'avons trouvé aucun atelier créatif correspondant à votre recherche.</strong></h3>
        <h3 class="index-ws-results mt-3"><strong>Voici nos suggestions :</strong></h3>
      <% end %>

      <% if @workshops.count > 0 %>
        <% all_workshops = @workshops %>
      <% else %>
        <% all_workshops = @suggested_workshops %>
      <% end %>
      <div class= "index-ws-cards">
        <% all_workshops.each do |workshop| %>

          <div class="ws-card" id="index-ws-card">
            <%= link_to(workshop, data: { turbolinks: false }, title: "#{workshop.title}") do  %>
              <div class="ws-card-image-and-rating" id="index-ws-card-image-and-rating">
                <div class="ws-card-tags" id="index-ws-card-tags">
                  <% if workshop.rating %>
                    <div class="ws-card-tag ws-card-rating" id="index-ws-card-rating">
                      <i class="fas fa-star"></i><span><%= workshop.rating %></span>
                    </div>
                  <% else %>
                    <div class="ws-card-tag ws-card-rating" id="index-ws-card-rating">
                      <span>nouveau</span>
                    </div>
                  <% end %>
                  <% if workshop.ephemeral == true %>
                    <div class="ws-card-tag ws-card-ephemeral" id="index-ws-card-ephemeral">
                      <span>éphémère</span>
                    </div>
                  <% end %>
                </div>
                <%= render "ws-index-carousel", workshop: workshop %>
              </div>
            <% end %>
            <%= link_to(workshop, data: { turbolinks: false }, title: "#{workshop.title}") do  %>
              <div class="ws-card-infos" id="index-ws-card-infos">
                <div>
                  <div class="ws-card-organizer" id="index-ws-card-organizer-desktop">
                    <% if workshop.place.user.profile.company.size > 19 %>
                      <span><%= workshop.place.user.profile.company[0..17] %>...</span>
                    <% else %>
                      <span><%= workshop.place.user.profile.company %></span>
                    <% end %>
                  </div>
                  <div class="ws-card-organizer" id="index-ws-card-organizer-mobile">
                    <% if workshop.place.user.profile.company.size > 17 %>
                      <span><%= workshop.place.user.profile.company[0..16] %>...</span>
                    <% else %>
                      <span><%= workshop.place.user.profile.company %></span>
                    <% end %>
                  </div>
                  <div class="ws-card-title" id="index-ws-card-title">
                    <% if workshop.title.size > 33 %>
                      <h4><%= workshop.title[0..31] %>...</h4>
                    <% else %>
                      <h4><%= workshop.title %></h4>
                    <% end %>
                  </div>
                </div>
                <div class="ws-card-price-and-city" id="index-ws-card-price-and-city">
                  <div class="ws-card-price" id="index-ws-card-price">
                    <%= workshop.price %> €
                  </div>
                  <% if workshop.visio == true %>
                    <div class="ws-card-visio">
                      <span>en visio</span>
                    </div>
                  <% else %>
                    <div class="ws-card-city">
                      <i class="fas fa-map-marker-alt"></i>
                      <% if workshop.place.city.size >= 11 %>
                        <span id="city-name"><%= workshop.place.city[0..11].capitalize %>...</span>
                      <% else %>
                        <span id="city-name"><%= workshop.place.city.capitalize %></span>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <% unless @workshops.empty? %>
        <%= will_paginate @workshops.paginate(page: params[:page], per_page: 20), inner_window: 1, outer_window: 0 %>
      <% end %>
    </div>
    <% unless @workshops.empty? %>
      <div id="map" class="ws-map"
             style="width: 100%; height: 80vh; top: 0;"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    <% end %>
  </div>
</div>
