<% if @workshop %>

  <!-- WORKSHOP SHOW -->

  <div class="container-ws-show">

    <div class="booking-mobile-button" id="bookingButton">
      Je réserve
    </div>

    <!-- BOOKING-->

    <div class="container-ws-show-booking" id="bookingBox">
      <%= cl_image_tag("https://res.cloudinary.com/eugeniedenis/image/upload/v1593191048/exit-white.svg", :width => 50, :crop => :fill, :alt => "fermer", :id => "bookingExit", :class => "") %>
      <h3>Réservez l’atelier<br>“<%= @workshop.title %>"</h3>

      <%= simple_form_for(@booking) do |f| %>
        <div class="form-group select required">
          <select class="form-control select required" name="session" id="session_id">
            <option value="" disabled selected>Sélectionnez une date</option>
            <% @workshop.sessions.where(db_status: true).sort_by { |session| session.date }.each do |session| %>
              <option value="<%= session.id %>"><%= session.date.strftime('%d/%m/%Y') %> - Début : <%= session.start_at %></option>
            <% end %>
          </select>
        </div>
        <div class="form-group select required">
          <select class="form-control select required" name="quantity" id="workshop_level">
              <option value="" disabled selected>Nombre de place(s)</option>
          </select>
        </div>
        <div class="d-flex ws-price">
          <span id="ws-booking-price"><%= @workshop.price %> €</span>
          <span>/pers</span>
        </div>
        <%= f.submit 'Je réserve', class: "white-btn" %>
      <% end %>
    </div>


  <!-- LEFT SIDE -->

  <div class="container-ws-show-infos" id="hideShowInformation">

    <!-- BACK BUTTON -->

    <div class="back-button" id="ws-show-back-button">
      <%= link_to :back do %>
        <i class="fas fa-chevron-left"></i>
        <span>Retour</span>
      <% end %>
    </div>

    <!-- WORKSHOP SHOW CAROUSEL-->

    <div class="container-ws-show-carousel">
      <%= render 'ws-show-carousel' %>
    </div>

    <!-- WORKSHOP SHOW TITLE-->

    <div class="ws-show-informations-title">
      <h1><%= @workshop.title %></h1>
    </div>

    <!-- WORKSHOP SHOW INFORMATIONS ORGANIZERS-->

    <div class="ws-show-informations-organizers" style="background-image: url(<%= cl_image_path("https://res.cloudinary.com/eugeniedenis/image/upload/v1593193954/wave.svg") %>)">
      <div class="ws-show-informations-place">
        <%= cl_image_tag("https://res.cloudinary.com/eugeniedenis/image/upload/v1593192506/shop-white.svg", :width => 150, :crop => :fill, :alt => "lieu") %>
        <div id="ws-show-place">
          <span>Chez <%= link_to @workshop.place.name, place_path(@workshop.place) %></span>
          <br><span><%= @workshop.place.address %><br><%= @workshop.place.zip_code %> <%= @workshop.place.city.capitalize %></span>
        </div>
      </div>
      <div class="ws-show-informations-animator">
        <% if @animator.present? %>
          <span>Animé par<br><%= link_to @animator.user.profile.company, profile_public_path(@animator.user.profile) %></span>
          <%= cl_image_tag("https://res.cloudinary.com/eugeniedenis/image/upload/v1593192506/making-white.svg", :width => 110, :crop => :fill, :alt => "animateur") %>
        <% else %>
          <span>Animé par<br><%= link_to @workshop.place.name, place_path(@workshop.place) %></span>
          <%= cl_image_tag("https://res.cloudinary.com/eugeniedenis/image/upload/v1593192506/making-white.svg", :width => 110, :crop => :fill, :alt => "animateur") %>
        <% end %>
      </div>
    </div>

    <!-- WORKSHOP SHOW EPHEMERAL STATUS - MOBILE ONLY -->

    <% if @workshop.place.ephemeral %>
      <div class="ws-show-ephemeral-status-mobile">
        <span>
           Cet atelier éphémère a lieu pendant l'événement<br>
          <i class="far fa-star pr-1"></i>
          <%= link_to @workshop.place.name, place_path(@workshop.place) %>
          <i class="far fa-star pl-1"></i>
        </span>
      </div>
    <% end %>

    <!-- WORKSHOP SHOW INFORMATIONS PROGRAM-->

    <div class="ws-show-informations-program-reviews">

      <div class="ws-show-informations-program">
        <h2>Programme de l'atelier</h2>
        <% if @workshop.program.present? %>
          <p><%= @workshop.program %></p>
        <% else %>
          <p>Non renseigné.</p>
        <% end %>
        <div class="ws-show-informations-tags">
          <i class="fas fa-tag"></i>
          <% if @workshop.level.present? %>
            <div class='informations-tag'><%= @workshop.level %></div>
          <% end %>
          <% if @workshop.duration.present? %>
            <div class='informations-tag'>
              <% if @workshop.duration%60 == 0 %>
                <%= @workshop.duration/60 %> heures
              <% else %>
                <%= @workshop.duration/60 %> heures <%= @workshop.duration%60 %>
              <% end %>
            </div>
          <% end %>
          <% if @workshop.thematic.present? %>
            <div class='informations-tag'><%= @workshop.thematic %></div>
          <% end %>
          <% if @workshop.capacity.present? %>
            <div class='informations-tag'><%= @workshop.capacity %> personnes</div>
          <% end %>
        </div>
      </div>

      <div class="ws-show-informations-final-product">
        <h2>Vous repartez avec</h2>
        <% if @workshop.final_product.present? %>
          <p><%= @workshop.final_product %></p>
        <% else %>
          <p>Non renseigné.</p>
        <% end %>
      </div>

      <!-- WORKSHOP SHOW INFORMATIONS REVIEWS-->

      <div class="ws-show-informations-reviews">
        <% if @workshop.reviews.where(db_status: true).present? %>
          <div class= "ws-show-informations-reviews-title">
            <h2>Avis sur l'atelier</h2>
            <p>Note moyenne : <strong><%= @workshop.rating %> /5</strong> (<%= @workshop.reviews.count %> avis)</p>
          </div>
          <div class= "reviews-cards">
            <% @workshop.reviews.where(db_status: true).sort_by { |review| review.created_at }.reverse.first(4).each do |review| %>
              <div class="review-card">
                <div class="review-card-stars">
                  <% review.rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - review.rating).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                </div>
                <div class="review-card-message">
                  <p><%= review.content %></p>
                </div>
                <div class="review-card-author">
                  <p><span><%= review.user.profile.first_name %></span>, le <%= review.created_at.strftime("%d/%m/%Y") %></p>
                </div>
              </div>
            <% end %>
          </div>
          <% if @workshop.reviews.where(db_status: true).count > 4 %>
            <div class="show-more-reviews">
              <%= link_to "Voir plus d'avis", workshop_reviews_path(@workshop), class: "blue-btn" %>
            </div>
          <% end %>
        <% else %>
          <div class= "ws-show-informations-reviews-title">
            <h2>Avis sur l'atelier</h2>
            <p>Cet atelier n'a pas encore d'avis.</p>
          </div>
        <% end %>
      </div>

      <div class="ws-show-link-to-organizers">
        <%= link_to place_path(@workshop.place) do %>
          <div class="ws-show-organizer-link">
            <p>Plus d'infos sur
              <% if @workshop.place.name.size > 21 %>
                <%= @workshop.place.name[0..19] %>...
              <% else %>
                <%= @workshop.place.name %>
              <% end %>
            </p>
            <i class="fas fa-chevron-right"></i>
          </div>
        <% end %>
        <% if @animator.present? %>
          <%= link_to profile_public_path(@animator.user) do %>
            <div class="ws-show-organizer-link">
              <p>Plus d'infos sur
                <% if @animator.user.profile.company.size > 21 %>
                  <%= @animator.user.profile.company[0..19] %>...
                <% else %>
                  <%= @animator.user.profile.company %>
                <% end %>
              </p>
              <i class="fas fa-chevron-right"></i>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
