<% if @workshop %>

    <% if @workshop.db_status == true && @workshop.status == "en ligne" %>
      <% content_for :meta_title, "Jeu de Mains | #{@workshop.title[0..45]}" %>
      <% content_for :meta_description, @workshop.program[0..160] %>
      <% if @workshop.photos.attached? %>
        <% content_for :meta_image, "#{cl_image_path @workshop.photos[0].key, width: 1200, height: 630, crop: :fill}" %>
      <% end %>
    <% end %>

    <!-- WORKSHOP SHOW -->

    <div class="container-ws-show">

      <div class="booking-mobile-button" id="bookingButton">
        Je réserve
      </div>

      <%= render 'pages/sign_in_up_modal' %>

      <!-- BOOKING-->

      <div class="container-ws-show-booking" id="bookingBox">
        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593191048/jeu-de-mains-fermer-blanc.svg", :width => 50, :crop => :fill, :alt => "jeu-de-mains-fermer", :title => "jeu-de-mains-fermer", :id => "bookingExit") %>
        <h3>Réservez l’atelier<br>“<%= @workshop.title %>"
          <%= "en visio" if @workshop.visio == true %>
        </h3>

        <%= simple_form_for(@booking) do |f| %>
          <div class="form-group select required">
            <select class="form-control select required" name="session" id="session_id">
              <option value="" disabled selected>Sélectionnez une date</option>
              <% @workshop.sessions.where(db_status: true).select { |session| session.date >= Date.today }.sort_by { |session| session.date }.each do |session| %>
                <option value="<%= session.id %>">
                  <%= session.available == 0 ? "#{l(session.date, format: '%A %d/%m/%y').capitalize} à #{session.start_at} - Complet" : "#{l(session.date, format: '%A %d/%m/%y').capitalize} à #{session.start_at}" %>
                </option>
              <% end %>
            </select>
          </div>
          <div class="form-group select required">
            <select class="form-control select required" name="quantity" id="workshop_level">
                <option value="" disabled selected>Nombre de place(s)</option>
            </select>
          </div>
          <div class="d-flex ws-price">
            <span id="ws-booking-price"><%= @workshop.price %> €</span>
            <span>/pers</span>
          </div>
          <% if current_user.present? && current_user.profile.role.present? %>
            <%= f.hidden_field :status, value: "interdit"  %>
          <% end %>
          <% if user_signed_in? %>
            <%= f.submit 'Je réserve', class: "white-btn" %>
          <% else %>
            <a href="#signInUpModal" class="white-btn booking-sign-in" data-toggle="modal" data-whatever="@mdo">Je réserve</a>
          <% end %>
        <% end %>
        <p id="ws-show-giftcard">Vous avez reçu une carte cadeau ?<br>Rendez-vous à l'étape suivante pour l'utiliser!</p>
      </div>



    <!-- LEFT SIDE -->

    <div class="container-ws-show-infos" id="hideShowInformation">

      <!-- BACK BUTTON -->

      <div class="back-button" id="ws-show-back-button">
        <%= link_to :back do %>
          <i class="fas fa-chevron-left"></i>
          <span>Retour</span>
        <% end %>
      </div>
      <% if current_user && current_user.admin && @workshop.status == "vérification" %>
        <div class="ws-verification-box">
          <p>Vérification de l'atelier par Jeu de Mains</p>
          <div>
            <%= link_to "Modifier l'atelier", edit_workshop_path(@workshop), class: "link-to-edit-ws-admin button" %>
          </div>
          <%= simple_form_for :verification, url: mark_as_verified_or_unverified_workshop_path, method: :get do |f| %>
            <%= f.hidden_field :workshop_id, value: @workshop.id %>
            <%= f.input :verified, label: "Je valide l'atelier", as: :radio_buttons %>
            <%= f.input :message, label: "Message d'explication notamment en cas de refus", as: :text, required: false %>
            <%= f.submit "Confirmer", class: "verification-btn" %>
          <% end %>
        </div>
      <% elsif current_user && current_user.admin && @workshop.status == "en ligne" %>
        <div class="ws-verification-box">
          <span>Atelier validé par Jeu de Mains.</span>
        </div>
      <% elsif current_user && current_user.admin && @workshop.status == "hors ligne" %>
        <div class="ws-verification-box">
          <span>Cet atelier n'est pas en ligne et n'est pas vérifié.</span>
        </div>
      <% end %>

      <!-- WORKSHOP SHOW CAROUSEL-->

      <div class="container-ws-show-carousel">
        <%= render 'ws-show-carousel' %>
      </div>

      <!-- WORKSHOP SHOW TITLE-->

      <div class="ws-show-informations-title">
        <h1><%= @workshop.title %></h1>
      </div>

      <!-- WORKSHOP SHOW INFORMATIONS ORGANIZERS-->

      <div class="ws-show-informations-organizers" loading="lazy" style="background-image: url(<%= cl_image_path("https://res.cloudinary.com/jeudemains/image/upload/v1593193954/jeu-de-mains-fond-vague.svg") %>)">
        <div class="ws-show-informations-place">
          <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593192506/jeu-de-mains-boutique.svg", :loading => "lazy", :width => 150, :crop => :fill, :alt => "jeu-de-mains-boutique", :title => "jeu-de-mains-boutique") %>
          <div id="ws-show-place">
            <span>Par <%= link_to @workshop.place.user.profile.company, profile_public_path(@workshop.place.user.profile) %></span>
            <br>
            <% if @workshop.visio == true %>
              <span class="ws-show-place-visio">en visioconférence</span><br>
              <span class="ws-show-place-visio"><%= @workshop.kit == true ? "avec envoi de kit" : "sans kit" %></span>
            <% else %>
              <span>au <%= @workshop.place.address %><br><%= @workshop.place.zip_code %> <%= @workshop.place.city.capitalize %></span>
            <% end %>
          </div>
        </div>
        <div class="ws-show-informations-animator">
          <% if @animator.present? && @animator.db_status == true %>
            <span>Animé par<br><%= link_to @animator.user.profile.company, profile_public_path(@animator.user.profile) %></span>
          <% end %>
          <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593192507/jeu-de-mains-anime-par.svg", :loading => "lazy", :width => 110, :crop => :fill, :alt => "jeu-de-mains-anime-par", :title => "jeu-de-mains-anime-par") %>
        </div>
      </div>

      <!-- WORKSHOP SHOW EPHEMERAL STATUS - MOBILE ONLY -->

      <% if @workshop.ephemeral == true %>
        <div class="ws-show-ephemeral-status-mobile">
          <span>
            <i class="far fa-star pr-1"></i>
              Cet atelier est éphémère
            <i class="far fa-star pl-1"></i>
          </span>
        </div>
      <% end %>

      <!-- WORKSHOP SHOW INFORMATIONS PROGRAM-->

      <div class="ws-show-informations-program-reviews">

        <div class="ws-show-informations-program">
          <h2>Programme de l'atelier</h2>
          <% if @workshop.program.present? %>
            <p><%= @workshop.program %></p>
          <% else %>
            <p>Non renseigné.</p>
          <% end %>

          <div class="ws-show-informations-tags">
            <i class="fas fa-tag"></i>
            <% if @workshop.level.present? %>
              <div class='informations-tag'>
                <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
                  <%= f.hidden_field :level, value: @workshop.level %>
                  <%= f.submit @workshop.level, class: "informations-tag-submit" %>
                <% end %>
              </div>
            <% end %>
            <% if @workshop.thematic.present? %>
              <% @workshop.thematic.each do |t| %>
                <div class='informations-tag'>
                  <% if t == "Végétal" %>
                    <%= link_to t, vegetal_path, class: "informations-tag-submit" %>
                  <% elsif t == "Autour du fil" %>
                    <%= link_to t, autour_du_fil_path, class: "informations-tag-submit" %>
                  <% elsif t == "Papier & Calligraphie" %>
                    <%= link_to t, papier_et_calligraphie_path, class: "informations-tag-submit" %>
                  <% elsif t == "Céramique & Modelage" %>
                    <%= link_to t, ceramique_et_modelage_path, class: "informations-tag-submit" %>
                  <% elsif t == "Bijoux" %>
                    <%= link_to t, bijoux_path, class: "informations-tag-submit" %>
                  <% elsif t == "Cosmétique & Entretien" %>
                    <%= link_to t, cosmetique_et_entretien_path, class: "informations-tag-submit" %>
                  <% elsif t == "Peinture & Dessin" %>
                    <%= link_to t, peinture_et_dessin_path, class: "informations-tag-submit" %>
                  <% elsif t == "Meuble & Décoration" %>
                    <%= link_to t, meuble_et_decoration_path, class: "informations-tag-submit" %>
                  <% elsif t == "Travail du cuir" %>
                    <%= link_to t, travail_du_cuir_path, class: "informations-tag-submit" %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <% if @workshop.capacity.present? %>
              <div class='informations-tag'>
                <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
                  <%= f.hidden_field :min_capacity, value: @workshop.capacity %>
                  <%= f.submit "#{@workshop.capacity } personnes", class: "informations-tag-submit" %>
                <% end %>
              </div>
            <% end %>
            <% if @workshop.duration.present? %>
              <div class='informations-tag' id="informations-tag-unclickable">
                <% if @workshop.duration%60 == 0 %>
                  <%= @workshop.duration/60 %> heures
                <% else %>
                  <%= @workshop.duration/60 %> heures <%= @workshop.duration%60 %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <!-- WORKSHOP SHOW FINAL PRODUCT -->

        <div class="ws-show-informations-final-product">
          <h2>Vous repartez avec</h2>
          <% if @workshop.final_product.present? %>
            <p><%= @workshop.final_product %></p>
          <% else %>
            <p>Non renseigné.</p>
          <% end %>
        </div>


        <% if @workshop.visio == true && @workshop.kit == true %>

          <!-- WORKSHOP SHOW KIT -->

          <div class="ws-show-informations-kit">
            <h2>Contenu du kit expédié</h2>
            <% if @workshop.kit_description.present? %>
              <p><%= @workshop.kit_description %></p>
            <% else %>
              <p>Vous recevrez un kit en amont de l'atelier avec le matériel nécessaire. Le contenu de ce kit n'a pas été renseigné par l'organisateur.</p>
            <% end %>
          </div>

        <% end %>

        <!-- WORKSHOP SHOW PLACE -->

        <div class="ws-show-informations-organizer-animator-description">
          <h2>L'organisateur</h2>
          <p id="place-description-paragraph"><%= @workshop.place.user.profile.description[0..285] %>...</p>
          <%= link_to "Voir le profil", profile_public_path(@workshop.place.user.profile) %>
        </div>

        <!-- WORKSHOP SHOW ANIMATOR -->

        <% if @animator.present? && @animator.db_status == true %>
          <div class="ws-show-informations-organizer-animator-description">
            <h2>L'animateur</h2>
            <p id="animator-description-paragraph"><%= @animator.user.profile.description[0..285] %>...</p>
            <%= link_to "Voir le profil", profile_public_path(@animator.user.profile) %>
          </div>
        <% end %>

        <!-- WORKSHOP SHOW INFORMATIONS REVIEWS-->

        <div class="ws-show-informations-reviews">
          <% if @workshop.reviews.where(db_status: true).present? %>
            <div class= "ws-show-informations-reviews-title">
              <h2>Avis sur l'atelier</h2>
              <p>Note moyenne : <strong><%= @workshop.rating %> /5</strong> (<%= @workshop.reviews.where(db_status: true).count %> avis)</p>
            </div>
            <div class= "reviews-cards">
              <% @workshop.reviews.where(db_status: true).sort_by { |review| review.created_at }.reverse.first(4).each do |review| %>
                <div class="review-card">
                  <div class="review-card-stars">
                    <% review.rating.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    <% (5 - review.rating).times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                  </div>
                  <div class="review-card-message">
                    <p><%= review.content %></p>
                  </div>
                  <div class="review-card-author">
                    <p><span><%= review.user.first_name %></span>, le <%= review.created_at.strftime("%d/%m/%Y") %></p>
                  </div>
                </div>
              <% end %>
            </div>
            <% if @workshop.reviews.where(db_status: true).count > 4 %>
              <div class="show-more-reviews">
                <%= link_to "Voir plus d'avis", workshop_reviews_path(@workshop), class: "blue-btn" %>
              </div>
            <% end %>
          <% else %>
            <div class= "ws-show-informations-reviews-title">
              <h2>Avis sur l'atelier</h2>
              <p>Cet atelier n'a pas encore d'avis.</p>
            </div>
          <% end %>
        </div>

        <!-- WORKSHOP SHOW OTHER WS SUGGESTIONS -->

        <% if @workshops.count > 0 %>
          <div class="show-ws-suggestions">
            <h2 class="show-ws-cards-title">Vous aimerez aussi</h2>

            <div class= "show-ws-cards">
              <% @workshops.each do |workshop| %>

                <div class="ws-card" id="show-ws-card">
                  <%= link_to(workshop, data: { turbolinks: false }) do  %>
                    <div class="ws-card-image-and-rating" id="show-ws-card-image-and-rating">
                      <div class="ws-card-tags" id="show-ws-card-tags">
                        <% if workshop.rating %>
                          <div class="ws-card-tag ws-card-rating" id="show-ws-card-rating">
                            <i class="fas fa-star"></i><span><%= workshop.rating %></span>
                          </div>
                        <% elsif workshop.created_at > Date.today - 1.month %>
                          <div class="ws-card-tag ws-card-rating" id="show-ws-card-rating">
                            <span>nouveau</span>
                          </div>
                        <% end %>
                        <% if workshop.ephemeral == true %>
                          <div class="ws-card-tag ws-card-ephemeral" id="show-ws-card-ephemeral">
                            <span>éphémère</span>
                          </div>
                        <% end %>
                      </div>
                      <%= render "ws-index-carousel", workshop: workshop %>
                    </div>
                  <% end %>
                  <%= link_to(workshop, data: { turbolinks: false }) do  %>
                    <div class="ws-card-infos" id="show-ws-card-infos">
                      <div>
                        <div class="ws-card-organizer" id="show-ws-card-organizer-desktop">
                          <% if workshop.place.user.profile.company.size > 19 %>
                            <span><%= workshop.place.user.profile.company[0..17] %>...</span>
                          <% else %>
                            <span><%= workshop.place.user.profile.company %></span>
                          <% end %>
                        </div>
                        <div class="ws-card-organizer" id="show-ws-card-organizer-mobile">
                          <% if workshop.place.user.profile.company.size > 17 %>
                            <span><%= workshop.place.user.profile.company[0..16] %>...</span>
                          <% else %>
                            <span><%= workshop.place.user.profile.company %></span>
                          <% end %>
                        </div>
                        <div class="ws-card-title" id="show-ws-card-title">
                          <% if workshop.title.size > 33 %>
                            <h4><%= workshop.title[0..31] %>...</h4>
                          <% else %>
                            <h4><%= workshop.title %></h4>
                          <% end %>
                        </div>
                      </div>
                      <div class="ws-card-price-and-city" id="show-ws-card-price-and-city">
                        <div class="ws-card-price" id="show-ws-card-price">
                          <%= workshop.price %> €
                        </div>
                         <% if workshop.visio == true %>
                          <div class="ws-card-visio">
                            <span>en visio</span>
                          </div>
                        <% else %>
                          <div class="ws-card-city" id="show-ws-card-city">
                            <i class="fas fa-map-marker-alt"></i>
                            <% if workshop.place.city.size >= 11 %>
                              <span id="city-name"><%= workshop.place.city[0..11].capitalize %>...</span>
                            <% else %>
                              <span id="city-name"><%= workshop.place.city.capitalize %></span>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </div>

<% end %>
