<% if @profile.user == current_user %>

  <!-- DASHBOARD - MY BOOKINGS -->

  <% content_for :meta_title, "Jeu de Mains | Mes Réservations" %>

  <div class="dashboard-title-container">
    <h1>
      Hello <span><%= @profile.user.first_name.capitalize %></span>,<br>bienvenue sur vos réservations !
    </h1>
  </div>

  <div class="dashboard-container">
    <div class="dashboard-contact-us">
      <%= link_to contact_path do %>
        <i class="fas fa-question"></i>
      <% end %>
    </div>
    <div class="dashboard-nav-and-tab" id="dashboard-my-bookings-nav-and-tab">

      <!-- NAV PILLS DESKTOP & TABLET -->

      <div class="dashboard-nav-desktop-tablet">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-coming-bookings-tab" data-toggle="pill" href="#v-pills-coming-bookings" role="tab" aria-controls="v-pills-coming-bookings" aria-selected="true">
            <i class="fas fa-calendar-check"></i>
            Réservations à venir
          </a>
          <a class="nav-link" id="v-pills-old-bookings-tab" data-toggle="pill" href="#v-pills-old-bookings" role="tab" aria-controls="v-pills-old-bookings" aria-selected="false">
            <i class="fas fa-calendar"></i>
            Réservations passées
          </a>
          <a class="nav-link" id="v-pills-cancels-tab" data-toggle="pill" href="#v-pills-cancels" role="tab" aria-controls="v-pills-cancels" aria-selected="false">
            <i class="fas fa-calendar-times"></i>
            Annulations
          </a>
        </div>
      </div>

      <!-- NAV PILLS MOBILE -->

      <div class="dashboard-nav-mobile">
        <div class="nav nav-pills" id="pills-tab" role="tablist">
          <a class="nav-link active" id="v-pills-coming-bookings-tab" data-toggle="pill" href="#v-pills-coming-bookings" role="tab" aria-controls="v-pills-coming-bookings" aria-selected="true">
            Ateliers à venir
          </a>
          <a class="nav-link" id="v-pills-old-bookings-tab" data-toggle="pill" href="#v-pills-old-bookings" role="tab" aria-controls="v-pills-old-bookings" aria-selected="false">
            Ateliers passés
          </a>
          <a class="nav-link" id="v-pills-cancels-tab" data-toggle="pill" href="#v-pills-cancels" role="tab" aria-controls="v-pills-cancels" aria-selected="false">
            Annulations
          </a>
        </div>
      </div>

      <!-- NAV TABS -->

      <div class="dashboard-tabs">
        <div class="tab-content" id="pills-tabContent">

          <% my_coming_bookings = [] %>
          <% my_older_bookings = [] %>
          <% my_cancellations = [] %>
          <% @profile.user.bookings.each do |booking| %>
            <% if booking.db_status == true && booking.status == "refunded" %>
              <% my_cancellations << booking %>
            <% elsif booking.session.date >= Date.today && booking.db_status == true && booking.status == "paid" %>
              <% my_coming_bookings << booking %>
            <% elsif booking.session.date < Date.today && booking.db_status == true && booking.status == "paid" %>
              <% my_older_bookings << booking %>
            <% end %>
          <% end %>


          <!-- MY BOOKINGS TO COME -->

          <div class="tab-pane fade show active" id="v-pills-coming-bookings" role="tabpanel" aria-labelledby="v-pills-coming-bookings-tab">

            <% if my_coming_bookings.count > 0 %>

              <div class="my-bookings-cards">
                <% my_coming_bookings.sort_by { |booking| booking.session.date }.each do |booking| %>

                  <div class="my-booking-date-photo-and-info">
                    <div class="my-booking-date">
                      <%= l(booking.session.date, format: '%A %d %b %Y').capitalize %> - <%=booking.session.start_at%>
                    </div>

                    <%= link_to workshop_path(booking.session.workshop) do %>
                      <div class="my-bookings-ws-card">
                        <div class="my-booking-photo">
                          <% if booking.session.workshop.photos.attached? %>
                            <%= cl_image_tag booking.session.workshop.photos[0].key, loading: "lazy", alt: "jeu-de-mains-#{booking.session.workshop.title}", title: "jeu-de-mains-#{booking.session.workshop.title}" , width: 120, height: 95, crop: :fill %>
                          <% else %>
                            <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593177818/jeu-de-mains-atelier.jpg", :loading => "lazy", :width => 120, :height => 95, :crop => :fill, :alt => "jeu-de-mains-#{booking.session.workshop.title}", :title => "jeu-de-mains-#{booking.session.workshop.title}") %>
                          <% end %>
                        </div>
                        <div class="my-booking-ws-info">
                          <p id="my-booking-order-nb">Réservation n°<%= booking.id %></p>
                          <p id="my-booking-ws-title">
                            <% if booking.session.workshop.title.size > 33 %>
                              <%= booking.session.workshop.title[0..31] %>...
                            <% else %>
                              <%= booking.session.workshop.title %>
                            <% end %>
                          </p>
                          <%= link_to profile_public_path(booking.session.workshop.place.user.profile), class: "my-bookings-organized-by" do %>
                            Organisé par <%= booking.session.workshop.place.user.profile.company %>
                          <% end %>
                          <% if booking.session.workshop.visio == true %>
                            <span class="localize-link"><%= booking.session.workshop.kit == true ? "En visioconférence avec kit" : "En visioconférence sans kit" %></span>
                          <% else %>
                            <%= link_to "https://www.google.fr/maps/search/#{booking.session.workshop.place.address}, #{booking.session.workshop.place.zip_code} #{booking.session.workshop.place.city.upcase}", target: "_blank", class: "localize-link" do %>
                              Au <%= booking.session.workshop.place.address %> <%= booking.session.workshop.place.zip_code %> <%= booking.session.workshop.place.city %>
                            <% end %>
                          <% end %>
                          <!-- statut envoi du kit -->
                          <!-- lien de suivi -->
                          <p id="my-booking-amount"><%= booking.quantity %> place(s), <%= booking.amount %>€</p>
                          <div class="d-flex justify-content-left align-items-center">

                            <% if booking.session.date > Date.today + 2 %>
                              <%= link_to booking_path(booking),
                                method: :delete,
                                data: { confirm: "Êtes-vous sûr de vouloir annuler votre réservation ?" },
                                class: "button mr-3" do %>
                                Annuler
                                <% end %>
                            <% end %>

                            <a href="tel:+33<%= booking.session.workshop.place.phone_number[1..-1] %>" class="call-btn">
                              <i class="fas fa-phone-alt"></i>
                            </a>
                            <%= link_to "https://www.google.fr/maps/search/#{booking.session.workshop.place.address}, #{booking.session.workshop.place.zip_code} #{booking.session.workshop.place.city.upcase}", target: "_blank", class: "localize-btn" do %>
                              <i class="fas fa-map-marker-alt"></i>
                            <% end %>
                            <div title="Add to Calendar" data-styling="none" class="addeventatc">
                              <i class="far fa-calendar-plus"></i>
                              <span class="start">
                                <%= booking.session.date.strftime('%m/%d/%Y') %>
                                <%= booking.session.start_at[0..1] %>:<%= booking.session.start_at[3..4] %>
                              </span>
                              <span class="end">
                                <% start_in_minutes = (booking.session.start_at[0..1].to_i * 60) + booking.session.start_at[3..4].to_i %>
                                <% end_in_minutes = start_in_minutes + booking.session.workshop.duration %>
                                <%= booking.session.date.strftime('%m/%d/%Y') %>
                                <%= end_in_minutes.fdiv(60).round.to_i %>:<%= end_in_minutes%60 > 0 ? end_in_minutes%60 : "00" %>
                              </span>
                              <span class="timezone">Europe/Paris</span>
                              <span class="title">Atelier "<%= booking.session.workshop.title %>"</span>
                              <span class="organizer">jeudemains.com</span>
                              <span class="description">
                                Atelier "<%= booking.session.workshop.title %>"<br>
                                Organisé par <%= booking.session.workshop.place.user.profile.company %><br>
                                Réservé sur https://www.jeudemains.com/<br><br>
                                ----- <br><br>
                                Au programme : <br>
                                <%= booking.session.workshop.program %>
                                </span>
                              <span class="location"><%= booking.session.workshop.place.address %> <%= booking.session.workshop.place.zip_code %> <%= booking.session.workshop.place.city.capitalize %></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p>Aucune réservation à venir</p>
            <% end %>
          </div>

          <!-- MY OLD BOOKINGS -->

          <div class="tab-pane fade" id="v-pills-old-bookings" role="tabpanel" aria-labelledby="v-pills-old-bookings-tab">

            <% if my_older_bookings.count > 0 %>

              <div class="my-bookings-cards">
                <% my_older_bookings.sort_by { |booking| booking.session.date }.reverse.each do |booking| %>

                  <div class="my-booking-date-photo-and-info">
                    <div class="my-booking-date">
                      <%= l(booking.session.date, format: '%A %d %b %Y').capitalize %> - <%=booking.session.start_at%>
                    </div>

                    <div class="my-bookings-ws-card">
                      <div class="my-booking-photo">
                        <% if booking.session.workshop.photos.attached? %>
                          <%= cl_image_tag booking.session.workshop.photos[0].key, loading: "lazy", alt: "jeu-de-mains-#{booking.session.workshop.title}", title: "jeu-de-mains-#{booking.session.workshop.title}" , width: 120, height: 95, crop: :fill %>
                        <% else %>
                          <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593177818/jeu-de-mains-atelier.jpg", :loading => "lazy", :width => 120, :height => 95, :crop => :fill, :alt => "jeu-de-mains-#{booking.session.workshop.title}", :title => "jeu-de-mains-#{booking.session.workshop.title}") %>
                        <% end %>
                      </div>
                      <div class="my-booking-ws-info">
                        <p id="my-booking-order-nb">Réservation n°<%= booking.id %></p>
                        <p id="my-booking-ws-title"><%= booking.session.workshop.title %></p>
                        <%= link_to profile_public_path(booking.session.workshop.place.user.profile), class: "my-bookings-organized-by" do %>
                          Organisé par <%= booking.session.workshop.place.user.profile.company %>
                        <% end %>
                        <% if booking.session.workshop.visio == true %>
                            <span class="localize-link"><%= booking.session.workshop.kit == true ? "En visioconférence avec kit" : "En visioconférence sans kit" %></span>
                          <% else %>
                            <%= link_to "https://www.google.fr/maps/search/#{booking.session.workshop.place.address}, #{booking.session.workshop.place.zip_code} #{booking.session.workshop.place.city.upcase}", target: "_blank", class: "localize-link" do %>
                              Au <%= booking.session.workshop.place.address %> <%= booking.session.workshop.place.zip_code %> <%= booking.session.workshop.place.city %>
                            <% end %>
                          <% end %>
                        <p id="my-booking-amount"><%= booking.quantity %> place(s), <%= booking.amount %>€</p>
                        <div class="d-flex align-items-center">
                          <% if booking.session.workshop.db_status == true && booking.session.workshop.status == "en ligne" %>
                            <%= link_to "Revoir", workshop_path(booking.session.workshop), class: "button" %>
                          <% end %>
                          <% if booking.reviews.present? %>
                              <div class="my-booking-review-card-stars">
                                <span>Mon avis :</span>
                                <% booking.reviews.first.rating.times do %>
                                  <i class="fas fa-star"></i>
                                <% end %>
                                <% (5 - booking.reviews.first.rating).times do %>
                                  <i class="far fa-star"></i>
                                <% end %>
                              </div>
                          <% else %>
                            <%= link_to 'Donner mon avis', new_booking_review_path(booking), class: "button ml-1" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p>Aucune réservation passée</p>
            <% end %>
          </div>

          <!-- MY CANCELLATIONS -->

          <div class="tab-pane fade" id="v-pills-cancels" role="tabpanel" aria-labelledby="v-pills-cancels-tab">

            <% if my_cancellations.count > 0 %>

              <div class="my-bookings-cards">
                <% my_cancellations.sort_by { |booking| booking.session.date }.reverse.each do |booking| %>

                  <div class="my-booking-date-photo-and-info">
                    <div class="my-booking-date" id="my-cancel-date">
                      <%= l(booking.session.date, format: '%A %d %b %Y').capitalize %> - <%=booking.session.start_at%>
                    </div>

                    <div class="my-bookings-ws-card">
                      <%= link_to workshop_path(booking.session.workshop) do %>
                        <div class="my-booking-photo">
                          <% if booking.session.workshop.photos.attached? %>
                            <%= cl_image_tag booking.session.workshop.photos[0].key, loading: "lazy", alt: "jeu-de-mains-#{booking.session.workshop.title}", title: "jeu-de-mains-#{booking.session.workshop.title}" , width: 120, height: 95, crop: :fill %>
                          <% else %>
                            <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593177818/jeu-de-mains-atelier.jpg", :loading => "lazy", :width => 120, :height => 95, :crop => :fill, :alt => "jeu-de-mains-#{booking.session.workshop.title}", :title => "jeu-de-mains-#{booking.session.workshop.title}") %>
                          <% end %>
                        </div>
                      <% end %>

                      <%= link_to workshop_path(booking.session.workshop) do %>
                        <div class="my-booking-ws-info">
                          <p id="my-booking-order-nb">Réservation n°<%= booking.id %></p>
                          <p id="my-booking-ws-title"><%= booking.session.workshop.title %></p>
                          <%= link_to profile_public_path(booking.session.workshop.place.user.profile), class: "my-bookings-organized-by" do %>
                            Organisé par <%= booking.session.workshop.place.user.profile.company %>
                          <% end %>
                          <% if booking.session.workshop.visio == true %>
                            <span class="localize-link"><%= booking.session.workshop.kit == true ? "En visioconférence avec kit" : "En visioconférence sans kit" %></span>
                          <% else %>
                            <%= link_to "https://www.google.fr/maps/search/#{booking.session.workshop.place.address}, #{booking.session.workshop.place.zip_code} #{booking.session.workshop.place.city.upcase}", target: "_blank", class: "localize-link" do %>
                              Au <%= booking.session.workshop.place.address %> <%= booking.session.workshop.place.zip_code %> <%= booking.session.workshop.place.city %>
                            <% end %>
                          <% end %>
                          <p id="my-booking-amount"><%= booking.quantity %> place(s), <%= booking.amount %>€</p>
                          <p id="my-booking-cancel">Annulée le <%= booking.cancelled_at.strftime('%d/%m/%Y') %></p>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p>Aucune réservation annulée</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

