<% if @profile.user == current_user %>

  <!-- DASHBOARD - ORGANIZER -->

  <% content_for :meta_title, "Jeu de Mains | Tableau de Bord" %>


  <div class="dashboard-title-container" id="dashboard-organizer-title-container">
    <h1>
      Hello <span><%= @profile.company %></span>,<br>bienvenue sur votre tableau de bord !
    </h1>
  </div>
  <div class="dashboard-organizer-container">
    <div class="dashboard-contact-us">
      <%= link_to contact_path do %>
        <i class="fas fa-question"></i>
      <% end %>
    </div>
    <div class="dashboard-nav-and-tab" id="dashboard-organizer-nav-and-tab">

      <!-- NAV PILLS DESKTOP & TABLET -->

      <div class="dashboard-nav-desktop-tablet">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-my-workshops-tab" data-toggle="pill" href="#v-pills-my-workshops" role="tab" aria-controls="v-pills-my-workshops" aria-selected="true">
            Mes ateliers
          </a>
          <a class="nav-link" id="v-pills-my-agenda-tab" data-toggle="pill" href="#v-pills-my-agenda" role="tab" aria-controls="v-pills-my-agenda" aria-selected="false">
            Mon planning
          </a>
          <a class="nav-link" id="v-pills-my-kpis-tab" data-toggle="pill" href="#v-pills-my-kpis" role="tab" aria-controls="v-pills-my-kpis" aria-selected="false">
            Mes chiffres clés
          </a>
          <a class="nav-link" id="v-pills-my-transactions-tab" data-toggle="pill" href="#v-pills-my-transactions" role="tab" aria-controls="v-pills-my-transactions" aria-selected="false">
            Mes transactions
          </a>
        </div>
      </div>

      <!-- NAV PILLS MOBILE -->

      <div class="dashboard-nav-mobile">
        <div class="nav nav-pills nav-pills-organizer" id="pills-tab" role="tablist">
          <a class="nav-link active" id="v-pills-my-workshops-tab" data-toggle="pill" href="#v-pills-my-workshops" role="tab" aria-controls="v-pills-my-workshops" aria-selected="true">
            <span>Mes ateliers</span>
          </a>
          <a class="nav-link" id="v-pills-my-agenda-tab" data-toggle="pill" href="#v-pills-my-agenda" role="tab" aria-controls="v-pills-my-agenda" aria-selected="false">
            <span>Mon planning</span>
          </a>
          <a class="nav-link" id="v-pills-my-kpis-tab" data-toggle="pill" href="#v-pills-my-kpis" role="tab" aria-controls="v-pills-my-kpis" aria-selected="false">
            <span>Mes chiffres clés</span>
          </a>
          <a class="nav-link" id="v-pills-my-transactions-tab" data-toggle="pill" href="#v-pills-my-transactions" role="tab" aria-controls="v-pills-my-transactions" aria-selected="false">
            <span>Mes transactions</span>
          </a>
        </div>
      </div>

      <!-- NAV TABS -->

      <div class="dashboard-tabs" id="dashboard-organizer-tabs">
        <div class="tab-content" id="pills-tabContent">
          <% my_workshops = [] %>
          <% my_workshops_online = [] %>
          <% my_workshops_in_validation = [] %>
          <% my_workshops_offline = [] %>
          <% my_sessions = [] %>
          <% canceled_bookings = [] %>
          <% my_dates = [] %>

          <!-- ORGANISÉS -->
          <% @profile.user.places.where(db_status: true).each do |place| %>
            <% if place.workshops.where(db_status: true) %>
              <% place.workshops.where(db_status: true).each do |workshop| %>
                <% my_workshops << workshop %>
                <% if workshop.status == "en ligne" %>
                  <% my_workshops_online << workshop %>
                <% elsif workshop.status == "vérification" %>
                  <% my_workshops_in_validation << workshop %>
                <% else %>
                  <% my_workshops_offline << workshop %>
                <% end %>
                <% workshop.sessions.where(db_status: true).each do |session| %>
                  <% my_sessions << session %>
                  <% my_dates << session.date %>
                <% end %>
                <% workshop.sessions.each do |session| %>
                  <% session.bookings.where(db_status: false, status: "refunded").each do |booking| %>
                    <% canceled_bookings << booking %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <!-- ANIMÉS -->
          <% @profile.user.animators.where(db_status: true).each do |animator| %>
            <% if animator.workshop.db_status == true && animator.workshop.animators.where(db_status: true).last.user == @profile.user %>
              <% my_workshops << animator.workshop %>
                <% if animator.workshop.status == "en ligne" %>
                  <% my_workshops_online << animator.workshop %>
                <% elsif animator.workshop.status == "vérification" %>
                  <% my_workshops_in_validation << animator.workshop %>
                <% else %>
                  <% my_workshops_offline << animator.workshop %>
                <% end %>
              <% animator.workshop.sessions.where(db_status: true).each do |session| %>
                <% my_sessions << session %>
                <% my_dates << session.date %>
              <% end %>
              <% animator.workshop.sessions.each do |session| %>
                <% session.bookings.where(db_status: false, status: "refunded").each do |booking| %>
                  <% canceled_bookings << booking %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% my_workshops_online = my_workshops_online.sort_by { |workshop| workshop.created_at } %>
          <% my_workshops_in_validation = my_workshops_in_validation.sort_by { |workshop| workshop.created_at } %>
          <% my_workshops_offline = my_workshops_offline.sort_by { |workshop| workshop.created_at } %>
          <% my_workshops_online_then_offline = my_workshops_online.concat(my_workshops_in_validation).concat(my_workshops_offline) %>

          <!-- MY WORKSHOPS -->

          <div class="tab-pane fade show active" id="v-pills-my-workshops" role="tabpanel" aria-labelledby="v-pills-my-workshops-tab">

            <%= link_to new_workshop_path, id: "add-new-workshop" do %>
              <i class="fas fa-plus mr-1"></i>
              <span>Créer un atelier</span>
            <% end %>
            <% my_workshops_online_then_offline.each_with_index do |workshop, index| %>

              <% my_ws_bookings_7_days = [] %>
              <% my_ws_bookings_today = [] %>
              <% all_my_ws_bookings = [] %>
              <% workshop.sessions.where(db_status: true).each do |session| %>
                <% if session.date >= (Date.today - 7) && session.date < Date.today %>
                  <% session.bookings.where(db_status: true, status: 'paid').each {|b| my_ws_bookings_7_days << b } %>
                <% end %>
                <% if session.date >= Date.today %>
                  <% session.bookings.where(db_status: true, status: 'paid').each {|b| my_ws_bookings_today << b } %>
                <% end %>
                <% session.bookings.where(db_status: true, status: 'paid').each {|b| all_my_ws_bookings << b } %>
              <% end %>

              <% if workshop.status == "en ligne" %>
                <div class="ws-dashboard-organizer-card-container">
              <% elsif workshop.status == "vérification" %>
                <div class="ws-dashboard-organizer-card-container" id="in-validation-ws">
              <% else %>
                <div class="ws-dashboard-organizer-card-container" id="offline-ws">
              <% end %>
                <div class="ws-dashboard-organizer-card">
                  <div class="ws-dashboard-organizer-image">
                    <% if workshop.photos.attached? %>
                      <%= cl_image_tag workshop.photos[0].key, loading: "lazy", alt: "jeu-de-mains-#{workshop.title}", title: "jeu-de-mains-#{workshop.title}", width: 95, height: 95, crop: :fill %>
                    <% else %>
                      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593177818/jeu-de-mains-atelier.jpg", :loading => "lazy", :width => 95, :height => 95, :crop => :fill, :alt => "jeu-de-mains-#{workshop.title}", :title => "jeu-de-mains-#{workshop.title}") %>
                    <% end %>
                  </div>
                  <span id="dashboard-workshop-status"><%= workshop.status.capitalize %></span>
                  <div class="ws-dashboard-organizer-text-and-buttons">
                    <div class="ws-dashboard-organizer-text">
                      <%= link_to workshop_path(workshop) do %>
                        <h2><%= workshop.title %></h2>
                      <% end %>
                      <span class="ws-dashboard-organizer-text-your-role">
                        <% if workshop.place.user == current_user %>
                          <i class="fas fa-user-shield mr-1"></i> Organisé par vous
                        <% else %>
                          <i class="fas fa-palette mr-1"></i>Animé par vous
                        <% end %>
                      </span>

                      <% if workshop.place.user == current_user && workshop.animators.where(db_status: true).present? %>
                        <h3>Animé par
                          <%= link_to profile_public_path(workshop.animators.where(db_status: true).last.user.profile) do %>
                            <%= workshop.animators.where(db_status: true).last.user.profile.company %>
                          <% end %>
                        </h3>
                      <% elsif workshop.place.user != current_user %>
                        <h3>Organisé par <%= workshop.place.user.profile.company %></h3>
                      <% end %>
                      <h3>Chez <%= workshop.place.name[0..28] %> à <%= workshop.place.city.capitalize %></h3>
                    </div>
                    <div class="show-actions-button show-actions-button-<%= index +1 %> active" id="showActionsButtons-<%= index +1 %>">
                      <%= link_to "#", class: "button" do %>
                        Gérer
                        <i class="fas fa-angle-right ml-2"></i>
                      <% end %>
                    </div>


                    <div class="ws-dashboard-organizer-buttons" id="ws-dashboard-organizer-buttons-<%= index +1 %>">

                      <% if workshop.place.user == current_user || current_user.admin %>
                        <div>
                          <a href="#addSessionModal<%= index +1 %>" class="button mr-2" data-toggle="modal" data-whatever="@mdo" id="add-date-button">
                            <i class="fas fa-plus mr-1"></i>
                            <span>Ajouter une date</span>
                          </a>

                          <div class="modal fade add-session-modal" id="addSessionModal<%= index +1 %>" tabindex="-1" role="dialog" aria-labelledby="addSessionModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">

                                <div class="form-group">
                                  <%= simple_form_for([workshop, @session]) do |f| %>
                                    <div class="modal-body">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593191048/jeu-de-mains-fermer-bleu.svg", :width => 50, :height => 50, :crop => :fill, :alt => "jeu-de-mains-fermer", :title => "jeu-de-mains-fermer") %>
                                      </button>

                                      <%= f.input :date, required: true, label: "Date de l'atelier" %>
                                      <%= f.input :start_at, required: true, label: "Heure de début", collection: Session::STARTS_AT %>
                                      <%= f.input :capacity, label: "Nombre de places si différent de celui indiqué dans la fiche atelier" %>

                                      <div class="d-flex justify-content-center">
                                        <%= f.submit 'Valider', class: "new-edit-ws-submit" %>
                                      </div>

                                    </div>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>

                      <% if workshop.place.user == current_user || current_user.admin %>

                        <% if workshop.animators.where(db_status: true).nil? %>

                          <div>
                            <a href="#addAnimatorModal<%= index +1 %>" class="button mr-2" data-toggle="modal" data-whatever="@mdo" id="add-animator-button">
                              <i class="fas fa-plus mr-1"></i>
                              <span>Ajouter un animateur</span>
                            </a>

                            <div class="modal fade add-animator-modal" id="addAnimatorModal<%= index +1 %>" tabindex="-1" role="dialog" aria-labelledby="addAnimatorModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                  <div class="form-group">
                                    <%= simple_form_for([workshop, @animator]) do |f| %>
                                      <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593191048/jeu-de-mains-fermer-bleu.svg", :width => 50, :height => 50, :crop => :fill, :alt => "jeu-de-mains-fermer", :title => "jeu-de-mains-fermer") %>
                                        </button>

                                        <div class="form-group select required animator_user">
                                          <label class="select required" for="animator_user_id">
                                            Vous vous apprêtez à attribuer un animateur à votre atelier. L'animateur doit avoir été mis au courant au préalable de votre collaboration. Jeu de Mains n'est pas responsable des collaborations entre organisateurs et animateurs d'ateliers.
                                          </label>
                                          <select class="form-control select required" name="animator[user_id]" id="animator_user_id">
                                            <% @users.sort_by { |user| user.profile.company }.each do |user| %>
                                              <option value="<%= user.id %>"><%= user.profile.company %></option>
                                            <% end %>
                                          </select>
                                        </div>

                                        <div class="d-flex justify-content-center">
                                          <%= f.submit 'Valider', class: "new-edit-ws-submit" %>
                                        </div>
                                      </div>
                                    <% end %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        <% elsif workshop.animators.where(db_status: true).present? && all_my_ws_bookings.empty? %>
                          <div>
                            <a href="#updateAnimatorModal<%= index +1 %>" class="button mr-2" data-toggle="modal" data-whatever="@mdo">
                              <span>Remplacer l'animateur</span>
                            </a>

                            <div class="modal fade add-animator-modal" id="updateAnimatorModal<%= index +1 %>" tabindex="-1" role="dialog" aria-labelledby="updateAnimatorModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                  <div class="form-group">
                                    <%= form_for workshop.animators.where(db_status: true).last, method: :patch do |f| %>
                                      <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593191048/jeu-de-mains-fermer-bleu.svg", :width => 50, :height => 50, :crop => :fill, :alt => "jeu-de-mains-fermer", :title => "jeu-de-mains-fermer") %>
                                        </button>

                                        <div class="form-group select required animator_user">
                                          <label class="select required" for="animator_user_id">Animateur</label>
                                          <select class="form-control select required" name="animator[user_id]" id="animator_user_id">
                                            <% @users.sort_by { |user| user.profile.company }.each do |user| %>
                                              <option value="<%= user.id %>"><%= user.profile.company %></option>
                                            <% end %>
                                          </select>
                                        </div>

                                        <div class="d-flex justify-content-center">
                                          <%= f.submit 'Valider', class: "new-edit-ws-submit" %>
                                        </div>
                                      </div>
                                    <% end %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        <% else %>
                          <a href="#disabledAnimatorModal<%= index +1 %>" class="button mr-2" data-toggle="modal" data-whatever="@mdo" id="turn-online-offline-button-disabled">
                              Remplacer l'animateur
                            </a>

                          <div class="modal fade disabled-modal" id="disabledAnimatorModal<%= index +1 %>" tabindex="-1" role="dialog" aria-labelledby="disabledAnimatorModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="form-group">
                                    <div class="modal-body">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593191048/jeu-de-mains-fermer-bleu.svg", :width => 50, :height => 50, :crop => :fill, :alt => "jeu-de-mains-fermer", :title => "jeu-de-mains-fermer") %>
                                      </button>
                                      <div class="mt-3">
                                        Vous avez déjà eu des réservations pour cet atelier, vous ne pouvez pas modifier l'animateur.<br>
                                        Si vous souhaitez attribuer un autre animateur, alors vous devez créer un nouvel atelier, par exemple en dupliquant celui-ci &#128521;
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        <% end %>
                      <% end %>

                      <% if workshop.place.user == current_user || current_user.admin %>
                        <%= link_to "Modifier la fiche", edit_workshop_path(workshop), class: "button mr-2" %>
                      <% end %>
                      <% if workshop.place.user == current_user || current_user.admin %>
                        <%= link_to "Gérer les sessions", workshop_sessions_path(workshop), class: "button mr-2" %>
                      <% else %>
                        <%= link_to "Voir les sessions", workshop_sessions_path(workshop), class: "button mr-2" %>
                      <% end %>

                      <% if workshop.place.user == current_user || current_user.admin %>

                        <%= simple_form_for(@workshop) do |f| %>
                          <%= f.hidden_field :title, value: workshop.title %>
                          <%= f.hidden_field :program, value: workshop.program %>
                          <%= f.hidden_field :final_product, value: workshop.final_product %>
                          <%= f.hidden_field :thematic, value: workshop.thematic %>
                          <%= f.hidden_field :level, value: workshop.level %>
                          <%= f.hidden_field :duration, value: workshop.duration %>
                          <%= f.hidden_field :price, value: workshop.price %>
                          <%= f.hidden_field :capacity, value: workshop.capacity %>
                          <%= f.hidden_field :place_id, value: workshop.place_id %>
                          <%= f.submit 'Dupliquer', class: "button mr-2", id: "turn-online-offline-button" %>
                        <% end %>
                      <% end %>


                      <% if workshop.place.user == current_user || current_user.admin %>

                        <% if workshop.status == "en ligne" && my_ws_bookings_today.empty? %>
                          <%= form_for workshop, method: :patch do |f| %>
                            <%= f.hidden_field :status, value: 'hors ligne' %>
                            <%= f.hidden_field :verified, value: false %>
                            <%= f.submit 'Passer hors ligne', class: "button mr-2", id: "turn-online-offline-button" %>
                          <% end %>
                        <% elsif workshop.status == "en ligne" && my_ws_bookings_today.size > 0 %>
                          <a href="#disabledModal<%= index +1 %>" class="button mr-2" data-toggle="modal" data-whatever="@mdo" id="turn-online-offline-button-disabled">
                              Passer hors ligne
                            </a>

                          <div class="modal fade disabled-modal" id="disabledModal<%= index +1 %>" tabindex="-1" role="dialog" aria-labelledby="disabledModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="form-group">
                                    <div class="modal-body">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593191048/jeu-de-mains-fermer-bleu.svg", :width => 50, :height => 50, :crop => :fill, :alt => "jeu-de-mains-fermer", :title => "jeu-de-mains-fermer") %>
                                      </button>
                                      <div class="mt-3">
                                        Vous avez déjà des réservations pour cet atelier, vous ne pouvez pas le passer <em>hors ligne</em>.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                        <% elsif workshop.status == 'hors ligne' && workshop.sessions.where(db_status: true).select { |session| session.date >= Date.today }.present? && workshop.completed? %>
                          <a href="/ateliers/<%=workshop.id%>/send_verification_mail" class="button mr-2">Demander la mise en ligne</a>

                        <% elsif workshop.completed? == false || workshop.sessions.where(db_status: true).select { |session| session.date >= Date.today }.present? == false %>
                          <a href="#disabledOnlineModal<%= index +1 %>" class="button mr-2" data-toggle="modal" data-whatever="@mdo" id="turn-online-offline-button-disabled">
                            Passer en ligne
                          </a>

                          <div class="modal fade disabled-modal" id="disabledOnlineModal<%= index +1 %>" tabindex="-1" role="dialog" aria-labelledby="disabledOnlineModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="form-group">
                                  <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593191048/jeu-de-mains-fermer-bleu.svg", :width => 50, :height => 50, :crop => :fill, :alt => "jeu-de-mains-fermer", :title => "jeu-de-mains-fermer") %>
                                    </button>
                                    <div class="mt-3">
                                      <% if workshop.completed? %>
                                        Vous n'avez pas de session à venir pour cet atelier, il ne peut donc pas être <em>en ligne</em>. Merci d'ajouter une nouvelle date.
                                      <% else %>
                                        <strong>Les informations concernant l'atelier sont incomplètes.</strong><br>
                                        Informations non renseignées :
                                        <ul>
                                          <% if workshop.title.present? == false %><li>Intitulé de l'atelier</li><% end %>
                                          <% if workshop.title.present? == false %><li>Intitulé de l'atelier</li><% end %>
                                          <% if workshop.thematic.present? == false %><li>Type d'atelier</li><% end %>
                                          <% if workshop.level.present? == false %><li>Niveau requis pour participer</li><% end %>
                                          <% if workshop.duration.present? == false %><li>Durée de l'atelier</li><% end %>
                                          <% if workshop.final_product.present? == false %><li>Nombre de places proposées</li><% end %>
                                          <% if workshop.price.present? == false || workshop.price == 0 %><li>Prix par personne</li><% end %>
                                          <% if workshop.program.present? == false %><li>Programme</li><% end %>
                                          <% if workshop.final_product.present? == false %><li>Repartez avec</li><% end %>
                                        </ul>
                                        Veuillez compléter les informations manquantes en cliquant sur <strong><em>Modifier la fiche</em></strong>.
                                      <% end %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      <% end %>

                      <% if workshop.place.user == current_user || current_user.admin %>

                        <% if workshop.status == "hors ligne" && my_ws_bookings_7_days.empty? %>
                          <%= link_to workshop_path(workshop),
                            method: :delete,
                            data: { confirm: "Êtes-vous sûr de vouloir supprimer cet atelier ?" },
                            class: "button",
                            id: "destroy-ws" do %>
                            <i class="far fa-trash-alt"></i>
                          <% end %>
                        <% end %>
                      <% end %>

                      <% if workshop.place.user != current_user %>
                        <%= simple_form_for(@chatroom) do |f| %>
                          <%= f.hidden_field :room_name, value: workshop.title %>
                          <%= f.hidden_field :user1, value: current_user.id %>
                          <%= f.hidden_field :user2, value: workshop.place.user.id %>
                          <button type="submit" name="commit" class="button mr-2">
                            </i> Contacter l'organisateur
                          </button>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

            <% if my_workshops.size == 0 %>
              <p>Vous n'avez pas encore créé d'atelier, <%= link_to "cliquez ici pour commencer !", new_workshop_path %> &#128521;</p>
            <% end %>
          </div>

          <!-- MY AGENDA -->

          <div class="tab-pane fade" id="v-pills-my-agenda" role="tabpanel" aria-labelledby="v-pills-my-agenda-tab">
            <div class="mobile-dashboard-my-agenda">
              <% date_to_come = 0 %>
              <% my_dates.to_set.sort.each do |date| %>
                <% if date >= Date.today %>
                  <% date_to_come += 1 %>
                  <div class="mobile-dashboard-my-agenda-date">
                    <div class="mobile-dashboard-my-agenda-date-title">
                      <h2><%= l(date, format: '%A %d %B %Y').capitalize %></h2>
                    </div>
                    <div class="mobile-dashboard-my-agenda-date-container">
                      <% Session.where("date = ?", date.strftime).where(db_status: true).sort_by { |session| session.start_at }.each do |session| %>
                        <% if session.workshop.place.user == current_user || (session.workshop.animators.where(db_status: true).last.user == current_user if session.workshop.animators.where(db_status: true).present?) %>
                          <div class="mobile-dashboard-my-agenda-workshop">
                            <%= link_to workshop_path(session.workshop) do  %>
                              <% session_start_time = Time.new(Date.today.strftime('%Y').to_i, Date.today.strftime('%m').to_i, Date.today.strftime('%d').to_i, session.start_at[0..1], session.start_at[-2..-1], 0, "+01:00") %>
                              <% session_end_time = session_start_time + session.workshop.duration.minutes %>
                              <% if session.workshop.title.size > 33 %>
                                <h3><%= session_start_time.strftime("%Hh%M") %> à <%= session_end_time.strftime("%Hh%M") %> - <%= session.workshop.title[0..30] %>...</h3>
                              <% else %>
                                <h3><%= session_start_time.strftime("%Hh%M") %> à <%= session_end_time.strftime("%Hh%M") %> - <%= session.workshop.title %></h3>
                              <% end %>
                            <% end %>

                            <div class="mobile-dashboard-my-agenda-workshop-infos">

                              <% if session.workshop.place.user == current_user %>
                                <h4 class="mobile-my-agenda-ws-animator">
                                  <i class="fas fa-user-shield mr-1"></i>
                                  <strong>Vous êtes organisateur</strong>
                                </h4>
                              <% else %>
                                <h4 class="mobile-my-agenda-ws-animator">
                                  <i class="fas fa-graduation-cap mr-1"></i>
                                  <strong>Vous êtes animateur</strong>
                                </h4>
                              <% end %>

                              <h4 class="mobile-my-agenda-ws-place-name">
                                <%= link_to "https://www.google.fr/maps/search/#{session.workshop.place.address}, #{session.workshop.place.zip_code} #{session.workshop.place.city.upcase}", target: "_blank" do %>
                                  <i class="fas fa-map-marker-alt mr-2"></i>
                                  Chez <%= session.workshop.place.name %> au <%= "#{session.workshop.place.address}, #{session.workshop.place.zip_code} #{session.workshop.place.city.capitalize}" %>
                                <% end %>
                              </h4>

                              <% if session.workshop.place.user == current_user %>
                                <% if session.workshop.animators.where(db_status: true).last %>
                                  <h4 class="mobile-my-agenda-ws-animator">
                                    <i class="fas fa-graduation-cap mr-1"></i>
                                    Animé par <%= session.workshop.animators.where(db_status: true).last.user.profile.company %>
                                  </h4>
                                <% end %>
                              <% else %>
                                <h4 class="mobile-my-agenda-ws-animator">
                                  <i class="fas fa-user-shield mr-1"></i>
                                  Organisé par <%= session.workshop.place.user.profile.company %>
                                </h4>
                              <% end %>

                              <h4 class="mobile-my-agenda-ws-duration">
                                <i class="far fa-clock mr-2"></i>
                                <% if session.workshop.duration%60 == 0 %>
                                  <%= session.workshop.duration/60 %> heures
                                <% else %>
                                  <%= session.workshop.duration/60 %> heures <%= session.workshop.duration%60 %>
                                <% end %>
                              </h4>
                              <h4 class="mobile-my-agenda-ws-sessions">
                                <i class="fas fa-ticket-alt mr-1"></i>
                                <%= session.available %> places restantes / <%= session.capacity %>
                              </h4>
                            </div>
                            <div class="mobile-dashboard-my-agenda-workshop-participants">
                              <% if session.available == session.capacity && session.workshop.place.user == current_user %>
                                <%= link_to "Déprogrammer la session",
                                session_path(session),
                                method: :delete,
                                data: { confirm: "Êtes-vous sûr?" },
                                class: "button" %>
                              <% elsif session.available != session.capacity %>
                                <%= link_to "Voir et contacter les participants", session_participants_path(session), class: "button" %>
                              <% end %>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% if date_to_come == 0 %>
                Votre planning est vide, vous n'avez aucune session à venir.
              <% end %>
            </div>
          </div>

          <!-- MY KPIs -->


          <% my_bookings_kpi_7_days = 0 %>
          <% my_bookings_kpi_30_days = 0 %>
          <% my_sessions.each do |session| %>
            <% session.bookings.where(db_status: true, status: "paid").each do |booking| %>
              <% if booking.created_at >= Date.today - 7 %>
                <% my_bookings_kpi_7_days += booking.quantity %>
              <% elsif booking.created_at >= Date.today - 30 %>
                <% my_bookings_kpi_30_days += booking.quantity %>
              <% end %>
            <% end %>
          <% end %>

          <% my_cancels_kpi_7_days = 0 %>
          <% my_cancels_kpi_30_days = 0 %>
          <% canceled_bookings.each do |booking| %>
            <% if booking.updated_at >= Date.today - 7 %>
              <% my_cancels_kpi_7_days += booking.quantity %>
            <% elsif booking.updated_at >= Date.today - 30 %>
              <% my_cancels_kpi_30_days += booking.quantity %>
            <% end %>
          <% end %>

          <div class="tab-pane fade" id="v-pills-my-kpis" role="tabpanel" aria-labelledby="v-pills-my-kpis-tab">
            <div class="dashboard-my-kpis">
              <div class="dashboard-my-kpis-item" id="dashboard-my-kpis-bookings">
                <h2 class="my-bookings-seven-days active"><%= my_bookings_kpi_7_days %></h2>
                <h2 class="my-bookings-thirty-days"><%= my_bookings_kpi_7_days + my_bookings_kpi_30_days %></h2>
                <h3>réservation.s<br>passée.s depuis</h3>
                <label class="switch mt-1">
                  <input type="checkbox" id="togBtnBookings">
                    <div class="slider slider-bookings round">
                      <span class="on">7 jours</span>
                      <span class="off">30 jours</span>
                    </div>
                </label>
              </div>
              <div class="dashboard-my-kpis-item" id="dashboard-my-kpis-cancellations">
                <h2 class="my-cancellations-seven-days active"><%= my_cancels_kpi_7_days %></h2>
                <h2 class="my-cancellations-thirty-days"><%= my_cancels_kpi_7_days + my_cancels_kpi_30_days %></h2>
                <h3>réservation.s<br>annulée.s depuis</h3>
                <label class="switch mt-1">
                  <input type="checkbox" id="togBtnCancellations">
                    <div class="slider slider-cancellations round">
                      <span class="on">7 jours</span>
                      <span class="off">30 jours</span>
                    </div>
                </label>
              </div>
              <div class="dashboard-my-kpis-item" id="dashboard-my-kpis-workshops">
                <h2><%= my_workshops_online.count %></h2>
                <% if my_workshops_online.count > 1 %>
                  <h3>ateliers<br>en ligne</h3>
                <% else %>
                  <h3>atelier<br>en ligne</h3>
                <% end %>
              </div>
              <div class="dashboard-my-kpis-item" id="dashboard-my-kpis-sessions">
                <h2><%= my_sessions.count %></h2>
                <% if my_sessions.count > 1 %>
                  <h3>créneaux<br>proposés</h3>
                <% else %>
                  <h3>créneau<br>proposé</h3>
                <% end %>
              </div>

              <div class="dashboard-my-kpis-item" id="dashboard-my-kpis-rating">
                <% if current_user.profile.reviews.count > 0 %>
                  <h2><%= current_user.profile.rating.round(2) %></h2>
                  <h3>note globale<br> sur 5</h3>
                <% else %>
                  <h3>Vous n'avez pas<br>encore de note</h3>
                <% end %>
              </div>
              <div class="dashboard-my-kpis-item" id="dashboard-my-kpis-reviews">
                <% if current_user.profile.reviews.count > 0 %>
                  <h2><%= current_user.profile.reviews.count %></h2>
                  <% if current_user.profile.reviews.count > 1 %>
                    <h3>avis reçus</h3>
                  <% else %>
                    <h3>avis reçu</h3>
                  <% end %>
                  <a href="#dashboardreviewsModal" class="my-kpis-button mt-1" data-toggle="modal" data-whatever="@mdo">Consulter</a>
                  <%= render 'dashboard_modal', profile: @profile %>
                <% else %>
                  <h3>Vous n'avez pas<br>encore d'avis</h3>
                <% end %>
              </div>

            </div>
          </div>

          <!-- MY TRANSACTIONS -->

          <div class="tab-pane fade" id="v-pills-my-transactions" role="tabpanel" aria-labelledby="v-pills-my-transactions-tab">
            mes transactions (à coder plus tard, une fois stripe inclus)
             <div>
              <% unless current_user.can_receive_payments? %>
                <p>
                  Vous ne pouvez pas créer d'atelier tant que vous n'avez pas associé votre compte à la plateforme de paiement Stripe Connect de Jeu de Mains !
                </p>
                <%= stripe_connect_button %>
              <% else %>
                <p>Vous avez déjà connecté votre compte à la plateforme de paiement Stripe Connect</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
