<% if @profile.user == current_user %>

  <!-- DASHBOARD - ORGANIZER -->

  <div class="dashboard-title-container" id="dashboard-organizer-title-container">
    <h1>
      Hello <span><%= @profile.company %></span>,<br>bienvenue sur votre tableau de bord !
    </h1>
  </div>

  <div class="dashboard-organizer-container">
    <div class="dashboard-nav-and-tab" id="dashboard-organizer-nav-and-tab">

      <!-- NAV PILLS DESKTOP & TABLET -->

      <div class="dashboard-nav-desktop-tablet">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-my-workshops-tab" data-toggle="pill" href="#v-pills-my-workshops" role="tab" aria-controls="v-pills-my-workshops" aria-selected="true">
            Mes ateliers
          </a>
          <a class="nav-link" id="v-pills-my-agenda-tab" data-toggle="pill" href="#v-pills-my-agenda" role="tab" aria-controls="v-pills-my-agenda" aria-selected="false">
            Mon planning
          </a>
          <a class="nav-link" id="v-pills-my-places-tab" data-toggle="pill" href="#v-pills-my-places" role="tab" aria-controls="v-pills-my-places" aria-selected="false">
            Mes lieux
          </a>
          <a class="nav-link" id="v-pills-my-kpis-tab" data-toggle="pill" href="#v-pills-my-kpis" role="tab" aria-controls="v-pills-my-kpis" aria-selected="false">
            Mes chiffres clés
          </a>
          <a class="nav-link" id="v-pills-my-transactions-tab" data-toggle="pill" href="#v-pills-my-transactions" role="tab" aria-controls="v-pills-my-transactions" aria-selected="false">
            Mes transactions
          </a>
        </div>
      </div>

      <!-- NAV PILLS MOBILE -->

      <div class="dashboard-nav-mobile">
        <div class="nav nav-pills nav-pills-organizer" id="pills-tab" role="tablist">
          <a class="nav-link active" id="v-pills-my-workshops-tab" data-toggle="pill" href="#v-pills-my-workshops" role="tab" aria-controls="v-pills-my-workshops" aria-selected="true">
            <span>Mes ateliers</span>
          </a>
          <a class="nav-link" id="v-pills-my-agenda-tab" data-toggle="pill" href="#v-pills-my-agenda" role="tab" aria-controls="v-pills-my-agenda" aria-selected="false">
            <span>Mon planning</span>
          </a>
          <a class="nav-link" id="v-pills-my-places-tab" data-toggle="pill" href="#v-pills-my-places" role="tab" aria-controls="v-pills-my-places" aria-selected="false">
            <span>Mes lieux</span>
          </a>
          <a class="nav-link" id="v-pills-my-kpis-tab" data-toggle="pill" href="#v-pills-my-kpis" role="tab" aria-controls="v-pills-my-kpis" aria-selected="false">
            <span>Mes chiffres clés</span>
          </a>
          <a class="nav-link" id="v-pills-my-transactions-tab" data-toggle="pill" href="#v-pills-my-transactions" role="tab" aria-controls="v-pills-my-transactions" aria-selected="false">
            <span>Mes transactions</span>
          </a>
        </div>
      </div>

      <!-- NAV TABS -->

      <div class="dashboard-tabs" id="dashboard-organizer-tabs">
        <div class="tab-content" id="pills-tabContent">
          <% my_workshops = [] %>
          <% my_sessions = [] %>
          <% my_dates = [] %>
          <% @profile.user.places.each do |place| %>
            <% place.workshops.each do |workshop| %>
              <% my_workshops << workshop %>
              <% workshop.sessions.each do |session| %>
                <% my_sessions << session %>
                <% my_dates << session.date %>
              <% end %>
            <% end %>
          <% end %>

          <!-- MY WORKSHOPS -->

          <div class="tab-pane fade show active" id="v-pills-my-workshops" role="tabpanel" aria-labelledby="v-pills-my-workshops-tab">
            <% my_workshops.each_with_index do |workshop, index| %>
              <div class="ws-dashboard-organizer-card-container">
                <div class="ws-dashboard-organizer-card">
                  <div class="ws-dashboard-organizer-image">
                    <% if workshop.photos.attached? %>
                      <%= cl_image_tag workshop.photos[0].key, alt: "Photo-atelier", width: 95, height: 95, crop: :fill %>
                    <% else %>
                      <%= cl_image_tag("https://res.cloudinary.com/eugeniedenis/image/upload/v1593177818/workshop-picture.jpg", :width => 95, :height => 95, :crop => :fill, :alt => "Photo-atelier") %>
                    <% end %>
                  </div>
                  <div class="ws-dashboard-organizer-text-and-buttons">
                    <div class="ws-dashboard-organizer-text">
                      <%= link_to workshop_path(workshop) do %>
                        <% if workshop.title.size > 30 %>
                          <h2><%= workshop.title[0..28] %>...</h2>
                        <% else %>
                          <h2><%= workshop.title %></h2>
                        <% end %>
                      <% end %>
                      <% if workshop.place.name.size > 30 %>
                        <h3><%= workshop.place.name[0..28] %>...</h3>
                      <% else %>
                        <h3><%= workshop.place.name %></h3>
                      <% end %>
                      <span><%= workshop.status.capitalize %></span>
                    </div>
                    <div class="show-actions-button active" id="showActionsButton">
                      <%= link_to "Gérer", "#", class: "button" %>
                    </div>
                    <div class="ws-dashboard-organizer-buttons">
                      <%= link_to new_workshop_session_path(workshop), class: "button mr-2", id:"add-date-button" do %>
                        <i class="fas fa-plus mr-1"></i>
                        <span>Ajouter une date</span>
                      <% end %>
                      <%= link_to "Modifier la fiche", edit_workshop_path(workshop), class: "button mr-2" %>
                      <%= link_to "Gérer les sessions", workshop_sessions_path(workshop), class: "button mr-2" %>
                      <%= link_to "Désactiver", "#", class: "button", id: "turn-offline-button" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <!-- MY AGENDA -->

          <div class="tab-pane fade" id="v-pills-my-agenda" role="tabpanel" aria-labelledby="v-pills-my-agenda-tab">
            <div class="mobile-dashboard-my-agenda">
              <% my_dates.to_set.sort.each do |date| %>
                <% if date >= Date.today %>
                  <div class="mobile-dashboard-my-agenda-date">
                    <div class="mobile-dashboard-my-agenda-date-title">
                      <h2><%= l(date, format: '%A %d %B %Y').capitalize %></h2>
                    </div>
                    <div class="mobile-dashboard-my-agenda-date-container">
                      <% Session.where("date = ?", date.strftime).sort_by { |session| session.start_at }.each do |session| %>
                        <% if session.workshop.place.user == @profile.user %>
                          <div class="mobile-dashboard-my-agenda-workshop">
                            <%= link_to workshop_path(session.workshop) do  %>
                              <% if session.workshop.title.size > 33 %>
                                <h3><%=session.start_at%> - <%= session.workshop.title[0..30] %>...</h3>
                              <% else %>
                                <h3><%=session.start_at%> - <%= session.workshop.title %></h3>
                              <% end %>
                            <% end %>
                            <div class="mobile-dashboard-my-agenda-workshop-infos">
                              <h4 class="mobile-my-agenda-ws-place-name">
                                <i class="fas fa-map-marker-alt mr-2"></i>
                                <%= session.workshop.place.name %>
                              </h4>
                              <% if session.workshop.animators.first %>
                                <h4 class="mobile-my-agenda-ws-animator">
                                  <i class="fas fa-graduation-cap mr-1"></i>
                                  <%= session.workshop.animators.first.user.profile.company %>
                                </h4>
                              <% end %>
                              <h4 class="mobile-my-agenda-ws-duration">
                                <i class="far fa-clock mr-2"></i>
                                <% if session.workshop.duration%60 == 0 %>
                                  <%= session.workshop.duration/60 %> heures
                                <% else %>
                                  <%= session.workshop.duration/60 %> heures <%= session.workshop.duration%60 %>
                                <% end %>
                              </h4>
                              <h4 class="mobile-my-agenda-ws-sessions">
                                <i class="fas fa-ticket-alt mr-1"></i>
                                <%= session.available %> places restantes / <%= session.capacity %>
                              </h4>
                            </div>
                            <div class="mobile-dashboard-my-agenda-workshop-participants">
                              <%= link_to "Voir et contacter les participants", "#", class: "button" %>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>

          <!-- MY PLACES -->

          <div class="tab-pane fade" id="v-pills-my-places" role="tabpanel" aria-labelledby="v-pills-my-places-tab">
            <div class="dashboard-my-places">
              <% @profile.user.places.each do |place| %>
                <div class="dashboard-my-places-place">
                  <div class="dashboard-my-places-place-image">
                    <% if place.photo.attached? %>
                      <%= cl_image_tag place.photo.key, alt: "Photo-lieu", width: 85, crop: :fill %>
                    <% else %>
                      <%= cl_image_tag("https://res.cloudinary.com/eugeniedenis/image/upload/v1593177823/profile-picture.png", :width => 85, :height => 95, :crop => :fill, :alt => "Photo-atelier") %>
                    <% end %>
                  </div>
                  <div class="dashboard-my-places-place-infos">
                    <div>
                      <% if place.name.size > 30 %>
                        <h2><%= place.name[0..28] %>...</h2>
                      <% else %>
                        <h2><%= place.name %></h2>
                      <% end %>
                      <h3><%= place.address %></h3>
                      <h3><%= place.zip_code %> <%= place.city.capitalize %></h3>
                    </div>
                    <div class="dashboard-my-places-place-buttons">
                      <%= link_to "Modifier", edit_place_path(place), class: "button" %>
                      <%= link_to place_path(place), class: "button ml-1", id: "public-profile-button" do %>
                        Profil public
                        <i class="fas fa-chevron-right ml-1"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <!-- MY KPIs -->

          <div class="tab-pane fade" id="v-pills-my-kpis" role="tabpanel" aria-labelledby="v-pills-my-kpis-tab">
            mes chiffres clés
          </div>

          <!-- MY TRANSACTIONS -->

          <div class="tab-pane fade" id="v-pills-my-transactions" role="tabpanel" aria-labelledby="v-pills-my-transactions-tab">
            mes transactions
          </div>





        </div>
      </div>
    </div>
  </div>

<% end %>
