<% if current_user.admin == true %>

  <% content_for :meta_title, "Jeu de Mains | Comptabilité Réservations" %>

  <div class="container-comptabilite">

    <h1>Comptabilité réservations</h1>

    <div class="comptabilite-exports">
      <% t = Time.new(2021, 5, 1, 0, 0, 1) %>
      <% number_of_month = ((Time.now - Time.new(2021, 5, 1, 0, 0, 1)) / 1.month).round %>
      <% months = (0..number_of_month).to_a %>
      <% months.reverse.each do |m| %>
        <% time = t + (m.to_i).month %>
        <%= link_to comptabilite_reservations_profile_path(format: :xls, month: time.strftime("%m") , year: time.strftime("%Y"), end: time.end_of_month.strftime("%d")), class: "comptabilite-export-xls" do %>
          <%=l(time, format: '%B').capitalize %> <%= time.strftime("%Y") %>
          <i class="fas fa-upload ml-1"></i>
        <% end %>
      <% end %>
    </div>

    <div class="comptabilite-table">
      <table class="table" id="myBookingsTable">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Numero de reservation</th>
            <th scope="col">Partenaire</th>
            <th scope="col">Moyen de paiement</th>
            <th scope="col">Payé en carte bancaire</th>
            <th scope="col">Payé en carte cadeau</th>
            <th scope="col">Reservation TTC</th>
            <th scope="col">Remboursement TTC</th>
            <th scope="col">Taux de commission %</th>
            <th scope="col">Commission JDM HT</th>
            <th scope="col">TVA Commission JDM</th>
            <th scope="col">Commission JDM TTC</th>
          </tr>
        </thead>

        <tbody>
          <% @payments.uniq.sort_by {|p| p[:created]}.reverse.first(300).each do |p| %>
            <% b = Booking.find(p[:id]) %>
            <tr>
              <td><%= Time.at(p[:created]).strftime("%Y%m%d") %></td>
              <td><%= p[:id] %></td>
              <td><%= b.session.workshop.place.user.profile.accountant_company %></td>

              <% if b.giftcard_amount_spent.present? && (b.amount - b.giftcard_amount_spent == 0) %>
                <td>carte cadeau</td>
              <% elsif b.giftcard_amount_spent.present? && (b.amount - b.giftcard_amount_spent > 0) %>
                <td>carte bancaire & carte cadeau</td>
              <% else %>
                <td>carte bancaire</td>
              <% end %>


              <% if p[:type] == "success" %>
                <% if b.giftcard_amount_spent.present? %>
                  <td><%= ((b.workshop_unit_price * b.quantity) - b.giftcard_amount_spent) %></td>
                  <td><%= b.giftcard_amount_spent %></td>
                <% else %>
                  <td><%= b.amount %></td>
                  <td>0.0</td>
                <% end %>
                <td><%= p[:amount_ttc].round(2) %></td>
                <td>0</td>
                <td><%= b.fee * 100 %>%</td>
                <td><%= p[:fee_ht].round(2) %></td>
                <td><%= p[:fee_tva].round(2) %></td>
                <td><%= p[:fee_ttc].round(2) %></td>
              <% else %>
                <% if b.giftcard_amount_spent.present? %>
                  <td><%= (b.amount - b.giftcard_amount_spent) * b.refund_rate * -1 %></td>
                  <td><%= (b.giftcard_amount_spent * b.refund_rate) * -1 %></td>
                <% else %>
                  <td><%= b.amount * b.refund_rate * -1 %></td>
                  <td>0.0</td>
                <% end %>
                <td>0</td>
                <td><%= p[:amount_ttc].round(2) %></td>
                <td><%= b.fee * 100 %>%</td>
                <td><%= p[:fee_ht].round(2) %></td>
                <td><%= p[:fee_tva].round(2) %></td>
                <td><%= p[:fee_ttc].round(2) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>


<script>
$(document).ready(function(){
  $('#myBookingsTable').DataTable({
    "order": [[ 0, "desc" ]],
    "lengthMenu": [[ 25, 50, 100 ],[ '25', '50', '100']
    ],
    "language": {
      "sProcessing": "Traitement en cours ...",
      "sLengthMenu": "Afficher _MENU_ lignes",
      "sZeroRecords": "Aucun résultat trouvé",
      "sEmptyTable": "Aucune donnée disponible",
      "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
      "sInfoEmpty": "Aucune ligne affichée",
      "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
      "sInfoPostFix": "",
      "sSearch": "Rechercher :",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Chargement...",
      "oPaginate": {
        "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
      },
      "oAria": {
        "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
      },
    }
  });
});
</script>

