<% if current_user.admin == true %>
  <div class="container-comptabilite">
    <h1>Comptabilité cartes cadeaux</h1>

    <div class="comptabilite-exports">
      <% t = Time.new(2021, 1, 1, 0, 0, 1) %>
      <% number_of_month = ((Time.now - Time.new(2021, 1, 1, 0, 0, 1)) / 1.month).round %>
      <% months = (0..number_of_month).to_a %>
      <% months.reverse.each do |m| %>
        <% time = t + (m.to_i).month %>
        <%= link_to comptabilite_cartes_cadeaux_profile_path(format: :xls, month: time.strftime("%m") , year: time.strftime("%Y"), end: time.end_of_month.strftime("%d")), class: "comptabilite-export-xls" do %>
          <%=l(time, format: '%B').capitalize %> <%= time.strftime("%Y") %>
          <i class="fas fa-upload ml-1"></i>
        <% end %>
      <% end %>
    </div>

    <div class="comptabilite-table">
      <table class="table" id="myGiftcardsTable" >
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Client</th>
            <th scope="col">Numéro</th>
            <th scope="col">Numéro élément Stripe</th>
            <th scope="col">Libellé</th>
            <th scope="col">Débit</th>
            <th scope="col">Crédit</th>
            <th scope="col">Monnaie</th>
          </tr>
        </thead>
        <tbody>
          <% @charges.uniq.sort_by {|c| Time.at(c[:created])}.reverse.first(300).each do |c| %>
            <% g = Giftcard.find(c[:giftcard_id]) %>
            <tr>
              <td><%= Time.at(c[:created]).strftime("%Y%m%d") %></td>
              <% if c[:type] == "reçu" || c[:type] == "remboursée" %>
                <td><%= User.find(g.buyer).fullname %> - BtoC</td>
              <% else %>
                <td><%= User.find_by(stripe_uid: c[:destination]).profile.accountant_company %>  - BtoB</td>
              <% end %>
              <td>706000</td>
              <td><%= c[:id] %></td>
              <% if c[:type] == "reçu" %>
                <td>Achat client carte cadeau n°<%= g.id if g.present? %> HT</td>
                <td></td>
                <td><%= ((c[:amount] * 0.01) / 1.2).round(2) %></td>
              <% elsif c[:type] == "remboursée" %>
                <td>Remboursement client carte cadeau n°<%= g.id if g.present? %> HT</td>
                <td><%= ((c[:amount] * 0.01) / 1.2).round(2) %></td>
                <td></td>
              <% elsif c[:type] == "viré au partenaire" %>
                <td>Paiement de l'atelier au partenaire avec CC n°<%= g.id if g.present? %> HT</td>
                <td><%= ((c[:amount] * 0.01) / 1.2).round(2) %></td>
                <td></td>
              <% else %>
                <td>Annulation client réservation avec CC n°<%= g.id if g.present? %> HT</td>
                <td></td>
                <td><%= ((c[:amount] * 0.01) / 1.2).round(2) %></td>
              <% end %>
              <td><%= c[:currency] %></td>
            </tr>
            <tr>
              <td><%= Time.at(c[:created]).strftime("%Y%m%d") %></td>
              <% if c[:type] == "reçu" || c[:type] == "remboursée" %>
                <td><%= User.find(g.buyer).fullname %> - BtoC</td>
              <% else %>
                <td><%= User.find_by(stripe_uid: c[:destination]).profile.accountant_company %>  - BtoB</td>
              <% end %>
              <td>445720</td>
              <td><%= c[:id] %></td>
              <% if c[:type] == "reçu" %>
                <td>Achat client carte cadeau n°<%= g.id if g.present? %> TVA 20%</td>
                <td></td>
                <td><%= ((c[:amount] * 0.01) - ((c[:amount] * 0.01)/ 1.2)).round(2) %></td>
              <% elsif c[:type] == "remboursée" %>
                <td>Remboursement client carte cadeau n°<%= g.id if g.present? %> TVA 20%</td>
                <td><%= ((c[:amount] * 0.01) - ((c[:amount] * 0.01)/ 1.2)).round(2) %></td>
                <td></td>
              <% elsif c[:type] == "viré au partenaire" %>
                <td>Paiement de l'atelier au partenaire avec CC n°<%= g.id if g.present? %> TVA 20%</td>
                <td><%= ((c[:amount] * 0.01) - ((c[:amount] * 0.01)/ 1.2)).round(2) %></td>
                <td></td>
              <% else %>
                <td>Annulation client réservation avec CC n°<%= g.id if g.present? %> TVA 20%</td>
                <td></td>
                <td><%= ((c[:amount] * 0.01) - ((c[:amount] * 0.01)/ 1.2)).round(2) %></td>
              <% end %>
              <td><%= c[:currency] %></td>
            </tr>
            <tr style="border-bottom:2px solid #dee2e6;">
              <td><%= Time.at(c[:created]).strftime("%Y%m%d") %></td>
              <% if c[:type] == "reçu" || c[:type] == "remboursée" %>
                <td><%= User.find(g.buyer).fullname %> - BtoC</td>
              <% else %>
                <td><%= User.find_by(stripe_uid: c[:destination]).profile.accountant_company %>  - BtoB</td>
              <% end %>
              <td>CXXXX</td>
              <td><%= c[:id] %></td>
              <% if c[:type] == "reçu" %>
                <td>Achat client carte cadeau n°<%= g.id if g.present? %> TTC</td>
                <td><%= (c[:amount] * 0.01).round(2) %></td>
                <td></td>
              <% elsif c[:type] == "remboursée" %>
                <td>Remboursement client carte cadeau n°<%= g.id if g.present? %> TTC</td>
                <td></td>
                <td><%= (c[:amount] * 0.01).round(2) %></td>
              <% elsif c[:type] == "viré au partenaire" %>
                <td>Paiement de l'atelier au partenaire avec CC n°<%= g.id if g.present? %> TTC</td>
                <td></td>
                <td><%= (c[:amount] * 0.01).round(2) %></td>
              <% else %>
                <td>Annulation client réservation avec CC n°<%= g.id if g.present? %> TTC</td>
                <td><%= (c[:amount] * 0.01).round(2) %></td>
                <td></td>
              <% end %>
              <td><%= c[:currency] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function(){
  $('#myGiftcardsTable').DataTable({
    "order": [[ 0, "desc" ]],
    "lengthMenu": [[ 25, 50, 100 ],[ '25', '50', '100']
    ],
    "language": {
      "sProcessing": "Traitement en cours ...",
      "sLengthMenu": "Afficher _MENU_ lignes",
      "sZeroRecords": "Aucun résultat trouvé",
      "sEmptyTable": "Aucune donnée disponible",
      "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
      "sInfoEmpty": "Aucune ligne affichée",
      "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
      "sInfoPostFix": "",
      "sSearch": "Rechercher :",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Chargement...",
      "oPaginate": {
        "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
      },
      "oAria": {
        "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
      },
    }
  });
});
</script>
