<% if current_user.admin == true %>
  <% content_for :meta_title, "Jeu de Mains | Comptabilité Cartes Cadeaux" %>

  <div class="container-comptabilite">
    <h1>Comptabilité cartes cadeaux</h1>

    <div class="comptabilite-exports">
      <% t = Time.new(2021, 5, 1, 0, 0, 1) %>
      <% number_of_month = ((Time.now - Time.new(2021, 5, 1, 0, 0, 1)) / 1.month).round %>
      <% months = (0..number_of_month).to_a %>
      <% months.reverse.each do |m| %>
        <% time = t + (m.to_i).month %>
        <%= link_to comptabilite_cartes_cadeaux_profile_path(format: :xls, month: time.strftime("%m") , year: time.strftime("%Y"), end: time.end_of_month.strftime("%d")), class: "comptabilite-export-xls" do %>
          <%=l(time, format: '%B').capitalize %> <%= time.strftime("%Y") %>
          <i class="fas fa-upload ml-1"></i>
        <% end %>
      <% end %>
    </div>

    <div class="comptabilite-table">
      <table class="table" id="myGiftcardsTable" >
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Client</th>
            <th scope="col">N° commande</th>
            <th scope="col">Moyen de paiement</th>
            <th scope="col">Paiement brut € TTC</th>
            <th scope="col">Remboursement € TTC</th>
            <th scope="col">Paiement net € TTC</th>
            <th scope="col">Montant restant sur carte</th>
          </tr>
        </thead>
        <tbody>
          <% @giftcards.uniq.sort_by {|g| g[:created]}.reverse.first(300).each do |g| %>
            <% giftcard = Giftcard.find(g[:id]) %>
            <tr>
              <td><%= Time.at(g[:created]).strftime("%Y%m%d") %></td>
              <td><%= User.find(g[:buyer_id]).fullname %></td>
              <td><%= g[:id] %></td>
              <td>carte bancaire via stripe</td>
              <% if g[:type] == "success" %>
                <td><%= g[:amount] %></td>
                <td>0.0</td>
                <td><%= g[:amount] %></td>
                <td><%= g[:amount_left] %></td>
              <% else %>
                <td>0.0</td>
                <td><%= g[:amount] %></td>
                <td><%= g[:amount] %></td>
                <td><%= g[:amount_left] %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function(){
  $('#myGiftcardsTable').DataTable({
    "order": [[ 0, "desc" ]],
    "lengthMenu": [[ 25, 50, 100 ],[ '25', '50', '100']
    ],
    "language": {
      "sProcessing": "Traitement en cours ...",
      "sLengthMenu": "Afficher _MENU_ lignes",
      "sZeroRecords": "Aucun résultat trouvé",
      "sEmptyTable": "Aucune donnée disponible",
      "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
      "sInfoEmpty": "Aucune ligne affichée",
      "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
      "sInfoPostFix": "",
      "sSearch": "Rechercher :",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Chargement...",
      "oPaginate": {
        "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
      },
      "oAria": {
        "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
      },
    }
  });
});
</script>
