<table border="1">
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Client</th>
    <th scope="col">Numero commande</th>
    <th scope="col">Moyen de paiement</th>
    <th scope="col">Paiement brut euros ttc</th>
    <th scope="col">Remboursement euros ttc</th>
    <th scope="col">Paiement net euros ttc</th>
    <th scope="col">Montant restant sur carte</th>
  </tr>
  <% if @giftcards.present? && @giftcards.uniq.select { |g| g[:created].to_datetime >= DateTime.new(params[:year].to_i, params[:month].to_i, 1,0,0,0,"+02:00") && g[:created].to_datetime <= DateTime.new(params[:year].to_i, params[:month].to_i, params[:end].to_i,23,59,59,"+02:00") }.present? %>
    <% @giftcards.uniq.select { |g| g[:created].to_datetime >= DateTime.new(params[:year].to_i, params[:month].to_i, 1,0,0,0,"+02:00") && g[:created].to_datetime <= DateTime.new(params[:year].to_i, params[:month].to_i, params[:end].to_i,23,59,59,"+02:00") }.sort_by {|g| g[:created]}.each do |g| %>
      <% giftcard = Giftcard.find(g[:id]) %>
      <tr>
        <td><%= Time.at(g[:created]).strftime("%d/%m/%Y") %></td>
        <td><%= User.find(g[:buyer_id]).fullname %></td>
        <td><%= g[:id] %></td>
        <td>carte bancaire via stripe</td>
        <% if g[:type] == "success" %>
          <td><%= g[:amount].round(2).to_s.gsub(".",",") %></td>
          <td>0</td>
          <td><%= g[:amount].round(2).to_s.gsub(".",",") %></td>
          <td><%= g[:amount_left].round(2).to_s.gsub(".",",") %></td>
        <% else %>
          <td>0</td>
          <td><%= g[:amount].round(2).to_s.gsub(".",",") %></td>
          <td><%= g[:amount].round(2).to_s.gsub(".",",") %></td>
          <td><%= g[:amount_left].round(2).to_s.gsub(".",",") %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table
