<!-- PROFILES INDEX -->

<% content_for :meta_title, "Jeu de Mains | Partenaires" %>
<% content_for :meta_description, "Description JDM Partenaires" %>

<% if user_signed_in? %>

  <div class="place-animator-index-title">
    <h1>Retrouvez ici tous les <strong>partenaires</strong> inscrits sur jeudemains.com</h1>

    <div class="place-animator-index-filter">
      <%= link_to "Filtres", "#", class: "submit-btn", id: "showIndexFilters" %>
    </div>

    <div class="place-animator-index-search">
      <%= simple_form_for :search, url: profiles_path, method: :get do |f| %>
        <% if params[:search].present? %>
            <%= f.input :company, required: false, label: false, collection: ["Tous les partenaires"].concat(Profile.companies.sort), selected: params[:search][:company] %>
            <%= f.input :role, required: false, label: false, collection: ["Tous profils"].concat(Profile.roles), selected: params[:search][:role] %>
            <%= f.input :keyword, required: false, label: false, collection: ["Toutes thématiques"].concat(Profile.thematics.sort), selected: params[:search][:keyword] %>
            <%= f.input :place, required: false, label: false, collection: ["Toutes les villes"].concat(Profile.cities_and_districts), selected: params[:search][:place] %>
        <% else %>
            <%= f.input :company, required: false, label: false, prompt: "Tous les Partenaires", collection: Profile.companies.sort %>
            <%= f.input :role, required: false, label: false, prompt: "Tous profils", collection: Profile.roles.sort %>
            <%= f.input :keyword, required: false, label: false, prompt: "Toutes thématiques", collection: Profile.thematics.sort %>
            <%= f.input :place, required: false, label: false, prompt: "Toutes les villes", collection: Profile.cities_and_districts %>
        <% end %>
        <div class="place-animator-index-search-buttons">
          <%= f.submit 'Rechercher', class: "submit-btn", id: "submit-desktop" %>
          <button type="submit" class="submit-btn", id="submit-mobile">
            <i class="fas fa-search"></i>
          </button>
          <%= link_to "Masquer", "#", class: "", id: "hideIndexFilters"  %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="place-animator-index-container">
    <div class= "place-animator-index-cards">
      <% if @profiles.present? %>
        <% last_profile_index = @profiles.size - 1 %>
        <% @profiles.each_with_index do |profile, index| %>

        <% if index == last_profile_index %>
          <div class="place-animator-index-card" id="place-animator-index-last-card">
        <% else %>
          <div class="place-animator-index-card">
        <% end %>
            <div class="place-animator-index-card-image-and-infos">
              <%= link_to(profile_public_path(profile), data: { turbolinks: false }) do  %>
                <div class="place-anim-card-image">
                  <% if profile.photo.attached? %>
                    <%= cl_image_tag profile.photo.key, loading: "lazy", alt: "jeu-de-mains-#{profile.company}", title: "jeu-de-mains-#{profile.company}", width: 250, crop: :fill %>
                  <% else %>
                    <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1603197853/jeu-de-mains-profil.jpg", :loading => "lazy", :width => 250, :crop => :fill, :alt => "jeu-de-mains-#{profile.company}", :title => "jeu-de-mains-#{profile.company}") %>
                  <% end %>
                  <div class="place-anim-card-rating">
                    <% if profile.rating > 0 %>
                      <i class="fas fa-star"></i><%= profile.rating %>
                    <% else %>
                      nouveau
                    <% end %>
                  </div>
                </div>
              <% end %>
              <%= link_to(profile_public_path(profile), data: { turbolinks: false }) do  %>
                <div class="place-anim-card-infos">
                  <div>
                    <div class="place-anim-card-title">
                      <h2>
                        <% if profile.company.size > 29 %>
                          <%= profile.company[0..27] %>...
                        <% else %>
                          <%= profile.company %>
                        <% end %>
                      </h2>
                    </div>
                    <div class="place-anim-card-city">
                      <h3>
                        <span id="city-left">
                          <%= profile.role %> -
                          <%= profile.big_city ? profile.big_city : profile.district %>
                          </span>
                      </h3>
                    </div>
                    <div class="place-anim-card-price">
                      <% ws_prices_sum = 0 %>
                      <% all_workshops_count = 0 %>
                      <% profile.user.animators.each do |a| %>
                        <% if a.workshop.db_status == true %>
                          <% ws_prices_sum += a.workshop.price %>
                          <% all_workshops_count += 1 %>
                        <% end %>
                      <% end %>
                      <% profile.user.places.each { |p| p.workshops.each do |w| %>
                        <% if w.db_status == true %>
                          <% ws_prices_sum += w.price %>
                          <% all_workshops_count += 1 %>
                        <% end %>
                      <% end %>
                      <% } %>

                      <% if ws_prices_sum > 0 %>
                        <h4>Prix moyen : <%= ws_prices_sum.fdiv(all_workshops_count).round %> €</h4>
                      <% end %>
                    </div>
                    <div class="place-anim-card-info-tags">

                      <% if profile.thematics.size <= 3 %>
                        <% profile.thematics.each do |thematic| %>
                          <div class='informations-tag'><%= thematic %></div>
                        <% end %>
                      <% else %>
                        <div class='informations-tag'>Plusieurs thématiques</div>
                      <% end %>
                    </div>
                    <div class="place-anim-card-links-mobile">
                      <% if current_user.profile.role.present? %>
                        <%= simple_form_for(@chatroom) do |f| %>
                          <%= f.hidden_field :user1, value: current_user.id %>
                          <%= f.hidden_field :user2, value: profile.user.id %>
                          <button type="submit" name="commit" class="place-anim-card-link" id="contact-place-link">
                            <i class="fas fa-comment-dots mr-2"></i><span>Contacter</span>
                          </button>
                        <% end %>
                      <% else %>
                        <%= link_to profile_public_path(profile), class: "place-anim-card-link", id: "anim-show-page" do %>
                          <i class="fas fa-eye"></i>
                        <% end %>
                      <% end %>
                      <%= link_to profile.instagram, class: "place-anim-card-link", target: "_blank" do %>
                        <i class="fab fa-instagram"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="place-anim-card-links-desktop">
              <% if current_user.profile.role.present?  %>
                <%= simple_form_for(@chatroom) do |f| %>
                  <%= f.hidden_field :user1, value: current_user.id %>
                  <%= f.hidden_field :user2, value: profile.user.id %>
                  <button type="submit" name="commit" class="place-anim-card-link" id="contact-place-link">
                    <i class="fas fa-comment-dots"></i> Contacter
                  </button>
                <% end %>
              <% end %>
              <%= link_to profile_public_path(profile), class: "place-anim-card-link", id: "anim-show-page" do %>
                <i class="fas fa-eye mr-2"></i> Voir la page
              <% end %>
              <%= link_to profile.instagram, class: "place-anim-card-link", target: "_blank" do %>
                <i class="fab fa-instagram mr-2"></i> Instagram
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <span>Nous n'avons trouvé aucun résultat pour votre recherche.</span>
      <% end %>

    </div>
  </div>
<% end %>

