<% if user_signed_in? %>

  <div class="place-animator-index-title">
    <h1>Retrouvez ici tous les <strong>animateurs d'ateliers</strong> inscrits sur jeudemains.com</h1>

    <div class="place-animator-index-filter">
      <%= link_to "Filtres", "#", class: "submit-btn", id: "showIndexFilters" %>
    </div>

    <div class="place-animator-index-search">
      <%= simple_form_for :search, url: profiles_path, method: :get do |f| %>
        <% if params[:search].present? %>
            <%= f.input :company, required: false, label: false, prompt: "Animateurs", collection: Profile.companies.sort, selected: params[:search][:company] %>
            <%= f.input :keyword, required: false, label: false, prompt: "Tous types", collection: Workshop::THEMATICS, selected: params[:search][:keyword] %>
            <%= f.input :place, required: false, label: false, prompt: "Toutes les villes", collection: Profile.cities.sort, selected: params[:search][:place] %>
        <% else %>
            <%= f.input :company, required: false, label: false, prompt: "Animateurs", collection: Profile.companies.sort %>
            <%= f.input :keyword, required: false, label: false, prompt: "Tous types", collection: Workshop::THEMATICS %>
            <%= f.input :place, required: false, label: false, prompt: "Toutes les villes", collection: Profile.cities.sort %>
        <% end %>
        <div class="place-animator-index-search-buttons">
          <%= f.submit 'Rechercher', class: "submit-btn", id: "submit-desktop" %>
          <button type="submit" class="submit-btn", id="submit-mobile">
            <i class="fas fa-search"></i>
          </button>
          <%= link_to "Masquer", "#", class: "", id: "hideIndexFilters"  %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="place-animator-index-container">
    <div class= "place-animator-index-cards">
      <% @profiles.each do |profile| %>

        <div class="place-animator-index-card">
          <div class="place-animator-index-card-image-and-infos">
            <%= link_to(profile_public_path(profile), data: { turbolinks: false }) do  %>
              <div class="place-anim-card-image">
                <% if profile.photo.attached? %>
                  <%= cl_image_tag profile.photo.key, alt: "photo de l'animateur", width: 250, crop: :fill %>
                <% else %>
                  <%= cl_image_tag("https://res.cloudinary.com/eugeniedenis/image/upload/v1593177823/profile-picture.png", :width => 250, :crop => :fill, :alt => "photo de l'animateur") %>
                <% end %>
                <div class="place-anim-card-rating">
                  <% if profile.rating > 0 %>
                    <i class="fas fa-star"></i><%= profile.rating %>
                  <% else %>
                    new
                  <% end %>
                </div>
              </div>
            <% end %>
            <%= link_to(profile_public_path(profile), data: { turbolinks: false }) do  %>
              <div class="place-anim-card-infos">
                <div>
                  <div class="place-anim-card-title">
                    <h2>
                      <% if profile.company.size > 29 %>
                        <%= profile.company[0..27] %>...
                      <% else %>
                        <%= profile.company %>
                      <% end %>
                    </h2>
                  </div>
                  <div class="place-anim-card-city">
                    <h3>
                      <span id="city-left"><%= profile.city.capitalize %></span>
                    </h3>
                  </div>
                  <div class="place-anim-card-price">
                    <% ws_prices_sum = 0 %>
                    <% all_animators = 0 %>
                    <% profile.user.animators.each do |animator| %>
                      <% if animator.workshop.db_status == true %>
                        <% ws_prices_sum += animator.workshop.price %>
                        <% all_animators += 1 %>
                      <% end %>
                    <% end %>
                    <h4>Prix moyen : <%= ws_prices_sum.fdiv(all_animators).round %> €</h4>
                  </div>
                  <div class="place-anim-card-info-tags">

                    <% animator_thematics = [] %>
                    <% profile.user.animators.each do |animator| %>
                      <% if animator.workshop.db_status == true %>
                        <% animator_thematics << animator.workshop.thematic %>
                      <% end %>
                    <% end %>
                    <% if animator_thematics.uniq.size <= 3 %>
                      <% animator_thematics.uniq.each do |thematic| %>
                        <div class='informations-tag'><%= thematic %></div>
                      <% end %>
                    <% else %>
                      <div class='informations-tag'>Plusieurs thématiques</div>
                    <% end %>
                  </div>
                  <div class="place-anim-card-links-mobile">
                    <% if current_user.profile.role == "organisateur" || current_user.profile.role == "animateur" %>
                      <%= simple_form_for(@chatroom) do |f| %>
                        <%= f.hidden_field :room_name, value: current_user.profile.company  %>
                        <%= f.hidden_field :user1, value: current_user.id %>
                        <%= f.hidden_field :user2, value: profile.user.id %>
                        <button type="submit" name="commit" class="place-anim-card-link" id="contact-place-link">
                          <i class="fas fa-comment-dots mr-2"></i><span>Contacter</span>
                        </button>
                      <% end %>
                    <% else %>
                      <%= link_to profile_public_path(profile), class: "place-anim-card-link", id: "anim-show-page" do %>
                        <i class="fas fa-eye"></i>
                      <% end %>
                    <% end %>
                    <%= link_to profile.instagram, class: "place-anim-card-link", target: "_blank" do %>
                      <i class="fab fa-instagram"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="place-anim-card-links-desktop">
            <% if current_user.profile.role == "organisateur" || current_user.profile.role == "animateur" %>
              <%= simple_form_for(@chatroom) do |f| %>
                <%= f.hidden_field :room_name, value: current_user.profile.company  %>
                <%= f.hidden_field :user1, value: current_user.id %>
                <%= f.hidden_field :user2, value: profile.user.id %>
                <button type="submit" name="commit" class="place-anim-card-link" id="contact-place-link">
                  <i class="fas fa-comment-dots"></i> Contacter
                </button>
              <% end %>
            <% end %>
            <%= link_to profile_public_path(profile), class: "place-anim-card-link", id: "anim-show-page" do %>
              <i class="fas fa-eye mr-2"></i> Voir la page
            <% end %>
            <%= link_to profile.instagram, class: "place-anim-card-link", target: "_blank" do %>
              <i class="fab fa-instagram mr-2"></i> Instagram
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
<% end %>

