
<% if @profile.user == current_user %>

  <!-- DASHBOARD - MY BOOKINGS -->

  <% content_for :meta_title, "Jeu de Mains | Mes Cartes Cadeaux" %>

  <div class="dashboard-title-container">
    <h1>
      Hello <span><%= @profile.user.first_name.capitalize %></span>,<br>retrouvez ici vos cartes cadeaux offertes et reçues !
    </h1>
  </div>

  <div class="dashboard-container">
    <div class="dashboard-nav-and-tab" id="dashboard-my-giftcards-nav-and-tab">

      <!-- NAV PILLS DESKTOP & TABLET -->

      <div class="dashboard-nav-desktop-tablet">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-received-giftcards-tab" data-toggle="pill" href="#v-pills-received-giftcards" role="tab" aria-controls="v-pills-received-giftcards" aria-selected="true">
            Cartes cadeaux reçues
          </a>
          <a class="nav-link" id="v-pills-bought-giftcards-tab" data-toggle="pill" href="#v-pills-bought-giftcards" role="tab" aria-controls="v-pills-bought-giftcards" aria-selected="false">
            Cartes cadeaux offertes
          </a>
        </div>
      </div>

      <!-- NAV PILLS MOBILE -->

      <div class="dashboard-nav-mobile">
        <div class="nav nav-pills" id="pills-tab" role="tablist">
          <a class="nav-link active" id="v-pills-received-giftcards-tab" data-toggle="pill" href="#v-pills-received-giftcards" role="tab" aria-controls="v-pills-received-giftcards" aria-selected="true">
            Cartes cadeaux reçues
          </a>
          <a class="nav-link" id="v-pills-bought-giftcards-tab" data-toggle="pill" href="#v-pills-bought-giftcards" role="tab" aria-controls="v-pills-bought-giftcards" aria-selected="false">
            Cartes cadeaux offertes
          </a>
        </div>
      </div>

      <!-- NAV TABS -->

      <div class="dashboard-tabs">
        <div class="tab-content" id="pills-tabContent">

          <!-- RECEIVED GIFTCARDS -->

          <div class="tab-pane fade show active" id="v-pills-received-giftcards" role="tabpanel" aria-labelledby="v-pills-received-giftcards-tab">
            <%= link_to enregistrer_une_carte_cadeau_path, id: "add-new-giftcard-dashboard" do %>
              <i class="fas fa-plus mr-1"></i>
              <span>J'ai reçu une nouvelle carte cadeau</span>
            <% end %>
            <h3>Retrouvez ici les cartes cadeaux que vous avez reçues et déjà enregistrées. Pour les utiliser, ça se passe à l'étape "paiement" d'une réservation ! Bonne découverte des ateliers Jeu de Mains !</h3>
            <h4><%= link_to "Découvrir les ateliers", workshops_path, class: "discover-ws-link" %></h4>


            <% @my_received_giftcards.each do |giftcard| %>
              <div class="giftcard-confirmation-simulation" loading="lazy">
                <div class="giftcard-confirmation-simulation-row">
                  <p>Offert par</p>
                  <div class="giftcard-simulation-information">
                    <%= giftcard.buyer_name %>
                  </div>
                </div>
                <div class="giftcard-confirmation-simulation-row">
                  <p>Pour</p>
                  <div class="giftcard-simulation-information">
                    <%= giftcard.receiver_name %>
                  </div>
                </div>
                <div class="giftcard-confirmation-simulation-row">
                  <p>Montant</p>
                  <div class="giftcard-simulation-information">
                    <%= giftcard.initial_amount.to_i %> euros ttc
                  </div>
                </div>
                <div class="giftcard-confirmation-simulation-row">
                  <p>Restant</p>
                  <div class="giftcard-simulation-information">
                    <%= giftcard.amount.to_i %> euros ttc
                  </div>
                </div>
                <div class="giftcard-confirmation-simulation-row">
                  <p>Valable</p>
                  <div class="giftcard-simulation-information">
                    jusqu'au <%= (giftcard.deadline_date).strftime("%d/%m/%Y") %> à 23h59
                  </div>
                </div>
                <div class="giftcard-confirmation-simulation-row">
                  <p>N° Carte</p>
                  <div class="giftcard-simulation-information">
                    <%= giftcard.code %>
                  </div>
                </div>
              </div>

              <% if giftcard.deadline_date >= Date.today && giftcard.amount.to_i > 0 %>
                <div class="giftcard-activation-status" id="giftcard-valid">
                  <i class="fas fa-circle mr-2"></i>
                  valide, <%= giftcard.amount %> euros disponibles
                </div>
              <% elsif giftcard.amount.to_i == 0 %>
                <div class="giftcard-activation-status" id="giftcard-fully-spent">
                  <i class="fas fa-circle mr-2"></i>
                  intégralement utilisée
                </div>
              <% else %>
                <div class="giftcard-activation-status" id="giftcard-not-valid">
                  <i class="fas fa-circle mr-2"></i>
                  date de validité dépassée
                </div>
              <% end %>

              <span class="dashboard-legal-mention-giftcard"><em>La carte cadeau a une validité d'un an à partir de la date d'achat et est utilisable en plusieurs fois. La date limite de validité correspond à la date limite pour réserver et l'atelier peut tout à fait avoir lieu plus tard.</em></span>
            <% end %>

          </div>

          <!-- OFFERED GIFTCARDS -->

          <div class="tab-pane fade" id="v-pills-bought-giftcards" role="tabpanel" aria-labelledby="v-pills-bought-giftcards-tab">

            <%= link_to offrir_une_carte_cadeau_path, id: "buy-new-giftcard-dashboard" do %>
              <i class="fas fa-plus mr-1"></i>
              <span>J'offre une carte cadeau à un proche</span>
            <% end %>

            <h3>Retrouvez ici les cartes cadeaux offertes à vos proches !</h3>


            <% @my_offered_giftcards.each do |giftcard| %>
              <div class="giftcard-confirmation-simulation" loading="lazy">
                <div class="giftcard-confirmation-simulation-row">
                  <p>Offert par</p>
                  <div class="giftcard-simulation-information">
                    <%= giftcard.buyer_name %>
                  </div>
                </div>
                <div class="giftcard-confirmation-simulation-row">
                  <p>Pour</p>
                  <div class="giftcard-simulation-information">
                    <%= giftcard.receiver_name %>
                  </div>
                </div>
                <div class="giftcard-confirmation-simulation-row">
                  <p>Montant</p>
                  <div class="giftcard-simulation-information">
                    <%= giftcard.initial_amount.to_i %> euros ttc
                  </div>
                </div>
                <div class="giftcard-confirmation-simulation-row">
                  <p>Valable</p>
                  <div class="giftcard-simulation-information">
                    jusqu'au <%= (giftcard.deadline_date).strftime("%d/%m/%Y") %> à 23h59
                  </div>
                </div>
                <div class="giftcard-confirmation-simulation-row">
                  <p>N° Carte</p>
                  <div class="giftcard-simulation-information">
                    <%= giftcard.code %>
                  </div>
                </div>
                <div class="giftcard-confirmation-simulation-row">
                  <p>Bon PDF</p>
                  <div class="giftcard-simulation-information">
                    <%= link_to "Cliquer ici pour télécharger", giftcard_confirmation_achat_path(giftcard, format: :pdf), target: "_blank" %>
                  </div>
                </div>


              </div>

              <% if giftcard.receiver.present? %>
                <div class="giftcard-activation-status" id="giftcard-activated">
                  <i class="fas fa-circle mr-2"></i>
                  activée par <%= giftcard.receiver_name %>
                </div>
              <% else %>
                <div class="giftcard-activation-status" id="giftcard-not-activated">
                  <i class="fas fa-circle mr-2"></i>
                  en attente d'activation par <%= giftcard.receiver_name %>
                </div>
              <% end %>

              <span class="dashboard-legal-mention-giftcard"><em>La carte cadeau a une validité d'un an à partir de la date d'achat et est utilisable en plusieurs fois. La date limite de validité correspond à la date limite pour réserver et l'atelier peut tout à fait avoir lieu plus tard.</em></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

