<h2>views/profiles/show</h2>

<h3>Profile de <%= @profile.last_name %> <%= @profile.first_name %></h3>

<ul>
  <li>Nom : <%= @profile.last_name %></li>
  <li>Prénom : <%= @profile.first_name %></li>
  <li>Adresse : <%= "#{@profile.address}, #{@profile.zip_code} #{@profile.city}" %></li>
  <li>Téléphone : <%= @profile.phone_number %></li>
  <li>Société : <%= @profile.company %></li>
  <li>SIRET : <%= @profile.siret_number %></li>
  <li>Site internet : <%= @profile.website %></li>
  <li>Instagram : <%= @profile.instagram %></li>
  <li>Description : <%= @profile.description %></li>
  <li>Photo :
    <% if @profile.photo.attached? %>
      <%=cl_image_tag @profile.photo.key, alt: "photo de profil", height: 40, width: 40, crop: :fill %>
    <% else %>
      <%= image_tag "profile-picture.png", alt: "photo de profil", height: 40, width: 40 %>
    <% end %>
    </li>
</ul>

<% if policy(@profile).update? %>
  <%= link_to 'Mettre à jour', edit_profile_path(@profile) %>
  <h2>Vos réservations</h2>

  <ul>
    <% @profile.user.bookings.each do |booking| %>
      <li>
        <%= "Booking n°#{booking.id}" %> -
        <% if booking.reviews.present? %>
          Commentaire posté !
        <% else %>
          <%= link_to 'Ecrire un commentaire', new_booking_review_path(booking) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

