<div class="dashboard-title-container">
  <h1>
    Hello <span><%= @profile.company %></span>,<br>bienvenue sur l'état de vos transactions
  </h1>
</div>

<div class="transactions-container">
  <h2>Télécharger mes transactions par mois</h2>
  <div class="transactions-exports">
    <% t = Time.new(2021, 1, 1, 0, 0, 1) %>
    <% number_of_month = ((Time.now - Time.new(2021, 1, 1, 0, 0, 1)) / 1.month).round - 1 %>
    <% months = (0..number_of_month).to_a %>
    <% months.reverse.each do |m| %>
      <% time = t + (m.to_i).month %>
      <%= link_to transactions_profile_path(format: :xls, month: time.strftime("%m") , year: time.strftime("%Y"), end: time.end_of_month.strftime("%d")), class: "transactions-export-xls" do %>
        <%=l(time, format: '%B').capitalize %> <%= time.strftime("%Y") %>
        <i class="fas fa-upload ml-1"></i>
      <% end %>
    <% end %>
  </div>

  <div class="transactions-table">
    <h2>Visualiser mes 45 dernières transactions</h2>
    <% if @transaction_bookings.present? %>

      <div class="table-responsive" style="font-size: 13.5px; font-weight:500; font-family: helvetica, sans-serif;">
        <table id="myTable" class="table table-striped" >
          <thead>
            <tr style="background-color: #235B6A; color: #fff;">
              <th style='cursor: pointer; font-weight: 500;vertical-align:top;'>Date</th>
              <th style='cursor: pointer; font-weight: 500;vertical-align:top;'>Libellé</th>
              <th style='cursor: pointer; font-weight: 500;vertical-align:top;'>Réservation n°</th>
              <th style='cursor: pointer; font-weight: 500;vertical-align:top;'>Atelier</th>
              <th style='cursor: pointer; font-weight: 500;vertical-align:top;'>Session</th>
              <th style='cursor: pointer; font-weight: 500;vertical-align:top;'>Montant <br><span style="font-size:11px;">(euros TTC)</span></th>
              <th style='cursor: pointer; font-weight: 500;vertical-align:top;'>Commission JDM <br><span style="font-size:11px;">(euros TTC)</span></th>
              <th style='cursor: pointer; font-weight: 500;vertical-align:top;'>Votre recette <br><span style="font-size:11px;">(euros TTC)</span></th>
              <th style='cursor: pointer; font-weight: 500;vertical-align:top;'>Plus d'infos</th>
            </tr>
          </thead>
          <tbody>
            <% @transaction_bookings.each do |b| %>
              <tr>
                <td><%= b[:date].strftime("%Y%m%d") %></td>
                <td><%= b[:label] %></td>
                <td><%= b[:booking_number] %></td>
                <td><%= link_to b[:workshop].title, workshop_path(b[:workshop]), target: "_blank" %></td>
                <td><%= link_to session_participants_path(b[:session]), target: "_blank" do %>
                  <% if b[:session].start_date == b[:session].end_date %>
                    <%= "#{b[:session].start_date.strftime("%d/%m/%y")} à #{b[:session].start_time}" %>
                  <% else %>
                    <%= "#{b[:session].start_date.strftime("%d/%m/%y")} au #{b[:session].end_date.strftime("%d/%m/%y")}" %>
                  <% end %>
                <% end %>
                </td>
                <% if b[:status] == "success" %>
                  <td style="text-align:right;"><%= b[:amount].to_s.gsub(".",",") %></td>
                  <td style="text-align:right;">- <%= (b[:amount] * b[:fee_rate]).round(2).to_s.gsub(".",",") %></td>
                  <td style="text-align:right;"><%= (b[:amount] * (1 - b[:fee_rate])).round(2).to_s.gsub(".",",") %></td>
                <% else %>
                  <% cancel_fee = b[:amount] * (1.0 - b[:refund_rate]) %>
                  <td style="text-align:right;">- <%=((b[:amount] * b[:refund_rate]).round(2)).to_s.gsub(".",",") %></td>
                  <td style="text-align:right;"><%= ((b[:amount] - cancel_fee) * b[:fee_rate]).round(2).to_s.gsub(".",",") %></td>
                  <td style="text-align:right;">- <%= ((b[:amount] - cancel_fee) * (1 - b[:fee_rate])).round(2).to_s.gsub(".",",") %></td>
                <% end %>
                <td style='padding-left:7px;'><%= link_to "Plus d'infos" , booking_path(b[:booking])  %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>Vous n'avez pas encore de transaction.</p>
    <% end %>
  </div>
  <%= link_to "Voir mon compte stripe", "https://dashboard.stripe.com/dashboard", class: "button", target: "_blank" %>
</div>

<script>
$(document).ready(function(){
  $('#myTable').DataTable({
    "order": [[ 0, "desc" ]],
    "language": {
      "sProcessing": "Traitement en cours ...",
      "sLengthMenu": "Afficher _MENU_ lignes",
      "sZeroRecords": "Aucun résultat trouvé",
      "sEmptyTable": "Aucune donnée disponible",
      "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
      "sInfoEmpty": "Aucune ligne affichée",
      "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
      "sInfoPostFix": "",
      "sSearch": "Rechercher :",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Chargement...",
      "oPaginate": {
        "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
      },
      "oAria": {
        "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
      },
    }
  });
});
</script>
