<table border="1">
  <tr>
    <th>Date</th>
    <th>Libellé</th>
    <th>Réservation n°</th>
    <th>Facture n°</th>
    <th>Atelier</th>
    <th>Session</th>
    <th>Montant (euros TTC)</th>
    <th>Commission JDM (euros TTC)</th>
    <th>Votre recette (euros TTC)</th>
    <th>Plus d'infos</th>
  </tr>

  <% if @transaction_bookings.present? && @transaction_bookings.select { |b| b[:date].to_date >= DateTime.new(params[:year].to_i, params[:month].to_i, 1) && b[:date].to_date <= DateTime.new(params[:year].to_i, params[:month].to_i, params[:end].to_i) }.present? %>
    <% @transaction_bookings.select { |b| b[:date].to_date >= DateTime.new(params[:year].to_i, params[:month].to_i, 1) && b[:date].to_date <= DateTime.new(params[:year].to_i, params[:month].to_i, params[:end].to_i) }.sort_by { |b| b[:date].to_date }.reverse.each do |b| %>
      <tr>
        <td><%= b[:date].strftime('%d/%m/%y') %></td>
        <td><%= b[:label] %></td>
        <td><%= b[:booking_number] %></td>
        <% if b[:status] == "success" %>
          <td>F<%= @profile.id %>-<%= @profile.invoice_number_for(b[:booking].id) %></td>
        <% else %>
          <td>A<%= @profile.id %>-<%= @profile.refund_invoice_number_for(b[:booking].id) %></td>
        <% end %>
        <td><%= b[:workshop].title %></td>
        <td>
          <% if b[:session].start_date == b[:session].end_date %>
            <%= "#{b[:session].start_date.strftime("%d/%m/%y")} à #{b[:session].start_time}" %>
          <% else %>
            <%= "#{b[:session].start_date.strftime("%d/%m/%y")} au #{b[:session].end_date.strftime("%d/%m/%y")}" %>
          <% end %>
        </td>
        <% if b[:status] == "success" %>
          <td><%= b[:amount].to_s.gsub(".",",") %></td>
          <td>- <%= (b[:amount] * b[:fee_rate]).round(2).to_s.gsub(".",",") %></td>
          <td><%= (b[:amount] * (1 - b[:fee_rate])).round(2).to_s.gsub(".",",") %></td>
        <% else %>
          <% cancel_fee = b[:amount] * (1.0 - b[:refund_rate]) %>
          <td>- <%=((b[:amount] * b[:refund_rate]).round(2)).to_s.gsub(".",",") %></td>
          <td><%= ((b[:amount] - cancel_fee) * b[:fee_rate]).round(2).to_s.gsub(".",",") %></td>
          <td>- <%= ((b[:amount] - cancel_fee) * (1 - b[:fee_rate])).round(2).to_s.gsub(".",",") %></td>
        <% end %>
        <td>https://www.jeudemains.com<%= booking_path(b[:booking]) %></td>
      </tr>
    <% end %>
  <% end %>

</table>
