<!-- SESSIONS INDEX -->

<% if @session.workshop.db_status == true %>

  <% content_for :meta_title, "Jeu de Mains | Annulation et Remboursement" %>

  <div class="sign-container" id="annulation-page">

    <div class="sign-form">

      <div class="back-button">
        <%= link_to workshop_sessions_path(@session.workshop) do %>
          <i class="fas fa-chevron-left"></i>
          <span>Retour</span>
        <% end %>
      </div>

      <h2 class="sign-title" id="annulation-title">Annulation de l'atelier <br>
        <span><%= @session.workshop.title %> du
          <% if @session.start_date == @session.end_date %>
            <%= l(@session.start_date, format: '%A %d %b %Y') %> de <%= @session.start_time %> à <%= @session.end_time %>
          <% else %>
            <%= l(@session.start_date, format: '%d %b %Y') %> à <%= @session.start_time %> au <%= l(@session.end_date, format: '%d %b %Y') %> à <%= @session.end_time %>
          <% end %>
        </span>
      </h2>

        <div>
          <p>
            ⚠️ Vous vous apprétez à annuler une session à laquelle <strong><%= @session.sold %> participant.s se sont déjà inscrit.s. </strong><br>
            Souhaitez-vous annuler cette session et inviter le(s) participant(s) à reporter ou demander le remboursement de leur(s) réservation(s) ? <br>
          </p>
          <p>Merci de formuler la raison de l'annulation qui sera mentionnée dans l'e-mail envoyé aux participants :</p>

            <%= simple_form_for([@workshop, @session], :method => :delete) do |f| %>
              <%= f.input :reason, required: true, as: :text, :input_html => {:rows => 4}, label: "Raison", placeholder: "Exemple: Importante grève dans le quartier..." %>
              <%= f.submit "Annuler et rembourser les participants", class: "btn", id:"btn-annulation" %>
            <% end %>
          </p>
        </div>
    </div>

    <div class="sign-picture">
      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1612889842/jeu-de-mains-do-it-yourself.svg", :width => 1000, :crop => :fill, :loading => "lazy", :alt => "jeu-de-mains-illustration", :title => "jeu-de-mains-illustration") %>
    </div>

  </div>
<% end %>
