<!-- SESSIONS INDEX -->

<% if @session.workshop.db_status == true %>

  <% content_for :meta_title, "Jeu de Mains | Annulation et Remboursement" %>

  <div class="sign-container" id="annulation-page">

    <div class="sign-form">

      <div class="back-button">
        <%= link_to workshop_sessions_path(@session.workshop) do %>
          <i class="fas fa-chevron-left"></i>
          <span>Retour</span>
        <% end %>
      </div>

      <h2 class="sign-title" id="annulation-title">Annulation et remboursement de l'atelier <span><%= @session.workshop.title %> du <%= l(@session.date, format: '%A %d %B %Y').capitalize %> à <%= @session.start_at %></span></h2>

        <div>
          <p>
            ⚠️ Vous vous apprétez à annuler une session où vous avez<strong> <%= @session.bookings.where(db_status: true).map { |booking| booking.quantity }.sum %> participant.s déjà inscrit.s. </strong><br>
            Souhaitez-vous annuler cette session et procéder au remboursement du.des participant.s ? <br>
          </p>
          <p>Merci d'indiquer la raison de l'annulation qui sera mentionnée dans le mail envoyé aux participants <em>(vous serez en copie)</em> :</p>

            <%= simple_form_for([@workshop, @session], :method => :delete) do |f| %>
              <%= f.input :reason, required: true, as: :text, :input_html => {:rows => 4}, label: "Raison", placeholder: "Exemple: Importante grève dans le quartier..." %>
              <%= f.submit "Annuler et rembourser les participants", class: "btn", id:"btn-annulation" %>
            <% end %>
          </p>
        </div>
    </div>

    <div class="sign-picture">
      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1612889842/jeu-de-mains-do-it-yourself.svg", :width => 1000, :crop => :fill, :loading => "lazy", :alt => "jeu-de-mains-illustration", :title => "jeu-de-mains-illustration") %>
    </div>

  </div>
<% end %>
