<!-- SESSIONS INDEX -->
<% if @workshop.place.user == current_user %>

  <div class="sign-container" id="sessions-index-container">

    <div class="sign-form">

      <h2 class="sign-title">Sessions de l'atelier<br><span><%= @workshop.title %></span></h2>

        <div class="sessions-index">
          <% @sessions.each do |session| %>
            <div class="sessions-index-one-session">
              <div>
                <h3><%= l(session.date, format: '%A %d %B %Y').capitalize %> à <%= session.start_at %></h3>
                <h3 class="sessions-index-sessions-available"><%= session.available %> places restantes sur <%= session.capacity %></h3>
              </div>
              <div class="sessions-index-buttons">
                <%= link_to "retirer une place", "#", class: "mr-1" %>
                <%= link_to "supprimer", "#", id: "delete-session" %>
              </div>
            </div>
          <% end %>
        </div>
    </div>

    <div class="sign-picture">
      <%= cl_image_tag("https://res.cloudinary.com/eugeniedenis/image/upload/v1593629305/making-blue.svg", :width => 1000, :crop => :fill) %>
    </div>

  </div>
<% end %>
