<!-- SESSIONS INDEX -->
<% if @workshop.place.user == current_user %>

  <div class="sign-container" id="sessions-index-container">

    <div class="sign-form">

      <div class="back-button">
        <%= link_to 'javascript:history.go(-1);' do %>
          <i class="fas fa-chevron-left"></i>
          <span>Retour</span>
        <% end %>
      </div>

      <h2 class="sign-title">Sessions de l'atelier<br><span><%= @workshop.title %></span></h2>

        <div class="sessions-index">
          <% @sessions.sort_by { |session| session.date }.each do |session| %>
            <div class="sessions-index-one-session">
              <div>
                <h3><%= l(session.date, format: '%A %d %B %Y').capitalize %> à <%= session.start_at %></h3>
                <h3 class="sessions-index-sessions-available"><%= session.available %> places restantes sur <%= session.capacity %></h3>
              </div>
              <div class="sessions-index-buttons">
                <%= form_for [@workshop, session], method: :patch do |f| %>
                  <%= f.hidden_field :capacity, value: session.capacity - 1 %>
                  <button type="submit" name="commit" class="action-button">
                    <i class="fas fa-minus"></i>
                  </button>
                <% end %>
                <p><strong><%= session.capacity %> places</strong><br> proposées</p>
                <%= form_for [@workshop, session], method: :patch do |f| %>
                  <%= f.hidden_field :capacity, value: session.capacity + 1 %>
                  <button type="submit" name="commit" class="action-button">
                    <i class="fas fa-plus"></i>
                  </button>
                <% end %>
                <%= link_to "déprogrammer", "#", class: "action-button", id: "delete-session" %>
              </div>
            </div>
          <% end %>
        </div>
    </div>

    <div class="sign-picture">
      <%= cl_image_tag("https://res.cloudinary.com/eugeniedenis/image/upload/v1593629305/making-blue.svg", :width => 1000, :crop => :fill) %>
    </div>

  </div>
<% end %>
