<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= simple_form_for([@workshop, @session]) do |f| %>

        <%= f.input :date %>
        <%= f.input :start_at %>
        <%= f.input :capacity %>

        <%= f.submit 'Valider' %>

      <% end %>

      <%= link_to 'Annuler', workshops_path, class: 'btn btn-danger mt-2'  %>
    </div>
  </div>
</div>
