<!-- SESSION PARTICIPANTS -->

<% if @session.db_status == true %>

  <% content_for :meta_title, "Jeu de Mains | Participants | #{@session.workshop.title[0..30]}" %>

  <div class="sign-container" id="session-participants-container">

    <div class="sign-form">

      <div class="back-button">
        <%= link_to tableau_de_bord_profile_path(current_user.profile) do %>
          <i class="fas fa-chevron-left"></i>
          <span>Retour</span>
        <% end %>
      </div>

      <h2 class="sign-title">Participants de l'atelier<br><span><%= @session.workshop.title %></span></h2>
      <h3><i class="fas fa-calendar"></i> <%= l(@session.date, format: '%A %d %b %Y') %> à <%= @session.start_at %></h3>
      <% if @session.bookings.where(db_status: true).map { |booking| booking.quantity }.sum > 1 %>
        <h3><i class="fas fa-user"></i> <%= @session.bookings.where(db_status: true, status: "paid").map { |booking| booking.quantity }.sum %> participants sur <%= @session.capacity %></h3>
      <% else %>
        <h3><i class="fas fa-user"></i> <%= @session.bookings.where(db_status: true, status: "paid").map { |booking| booking.quantity }.sum %> participant sur <%= @session.capacity %></h3>
      <% end %>

        <div class="session-participants">
          <% number = 1 %>
          <% @session.bookings.where(db_status: true, status: "paid").each do |booking| %>
            <% booking.quantity.times do %>
              <div class="session-participants-one-participant">
                <h4><%= number %> - <%= booking.user.first_name %> <%= booking.user.last_name.first %>. - <span>réservé le <%= booking.created_at.strftime('%d/%m/%Y') %></span></h4>
              </div>
              <% number += 1 %>
            <% end %>
          <% end %>
        </div>

        <% if @session.date >= Date.today %>

          <%= link_to "Contacter les participants", "#", class: "active mb-4", id: "contactParticipantsBtn" %>

          <div class="infomessage-box inactive">
            <h5 class="infomessage-box-title">Contacter les participants</h5>
            <div class="infomessage-box-notice">
              <p>Écrivez ici un e-mail aux participants. Inutile de rappeler les informations de l'atelier et de la session qui seront ajoutées automatiquement à l'e-mail. <br>
              Exemples : donner des informations d'accès en plus de l'adresse déjà fournie, conseiller d'arriver en avance pour un atelier très rythmé, inciter à apporter des intentions créatives... <br>
              <em>Pour votre information, les participants reçoivent un jour avant l'atelier un rappel par e-mail</em></p>
            </div>
            <div class="infomessage-box-form">
              <%= simple_form_for [ @session, @infomessage ] do |f| %>
                <%= f.input :content, required: true, placeholder: 'Votre message', :input_html => {:rows => 8}, label: false, hint: "Vous serez en copie cachée de cet e-mail" %>
                <%= f.submit "Envoyer l'e-mail", class: "button" %>
              <% end %>
            </div>
          </div>

        <% end %>


        <% if @session.bookings.where(db_status: false, status: "refunded").present? %>
          <div class="mt-4">
            <h4>Annulations</h4>
            <% number = 1 %>
            <% @session.bookings.where(db_status: false, status: "refunded").each do |booking| %>
              <% booking.quantity.times do %>
                <div class="session-participants-one-participant">
                  <h4><em><%= number %> - <%= booking.user.first_name %> <%= booking.user.last_name.first %>.</span></em></h4>
                </div>
                <% number += 1 %>
              <% end %>
            <% end %>
          </div>

        <% end %>
    </div>

    <div class="sign-picture">
      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1612889842/jeu-de-mains-do-it-yourself.svg", :width => 1000, :crop => :fill, :loading => "lazy", :alt => "jeu-de-mains-illustration", :title => "jeu-de-mains-illustration") %>
    </div>

  </div>
<% end %>
