<!-- SESSIONS INDEX -->
<% if @session.workshop.place.user == current_user && @session.db_status == true || @session.workshop.animators.where(db_status: true).first.user == current_user && @session.db_status == true %>

  <div class="sign-container" id="session-participants-container">

    <div class="sign-form">

      <div class="back-button">
        <%= link_to tableau_de_bord_profile_path(current_user.profile) do %>
          <i class="fas fa-chevron-left"></i>
          <span>Retour</span>
        <% end %>
      </div>

      <h2 class="sign-title">Participants de l'atelier<br><span><%= @session.workshop.title %></span></h2>
      <h3><i class="fas fa-calendar"></i> <%= l(@session.date, format: '%A %d %b %Y') %> à <%= @session.start_at %></h3>
      <% if @session.bookings.where(db_status: true).map { |booking| booking.quantity }.sum > 1 %>
        <h3><i class="fas fa-user"></i> <%= @session.bookings.where(db_status: true).map { |booking| booking.quantity }.sum %> participants sur <%= @session.capacity %></h3>
      <% else %>
        <h3><i class="fas fa-user"></i> <%= @session.bookings.where(db_status: true).map { |booking| booking.quantity }.sum %> participant sur <%= @session.capacity %></h3>
      <% end %>

        <div class="session-participants">
          <% number = 1 %>
          <% @session.bookings.where(db_status: true).each do |booking| %>
            <% booking.quantity.times do %>
              <div class="session-participants-one-participant">
                <h4><%= number %> - <%= booking.user.first_name %> <%= booking.user.last_name.first %>. - <span>réservé le <%= booking.created_at.strftime('%d/%m/%Y') %></span></h4>
              </div>
              <% number += 1 %>
            <% end %>
          <% end %>
        </div>

        <%= link_to "Contacter les participants", "#", id: "contact-participants-btn" %>

        <div class="mt-4">
          <h4>Annulations</h4>
          <% number = 1 %>
          <% @session.bookings.where(db_status: false).each do |booking| %>
            <% booking.quantity.times do %>
              <div class="session-participants-one-participant">
                <h4><em><%= number %> - <%= booking.user.first_name %> <%= booking.user.last_name.first %>.</span></em></h4>
              </div>
              <% number += 1 %>
            <% end %>
          <% end %>
        </div>
    </div>

    <div class="sign-picture">
      <%= cl_image_tag("https://res.cloudinary.com/eugeniedenis/image/upload/v1593629305/making-blue.svg", :width => 1000, :crop => :fill) %>
    </div>

  </div>
<% end %>
