<!-- CONFIRMATION NEW -->

<div class="sign-container">

  <div class="sign-form">

    <h2 class="sign-title">Renvoyer les instructions de confirmation</h2>

    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>

      <div class="form-inputs">
        <%= f.input :email,
                required: true,
                autofocus: true,
                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Renvoyer" %>
      </div>
      <div class="sign-empty-div">
      </div>
    <% end %>

    <div class='sign-links'>
      <%= render "devise/shared/links" %>
    </div>

  </div>

  <div class="sign-picture">
    <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593629305/jeu-de-mains-illustration.svg", :width => 1000, :crop => :fill, :loading => "lazy", :alt => "jeu-de-mains-illustration", :title => "jeu-de-mains-illustration") %>
  </div>

</div>
