<!-- EDIT USER ACCOUNT -->

<% content_for :meta_title, "Jeu de Mains | Modifier mes informations" %>

<div class="sign-container">

  <div class="sign-form">

    <h2 class="sign-title">Mettre à jour votre profil</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :last_name,
                    required: false,
                    placeholder: "Nom*",
                    label: false,
                    input_html: { autocomplete: "last_name" } %>
        <%= f.input :first_name,
                    required: false,
                    placeholder: "Prénom*",
                    label: false,
                    input_html: { autocomplete: "first_name" } %>

        <%= f.input :email, required: true, placeholder: "E-mail*", label: false, autofocus: true %>

        <% if current_user.profile.role.present? == false %>
          <%= f.input :newsletter_agreement,
                      as: :radio_buttons,
                      required: false,
                      autofocus: true,
                      label: "Je souhaite recevoir les actualités de Jeu de Mains par e-mail"%>
        <% end %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></p>
        <% end %>
        <%= f.input :current_password,
                    placeholder: "Mot de passe actuel*",
                    label: false,
                    hint: t(".we_need_your_current_password_to_confirm_your_changes"),
                    required: true,
                    input_html: { autocomplete: "current-password" } %>

        <%= f.input :password,
                    placeholder:"Nouveau mot de passe",
                    label: false,
                    required: false,
                    input_html: { autocomplete: "new-password"},
                    hint: "Optionnel, si vous souhaitez le changer"%>
        <%= f.input :password_confirmation,
                    label: false,
                    placeholder: "Confirmation nouveau mot de passe",
                    required: false,
                    input_html: { autocomplete: "new-password"},
                    hint: "Optionnel, si vous souhaitez le changer" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t(".update") %>
      </div>
      <div class="sign-empty-div">
      </div>
    <% end %>
    <% unless current_user && current_user.profile.role.present? %>
      <div class='sign-links'>
        <p><%= t(".unhappy") %>
          <strong>
            <% @delete = "Supprimer mon compte" %>
            <%= render template: "devise/registrations/_sign_out_link", delete: @delete %>
          </strong>
        </p>
      </div>
    <% end %>
  </div>

  <div class="sign-picture">
    <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1612889842/jeu-de-mains-do-it-yourself.svg", :width => 1000, :crop => :fill, :loading => "lazy", :alt => "jeu-de-mains-illustration", :title => "jeu-de-mains-illustration") %>
  </div>
</div>
