<% @footer = true %>
<div style="background-color:transparent;">
  <div class="block-grid" style="Margin: 0 auto; height: 20px; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;">
  </div>
</div>

<!-- HEADER -->

<div style="background-color:transparent;">
  <div class="block-grid" style="Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;">
    <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
      <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px; position: relative;">
        <div style="width:100% !important;">
          <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 10px; padding-left: 10px;">
            <div align="center" class="img-container center autowidth" style="padding-right: 0px;padding-left: 0px;">
              <img align="center" loading="lazy" alt="jeu-de-mains-bienvenue" border="0" class="center autowidth" src="https://res.cloudinary.com/jeudemains/image/upload/v1602852676/jeu-de-mains-bienvenue.jpg" style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 580px; max-height: 260px; object-fit: contain; display: block;" title="jeu-de-mains-bienvenue">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- WELCOME MESSAGE -->

  <div style="background-color:transparent;">
    <div class="block-grid" style="Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;">
          <div style="width:100% !important;">
            <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:15px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
              <div style="color:#3a3a3a;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:1.5;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
                <div style="line-height: 1.5; font-size: 12px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; color: #3a3a3a; mso-line-height-alt: 18px; margin-left: 10px; margin-right: 10px;">
                  <p style="font-size: 14px; font-weight:500; line-height: 1.5; text-align: center; font-family: Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; word-break: break-word; mso-line-height-alt: 21px; margin: 0;">
                    Bonjour <%= @user.first_name %>, <br>
                    nous sommes heureux de vous accueillir chez Jeu de Mains !<br> Nous espérons que vous trouverez votre bonheur créatif sur notre plateforme et au sein des ateliers créatifs proposés : couture, tricot, art floral, cosmétique, broderie, paper art, céramique, peinture, bijoux et plein d’autres encore. <br>
                    <br>
                    Notre mission est de vous aider à révéler l'âme créative et récréative qui sommeille en vous. Nous comptons sur vous pour prochainement crier haut et fort "c'est moi qui l'ai fait !".
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- WORKSHOPS CTA -->

    <div align="center" class="button-container" style="padding-top:15px;padding-right:10px;padding-bottom:30px;padding-left:10px;">
      <%= link_to connexion_url, style: "-webkit-text-size-adjust: none; text-decoration: none; display: inline-block; color: #52828D; background-color: transparent; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; width: auto; width: auto; border-top: 1px solid #52828D; border-right: 1px solid #52828D; border-bottom: 1px solid #52828D; border-left: 1px solid #52828D; padding-top: 5px; padding-bottom: 5px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center; mso-border-alt: none; word-break: keep-all;", target: "_blank" do %>
        <span style="padding-left:20px;padding-right:20px;font-size:14px;display:inline-block;">
          <span style="font-size: 14px; line-height: 2; word-break: break-word; color: #52828D; font-family: Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; mso-line-height-alt: 32px;">
            <strong>ME CONNECTER À MON COMPTE</strong>
          </span>
        </span>
      <% end %>
    </div>
  </div>

  <!-- WORKSHOPS IMAGE -->

  <div style="background-color:transparent;">
    <div class="block-grid" style="Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;">
          <div style="width:100% !important;">
            <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:15px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
              <div align="center" class="img-container center autowidth" style="padding-right: 0px;padding-left: 0px;">
                <%= link_to workshops_url, target: "_blank", style: "outline:none", tabindex: "-1" do  %>
                  <img align="center" loading="lazy" alt="jeu-de-mains-ateliers" border="0" class="center autowidth" src="https://res.cloudinary.com/jeudemains/image/upload/v1614360750/jeu-de-mains-vegetal.jpg" style="text-decoration: none; -ms-interpolation-mode: bicubic; object-fit: cover; max-height: 220px; border: 0; max-width: 250px; display: block;" title="jeu-de-mains-ateliers" width="250" height="220">
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- WORKSHOPS CTA -->

  <div align="center" class="button-container" style="padding-top:15px;padding-right:10px;padding-bottom:30px;padding-left:10px;">
    <%= link_to workshops_url, style: "-webkit-text-size-adjust: none; text-decoration: none; display: inline-block; color: #52828D; background-color: transparent; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; width: auto; width: auto; border-top: 1px solid #52828D; border-right: 1px solid #52828D; border-bottom: 1px solid #52828D; border-left: 1px solid #52828D; padding-top: 5px; padding-bottom: 5px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center; mso-border-alt: none; word-break: keep-all;", target: "_blank" do %>
      <span style="padding-left:20px;padding-right:20px;font-size:14px;display:inline-block;">
        <span style="font-size: 14px; line-height: 2; word-break: break-word; color: #52828D; font-family: Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; mso-line-height-alt: 32px;">
          <strong>DÉCOUVRIR LES ATELIERS</strong>
        </span>
      </span>
    <% end %>
  </div>

  <!-- GIFTCARD IMAGE -->

  <div style="background-color:transparent;">
    <div class="block-grid" style="Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;">
          <div style="width:100% !important;">
            <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:15px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
              <div align="center" class="img-container center autowidth" style="padding-right: 0px;padding-left: 0px;">
                <%= link_to offrir_une_carte_cadeau_url, target: "_blank", style: "outline:none", tabindex: "-1" do  %>
                  <img align="center" loading="lazy" alt="jeu-de-mains-carte-cadeau" border="0" class="center autowidth" src="https://res.cloudinary.com/jeudemains/image/upload/v1606127708/jeu-de-mains-carte-cadeau.jpg" style="text-decoration: none; -ms-interpolation-mode: bicubic; max-height: 220px; border: 0; object-fit: cover; max-width: 250px; display: block;" title="jeu-de-mains-carte-cadeau" width="250" height="220">
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- GIFTCARD CTA -->

  <div align="center" class="button-container" style="padding-top:15px;padding-right:10px;padding-bottom:30px;padding-left:10px;">
    <%= link_to workshops_url, style: "-webkit-text-size-adjust: none; text-decoration: none; display: inline-block; color: #52828D; background-color: transparent; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; width: auto; width: auto; border-top: 1px solid #52828D; border-right: 1px solid #52828D; border-bottom: 1px solid #52828D; border-left: 1px solid #52828D; padding-top: 5px; padding-bottom: 5px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center; mso-border-alt: none; word-break: keep-all;", target: "_blank" do %>
      <span style="padding-left:20px;padding-right:20px;font-size:14px;display:inline-block;">
        <span style="font-size: 14px; line-height: 2; word-break: break-word; color: #52828D; font-family: Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; mso-line-height-alt: 32px;">
          <strong>OFFRIR UNE CARTE CADEAU</strong>
        </span>
      </span>
    <% end %>
  </div>
</div>

