
<% if @chatroom %>

  <div class="chatroom-show">

    <div class="back-button">
      <%= link_to chat_profile_path(current_user.profile) do %>
        <i class="fas fa-chevron-left"></i>
        <span>Retour</span>
      <% end %>
    </div>

    <div class="chatroom-show-header">
      <div class="chatroom-show-images">
        <div class="chatroom-show-image" id="image-user-1">
          <% if User.find(@chatroom.user1).profile.photo.attached? %>
            <%= cl_image_tag User.find(@chatroom.user1).profile.photo.key, width: 120, crop: :fill, alt: "avatar" %>
          <% else %>
            <%= cl_image_tag("https://res.cloudinary.com/eugeniedenis/image/upload/v1593177823/profile-picture.png", width: 120, :crop => :fill, :alt => "avatar") %>
          <% end %>
        </div>
        <div class="chatroom-show-image" id="image-user-2">
          <% if User.find(@chatroom.user2).profile.photo.attached? %>
            <%= cl_image_tag User.find(@chatroom.user2).profile.photo.key, width: 120, crop: :fill, alt: "avatar" %>
          <% else %>
            <%= cl_image_tag("https://res.cloudinary.com/eugeniedenis/image/upload/v1593177823/profile-picture.png", width: 120, :crop => :fill, :alt => "avatar") %>
          <% end %>
        </div>

      </div>
      <div class="chatroom-show-title-and-description">
        <div class="chatroom-show-title">
        <% if @chatroom.room_name.present? %>
          <h1><%= @chatroom.room_name %></h1>
        <% else %>
          <%= form_for @chatroom, method: :patch do |f| %>
            <%= f.text_field :room_name, label: false, placeholder: "Nom de cette conversation" %>
            <button type="submit" name="commit" class="action-button">
              <i class="fas fa-check"></i>
            </button>
          <% end %>
        <% end %>
        </div>
        <div class="chatroom-show-description">
          <% if User.find(@chatroom.user1) == current_user %>
            <p>avec <%= User.find(@chatroom.user2).profile.company %></p>
          <% else %>
            <p>avec <%= User.find(@chatroom.user1).profile.company %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div id="messages" data-chatroom-id="<%= @chatroom.id %>" class="chatroom-show-messages">
      <% @chatroom.messages.each do |message| %>
        <% if message.user == current_user %>
          <div class="message-container message-current-user" id="message-<%= message.id %>">
        <% else %>
          <div class="message-container message-other-user" id="message-<%= message.id %>">
        <% end %>
          <div class="message-container" id="message-<%= message.id %>">
            <div class="chatroom-show-message">
              <p><%= message.title %></p>
              <p><%= message.content %></p>
            </div>
            <div class="author">
              <span><%= message.user.first_name %>,</span>
              <small><%= l(message.created_at, format: '%d %b %Y').capitalize %> à <%= message.created_at.strftime('%H:%M') %></small>
            </div>
          </div>
        </div>
      <% end %>
      <% if @chatroom.messages.empty? %>
        <p>Commencez la discussion...</p>
      <% end %>
    </div>

    <div class="chatroom-show-writing">
      <%= simple_form_for [ @chatroom, @message ] do |f| %>
        <%= f.input :content, :input_html => {:rows => 6}, label: false, placeholder: "Votre message" %>
        <%= f.submit "Envoyer", class: "button" %>
      <% end %>
    </div>
  </div>
<% end %>
