<% if @booking.status == "pending" %>

  <div class="booking-options-container">
    <div class="booking-options-title">
      <h1>Vous êtes sur le point de réserver</h1>
    </div>

    <div class="booking-options-workshop">
      <div class="booking-options-ws-photo">
        <% if @booking.session.workshop.photos.attached? %>
          <%= cl_image_tag @booking.session.workshop.photos[0].key, loading: "lazy", alt: "jeu-de-mains-#{@booking.session.workshop.title}", title: "jeu-de-mains-#{@booking.session.workshop.title}" , width: 200, height: 200, crop: :fill %>
        <% else %>
          <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593177818/jeu-de-mains-atelier.jpg", :loading => "lazy", :width => 200, :height => 200, :crop => :fill, :alt => "jeu-de-mains-#{@booking.session.workshop.title}", :title => "jeu-de-mains-#{@booking.session.workshop.title}") %>
        <% end %>
      </div>

      <div class="booking-options-ws-info">
        <h2 class="booking-options-ws-title">L'atelier <%= @booking.session.workshop.title %></h2>
        <p>Qui aura lieu le <%= l(@booking.session.date, format: '%A %d %b %Y').capitalize %> à <%= @booking.session.start_at %></p>
        <p>Organisé par <%= @booking.session.workshop.place.user.profile.company %></p>
        <p>Au <%= @booking.session.workshop.place.full_address %></p>
      </div>
    </div>

    <div class="booking-coordonnees-container">
      <% if @booking.session.workshop.visio_with_kit? %>
        <h3>Je renseigne mes coordonnées permettant à l'organisateur de m'envoyer le kit DIY en prévision de l'atelier en visio :</h3>
      <% else %>
        <h3>Je renseigne mes coordonnées permettant à l'organisateur de me contacter en cas d'annulation impromptue ou situation exceptionnelle :</h3>
      <% end %>

      <%= simple_form_for :booking, url: booking_coordonnees_path(@booking), method: :get do |f| %>
        <% if @booking.session.workshop.visio_with_kit? %>
            <%= f.hidden_field :contact, value: "true" %>
            <%= f.input :address, required: true, label: false, placeholder: "N° et rue/avenue*"%>
            <%= f.input :address_complement, label: false, placeholder: "Complément d'adresse (bâtiment / étage / digicode) - optionnel"%>
            <%= f.input :zip_code, required: true, label: false, placeholder: "Code postal*"%>
            <%= f.input :city, required: true, label: false, placeholder: "Ville*"%>
        <% end %>
          <%= f.input :phone_number, label: false, placeholder: "Numéro de téléphone*" %>
        <%= f.submit "Je confirme mes coordonnées", class: "button" %>
      <% end %>
    </div>


  </div>

<% end %>
