<% content_for :meta_title, "Jeu de Mains | Confirmation de réservation" %>


<div class="payment-success-error-container">
  <div class="payment-success-error-title">
    <h1>Bonne nouvelle, nous vous confirmons votre réservation !</h1>
  </div>


  <div class="payment-success-error-workshop">
    <div class="payment-success-error-ws-photo">
      <% if @booking.session.workshop.photos.attached? %>
        <%= cl_image_tag @booking.session.workshop.photos[0].key, loading: "lazy", alt: "jeu-de-mains-#{@booking.session.workshop.title}", title: "jeu-de-mains-#{@booking.session.workshop.title}" , width: 200, height: 200, crop: :fill %>
      <% else %>
        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593177818/jeu-de-mains-atelier.jpg", :loading => "lazy", :width => 200, :height => 200, :crop => :fill, :alt => "jeu-de-mains-#{@booking.session.workshop.title}", :title => "jeu-de-mains-#{@booking.session.workshop.title}") %>
      <% end %>
    </div>

    <div class="payment-success-error-ws-info">
      <p class="mb-1">Réservation n°<%= @booking.created_at.strftime("%Y%m") %><%= @booking.id %></p>
      <h2 class="payment-success-error-ws-title">
        <%= link_to workshop_path(@booking.session.workshop) do %>
          <%= @booking.session.workshop.title %>
        <% end %>
      </h2>

      <% if @booking.session.workshop.duration > 1440 %>
        <h2>Du <%= l(@booking.session.start_date, format: '%A %d %b %Y') %> à <%= @booking.session.start_time %> au <%= l(@booking.session.end_date, format: '%A %d %b %Y') %> à <%= @booking.session.end_time %></h2>
      <% else %>
        <h2>Le <%= l(@booking.session.start_date, format: '%A %d %b %Y') %> de <%= @booking.session.start_time %> à <%= @booking.session.end_time %></h2>
      <% end %>
      <p class="mt-1">
        <%= link_to profile_public_path(@booking.session.workshop.place.user.profile) do %>
          Organisé par <%= @booking.session.workshop.place.user.profile.company %>
        <% end %>
      </p>
      <p>
        <% if @booking.session.workshop.visio == true %>
          En visioconférence<%= " avec kit" if @booking.session.workshop.kit == true %>
        <% else %>
          <p>Au <%= @booking.session.workshop.place.full_address %></p>
        <% end %>
      </p>
    </div>
  </div>

  <h3>Détails de votre paiement</h3>

  <table class="table payment-success-error-quantities-and-amount">
    <tbody>
      <tr id="payment-success-error-table-first-row">
        <td>Prix unitaire <%= @booking.workshop_unit_price %> € x <%= @booking.quantity %> place(s)</td>
        <td style="text-align: right"><%= @booking.workshop_unit_price * @booking.quantity %> € TTC</td>
      </tr>
      <% if @booking.giftcard_amount_spent.present? %>
        <tr>
          <td>Carte cadeau</td>
          <td style="text-align: right">- <%= @booking.giftcard_amount_spent %> € TTC</td>
        </tr>
      <% end %>
      <tr>
        <td><strong>TOTAL PAYÉ</strong></td>
      <% if @booking.giftcard_amount_spent.present? %>
        <td style="text-align: right"><strong><%= (@booking.workshop_unit_price * @booking.quantity) - @booking.giftcard_amount_spent %> € TTC</strong></td>
      <% else %>
        <td style="text-align: right"><strong><%= @booking.amount %> € TTC</strong></td>
      <% end %>
      </tr>
    </tbody>
  </table>

  <div class="success-add-to-calendar">
    <a href="#addToCalendarModal" class="button mr-1" data-toggle="modal" data-whatever="@mdo" id="success-add-to-calendar-btn">
      Ajouter à mon agenda
    </a>

    <div class="modal fade add-to-calendar-modal" id="addToCalendarModal" tabindex="-1" role="dialog" aria-labelledby="addToCalendarModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="form-group">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593191048/jeu-de-mains-fermer-bleu.svg", :width => 40, :height => 40, :crop => :fill, :alt => "jeu-de-mains-fermer", :title => "jeu-de-mains-fermer") %>
            </button>
            <p>Ajouter à mon agenda</p>
            <div class="modal-body">

              <% @start = "#{@booking.session.start_date.strftime('%Y/%m/%d')} #{@booking.session.start_time[0..1]}:#{@booking.session.start_time[3..4]}" %>
              <% @end = "#{@booking.session.end_date.strftime('%Y/%m/%d')} #{@booking.session.end_time[0..1]}:#{@booking.session.end_time[3..4]}" %>
              <% @timezone = "Europe/Paris" %>
              <% @title = "Atelier #{@booking.session.workshop.title}" %>
              <% if @booking.session.workshop.visio == true %>
                <% @location = "En visioconférence" %>
              <% else %>
                <% @location = "#{@booking.session.workshop.place.address} #{@booking.session.workshop.place.zip_code} #{@booking.session.workshop.place.city.capitalize}" %>
              <% end %>
              <% @description = "Atelier #{@booking.session.workshop.title} organisé par #{@booking.session.workshop.place.user.profile.company}, mis en ligne sur https://jeudemains.com." %>
              <a href="https://calndr.link/d/event/?service=apple&start=<%=@start%>&end=<%=@end%>&title=<%=@title%>&timezone=<%=@timezone%>&location=<%=@location%>&description=<%=@description%>" target="_blank">
                <span>Apple</span>
                <%= cl_image_tag('https://res.cloudinary.com/jeudemains/image/upload/v1597244595/icon-apple-t5_u07ftt.svg', :loading => "lazy", :width => 25, :crop => :fill, :alt => "google", :title => "google") %>
              </a>
              <a href="https://calndr.link/d/event/?service=google&start=<%=@start%>&end=<%=@end%>&title=<%=@title%>&timezone=<%=@timezone%>&location=<%=@location%>&description=<%=@description%>" target="_blank">
                <span>Google</span>
                <%= cl_image_tag('https://res.cloudinary.com/jeudemains/image/upload/v1597244597/icon-google-t5_hhelnn.svg', :loading => "lazy", :width => 20, :crop => :fill, :alt => "google", :title => "google") %>
              </a>
              <a href="https://calndr.link/d/event/?service=outlook&start=<%=@start%>&end=<%=@end%>&title=<%=@title%>&timezone=<%=@timezone%>&location=<%=@location%>&description=<%=@description%>" target="_blank">
                <span>Outlook</span>
                <%= cl_image_tag('https://res.cloudinary.com/jeudemains/image/upload/v1597244595/icon-outlook-t5_jyiicm.svg', :loading => "lazy", :width => 20, :crop => :fill, :alt => "google", :title => "google") %>
              </a>
              <a href="https://calndr.link/d/event/?service=outlookcom&start=<%=@start%>&end=<%=@end%>&title=<%=@title%>&timezone=<%=@timezone%>&location=<%=@location%>&description=<%=@description%>" target="_blank">
                <span>Outlook.com</span>
                <%= cl_image_tag('https://res.cloudinary.com/jeudemains/image/upload/v1597244595/icon-outlookcom-t5_lnfvvs.svg', :loading => "lazy", :width => 20, :crop => :fill, :alt => "google", :title => "google") %>
              </a>
              <a href="https://calndr.link/d/event/?service=office365&start=<%=@start%>&end=<%=@end%>&title=<%=@title%>&timezone=<%=@timezone%>&location=<%=@location%>&description=<%=@description%>" target="_blank">
                <span>Office 365</span>
                <%= cl_image_tag('https://res.cloudinary.com/jeudemains/image/upload/v1597244595/icon-office365-t5_qtmqxl.svg', :loading => "lazy", :width => 18, :crop => :fill, :alt => "google", :title => "google") %>
              </a>
              <a href="https://calndr.link/d/event/?service=yahoo&start=<%=@start%>&end=<%=@end%>&title=<%=@title%>&timezone=<%=@timezone%>&location=<%=@location%>&description=<%=@description%>" target="_blank">
                <span>Yahoo</span>
                <%= cl_image_tag('https://res.cloudinary.com/jeudemains/image/upload/v1597244597/icon-yahoo-t5_uvgnsf.svg', :loading => "lazy", :width => 18, :crop => :fill, :alt => "google", :title => "google") %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="payment-success-error-cta">
    <%= link_to "Voir & gérer mes réservations", tableau_de_bord_profile_url(current_user.profile) %>
  </div>

</div>
