<!-- FORGOT PASSWORD AND ASK FOR NEW -->

<div class="sign-container">

  <div class="sign-form">

    <h2 class="sign-title"><%= t(".forgot_your_password") %></h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: "E-mail",
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Envoyer le lien de réinitialisation" %>
        </div>
      <% end %>

    <div class='sign-links'>
      <%= render "devise/shared/links" %>
    </div>

  </div>

  <div class="sign-picture">
    <%= cl_image_tag("https://res.cloudinary.com/eugeniedenis/image/upload/v1593629305/making-blue.svg", :width => 1000, :crop => :fill) %>
  </div>

</div>
