<div class="footer" id="footer">
  <div class="footer-informations">
    <div class="footer-columns">
      <div class="footer-column footer-brand">
        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593180301/jeu-de-mains-logo-bleu-fonce.svg", :loading => "lazy", :width => 200, :crop => :fill, :alt => "jeu-de-mains-logo", :title => "jeu-de-mains-logo") %>
      </div>
      <div class="footer-column footer-definition">
        <p>
          Jeu de mains est une plateforme française de réservation d’ateliers créatifs Do It Yourself. Réservez votre atelier couture, tricot, art floral, cosmétique, macramé, broderie, paper art, céramique, peinture, bijoux et plein d’autres encore sur jeudemains.com et profitez d’un moment convivial et instructif autour du faire soi-même.
        </p>
      </div>
      <div class="footer-column footer-first-list">
        <%= link_to "À propos", a_propos_path, data: { turbolinks: false } %>
        <a href="https://blog.jeudemains.com", target="_blank", aria-label="Blog Jeu de Mains", rel="noopener">Blog</a>
        <%= link_to "Devenir partenaire", devenir_partenaire_path, data: { turbolinks: false } %>
        <%= link_to "Offre entreprises", entreprises_path, data: { turbolinks: false } %>
        <%= link_to "Carte cadeau", offrir_une_carte_cadeau_path, data: { turbolinks: false } %>
        <%= link_to "Nous contacter", nous_contacter_path, data: { turbolinks: false } %>
        <%= link_to "CGV", cgv_path, data: { turbolinks: false } %>
        <%= link_to "Classement des annonces", classement_des_annonces_path, data: { turbolinks: false } %>
        <%= link_to "Mentions légales", mentions_legales_path, data: { turbolinks: false } %>
        <%= link_to "Confidentialité", politique_de_confidentialite_path, data: { turbolinks: false } %>
      </div>
      <div class="footer-column footer-second-list">
        <div class="footer-social-networks">
          <span class="footer-follow-title">Suivez-nous <i class="far fa-heart"></i></span>
          <div class="footer-instagram-facebook">
            <a href="https://www.instagram.com/jeudemains_com", target="_blank", aria-label="Instagram Jeu de Mains", rel="noopener"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/jeudemainscom", target="_blank", aria-label="Facebook Jeu de Mains", rel="noopener"><i class="fab fa-facebook-square"></i></a>
          </div>
        </div>
        <div class="footer-payment">
          <span>Paiement sécurisé</span>
          <div>
            <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1614602190/paiement-visa.svg", :width => 150, :crop => :fill, :loading => "lazy", :alt => "paiement-visa", :title => "paiement-visa") %>
            <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1614602190/paiement-mastercard.svg", :width => 150, :crop => :fill, :loading => "lazy", :alt => "paiement-mastercard", :title => "paiement-mastercard") %>
            <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1614602190/paiement-american-express.svg", :width => 150, :crop => :fill, :loading => "lazy", :alt => "paiement-american-express", :title => "paiement-american-express") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <span>&copy; Jeu de mains • 2021</span>
  </div>
</div>
