<div class="footer">
  <div class="footer-columns">
    <div class="footer-column footer-brand">
      <%= cl_image_tag("logo-jdm-dark-blue.svg", :width => 200, :crop => :fill, :alt => "logo jeu de mains") %>
    </div>
    <div class="footer-column footer-definition">
      <p>
        Jeu de mains est une plateforme française de réservation d’ateliers créatifs Do It Yourself. Réservez votre atelier couture, tricot, art floral, cosmétique, broderie, paper art, céramique, peinture, bijoux et plein d’autres encore sur jeudemains.com et profitez d’un moment convivial et instructif autour du faire soi-même.
      </p>
    </div>
    <div class="footer-column footer-first-list">
      <%= link_to "À propos", "#" %>
      <%= link_to "Devenir partenaire", "#" %>
      <%= link_to "Nous contacter", "#" %>
      <%= link_to "Newsletter", "#" %>
    </div>
    <div class="footer-column footer-second-list">
      <%= link_to "FAQ", "#" %>
      <%= link_to "Mentions légales", "#" %>
      <%= link_to "Politique de confidentialité", "#" %>
      <%= link_to "CGV", "#" %>
    </div>
    <div class="footer-social-networks">
      <span class="footer-follow-title">Suivez-nous <i class="far fa-heart"></i></span>
      <div class="footer-instagram-facebook">
        <a href="https://www.instagram.com/jeudemains_com", target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
      </div>
    </div>

  </div>
  <div class="footer-copyright">
    <span>© Jeu de mains • 2020</span>
  </div>
</div>
