<!-- MENU TOGGLE -->

<div id="sideMenu">
  <div>
    <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593191048/jeu-de-mains-fermer-bleu.svg", :width => 50, :crop => :fill, :alt => "jeu-de-mains-fermer", :title => "jeu-de-mains-fermer", :id => "menuClose") %>
    <ul class="list-group list-group-flush">
      <% if user_signed_in? %>
        <% if current_user.admin %>
          <li class="list-group-item">
            <div class="list-item-menu">
              <%= link_to admin_dashboard_path, class: "menu-blue-link" do %>
                <i class="fas fa-tachometer-alt menu-icon menu-blue-icon mr-2"></i>
                Portail admin
              <% end %>
            </div>
          </li>
        <% end %>
        <li class="list-group-item">
          <div class="list-item-menu">
            <%= link_to workshops_path, class: "menu-blue-link" do %>
              <i class="far fa-eye menu-icon menu-blue-icon mr-1"></i>
              Voir tous les ateliers
            <% end %>
          </div>
        </li>
        <% if (current_user.profile.role.present? && current_user.can_receive_payments?) || current_user.admin == true %>
          <li class="list-group-item">
            <div class="list-item-menu">
              <%= link_to new_workshop_path, class: "menu-blue-link" do %>
                <i class="fas fa-plus menu-icon menu-blue-icon mr-2"></i>
                Proposer mon atelier
              <% end %>
            </div>
          </li>
        <% elsif current_user.profile.role.nil? %>
          <li class="list-group-item">
            <div class="list-item-menu">
              <%= link_to devenir_partenaire_path, class: "menu-blue-link" do %>
                <i class="fas fa-user-shield menu-icon menu-blue-icon mr-1"></i>
                Devenir partenaire
              <% end %>
            </div>
          </li>
        <% end %>
        <% if current_user.profile.role.present? || current_user.admin == true %>
          <li class="list-group-item">
            <div class="list-item-menu">
              <%= link_to profiles_path, class: "menu-blue-link" do %>
                <i class="fas fa-graduation-cap menu-icon menu-blue-icon mr-1"></i>
                Découvrir les partenaires
              <% end %>
            </div>
          </li>
        <% end %>
        <li class="list-group-item">
          <div class="list-item-menu">
            <%= link_to tableau_de_bord_profile_path(current_user.profile), class: "menu-blue-link" do %>
              <% if current_user.profile.role %>
                <i class="fas fa-chart-bar menu-icon menu-blue-icon mr-1"></i>
                Mon tableau de bord
              <% else %>
                <i class="far fa-calendar-check menu-icon menu-blue-icon mr-2"></i>
                Mes réservations
              <% end %>
            <% end %>
          </div>
        </li>
        <% if current_user.profile.role.nil? %>
          <li class="list-group-item">
            <div class="list-item-menu">
              <%= link_to mes_cartes_cadeaux_profile_path(current_user.profile), class: "menu-blue-link" do %>
                <i class="fas fa-gift menu-icon menu-blue-icon mr-2"></i>
                Mes cartes cadeaux
              <% end %>
            </div>
          </li>
        <% end %>
        <% if current_user.profile.role %>
          <li class="list-group-item">
            <div class="list-item-menu">
              <%= link_to messagerie_profile_path(current_user.profile), class: "menu-blue-link" do %>
                <i class="fas fa-envelope menu-icon menu-blue-icon mr-2"></i>
                Ma messagerie
              <% end %>
            </div>
          </li>
        <% end %>
        <li class="list-group-item">
          <div class="list-item-menu">
            <%= link_to profile_path(current_user.profile), class: "menu-blue-link" do %>
              <i class="far fa-user menu-icon menu-blue-icon mr-2"></i>
              Mon compte
            <% end %>
          </div>
        </li>
         <li class="list-group-item">
        </li>
        <li class="list-group-item">
          <%= link_to deconnexion_path, method: :delete, id: "log-out-menu", class: "menu-white-link" do %>
            <div class="list-item-sign" id="sign-out">
              <i class="fas fa-sign-out-alt menu-icon menu-white-icon mr-1"></i>
              Me déconnecter
            </div>
          <% end %>
        </li>


      <% else %>
        <li class="list-group-item">
          <div class="list-item-menu">
            <%= link_to workshops_path, class: "menu-blue-link" do %>
              <i class="far fa-eye menu-icon menu-blue-icon mr-1"></i>
              Voir tous les ateliers
            <% end %>
          </div>
        </li>
        <li class="list-group-item">
          <div class="list-item-menu">
            <%= link_to devenir_partenaire_path, class: "menu-blue-link" do %>
              <i class="fas fa-user-shield menu-icon menu-blue-icon mr-1"></i>
              Devenir partenaire
            <% end %>
          </div>
        </li>
        <li class="list-group-item" aria-hidden="true">
        </li>
        <li class="list-group-item">
          <%= link_to connexion_path, class: "menu-white-link" do %>
            <div class="list-item-sign" id="sign-in">
                <i class="fas fa-sign-in-alt menu-icon menu-white-icon mr-2"></i>
                Me connecter
            </div>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to inscription_path, class: "menu-white-link" do %>
            <div class="list-item-sign" id="sign-up">
                <i class="fas fa-user-plus menu-icon menu-white-icon mr-2"></i>
                M'inscrire
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div class="menu-brand-logo">
      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593518260/jeu-de-mains-logo-bleu-ciel.svg", :loading => "lazy", :width => 200, :crop => :fill, :alt => "jeu-de-mains-logo", :title => "jeu-de-mains-logo") %>
    </div>
  </div>
</div>
