<!-- NAVBAR ALL OTHER PAGES -->

<div class="navbar navbar-expand-sm navbar-light navbar-jdm navbar-jdm-other">
  <%= link_to root_path, class: "navbar-brand navbar-brand-other" do %>
    <%= cl_image_tag("logo-jdm-white.svg", :width => 150, :crop => :fill, :alt => "logo jeu de mains") %>
  <% end %>

  <div class="navbar-buttons navbar-buttons-other">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Devenir partenaire", devenir_partenaire_path, class: "nav-link nav-link-text", id: "become-partner" %>
      </li>
      <li class="nav-item">
        <%= link_to "Tous les ateliers", workshops_path, class: "nav-link nav-link-text", id: "all-workshops" %>
      </li>

      <li class="nav-item">
        <%= link_to "#", class: "nav-link", id: "menuButton" do %>
          <%= cl_image_tag("https://res.cloudinary.com/eugeniedenis/image/upload/v1593190527/menu_white.svg", :width => 50, :crop => :fill, :alt => "menu") %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
