<!-- NAVBAR -->

<div class="navbar navbar-expand-sm navbar-light navbar-jdm">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "logo-jdm-dark-blue.svg", alt: "logo jeu de mains" %>
  <% end %>

  <div class="navbar-buttons d-flex">
    <ul class="navbar-nav mr-auto align-items-center">
      <li class="nav-item active">
        <%= link_to "Tous les ateliers", "#", class: "nav-link", id: "all-workshops" %>
      </li>

      <li class="nav-item">
        <%= link_to "#", class: "nav-link button", id: "menuButton" do %>
          <i class="fas fa-bars"></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<!-- MENU TOGGLE -->

<div id="sideMenu">
  <div>
    <%= image_tag "noun_Cross.svg", id: "menuClose" %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <i class="far fa-eye menu-icon"></i>
        <%= link_to "Voir tous les ateliers", "#" %>
      </li>
      <li class="list-group-item">
        <i class="fas fa-map-marker-alt menu-icon"></i>
        <%= link_to "Découvrir les lieux", "#" %>
      </li>
      <li class="list-group-item">
        <i class="fas fa-graduation-cap menu-icon"></i>
        <%= link_to "Découvrir les animateurs", "#" %>
      </li>
      <li class="list-group-item">
        <i class="fas fa-plus menu-icon"></i>
        <%= link_to "Proposer mon atelier", "#" %>
      </li>
      <li class="list-group-item">
        <i class="far fa-calendar-check menu-icon"></i>
        <%= link_to "Mon tableau de bord", "#" %>
      </li>
      <li class="list-group-item">
        <i class="far fa-user menu-icon"></i>
        <%= link_to "Mon compte", "#" %>
      </li>
      <li class="list-group-item">
        <i class="fas fa-sign-out-alt menu-icon"></i>
        <%= link_to "Me déconnecter", "#" %>
      </li>
    </ul>
  </div>
</div>
