<h1>Nouvelle réservation pour l'atelier <%= @booking.session.workshop.title %></h1>

<h2>Informations atelier</h2>

<% if @booking.session.workshop.photos.attached? %>
  <%= cl_image_tag @booking.session.workshop.photos[0].key, alt: "Photo-atelier", width: 120, height: 95, crop: :fill %>
<% else %>
  <%= cl_image_tag("https://res.cloudinary.com/eugeniedenis/image/upload/v1593177818/workshop-picture.jpg", :width => 120, :height => 95, :crop => :fill, :alt => "Photo-atelier") %>
<% end %>
<p>Session : <%= l(@booking.session.date, format: '%A %d %b %Y').capitalize %> à <%= @booking.session.start_at[0..1] %>:<%= @booking.session.start_at[3..4] %></p>
<p>Lieu : <%= @booking.session.workshop.place.name %></p>
<p>Adresse : <%= @booking.session.workshop.place.address %> <%= @booking.session.workshop.place.zip_code %> <%= @booking.session.workshop.place.city %></p>

<% if @booking.session.workshop.animators.where(db_status: true).present? %>
  <p>Animé par : <%= @booking.session.workshop.animators.where(db_status: true).last.user.profile.company %></p>
<% end %>

<h2>Réservation</h2>

<p>Par <%= @booking.user.first_name %></p>
<p>Le <%= @booking.created_at.strftime('%d/%m/%Y') %></p>
<p>Nombre de place : <%= @booking.quantity %></p>
<p>Montant : <%= @booking.amount %> €</p>
<p>N° de réservation : <%= @booking.id %></p>

