<h1>Nous vous confirmons le report de votre atelier <%= @booking.session.workshop.title %> au <%= @booking.session.start_date.strftime("%d/%m/%y") %></h1>
<h2>Ancienne date : <%= Session.find(@old_session_id).start_date.strftime("%d/%m/%y") %> à <%= Session.find(@old_session_id).start_time %></h2>
<h2>Nouvelle date : <%= @booking.session.start_date.strftime("%d/%m/%y") %> à <%= @booking.session.start_time %></h2>
