<% @footer = false %>

<p><strong style='font-size:20px;'>Demande de vérification d'atelier :</strong></p>
<p>Atelier : <strong style="text-decoration: underline;"><%= link_to "#{@workshop.title} - ID #{@workshop.id}", workshop_url(@workshop), target: "_blank" %></strong></p>
<p>Créé par : <strong style="text-decoration: underline;"><%= link_to "#{@workshop.place.user.profile.company} - ID #{@workshop.place.user.profile.id}", profile_public_url(@workshop.place.user.profile), target: "_blank" %></strong></p>
<p>Créé le : <%= @workshop.created_at.strftime("%d/%m/%y") %></p>
<p>Mis à jour le : <%= @workshop.updated_at.strftime("%d/%m/%y") %></p>
<p>Type : <%= @workshop.visio == true ? "visioconférence" : "présentiel" %></p>
<br>
<p><strong style="color: #fff; background-color:#52828D; padding:4px 10px;"><%= link_to "Vérifier l'atelier", workshop_url(@workshop), target: "_blank" %></strong></p>

