<% content_for :meta_title, "Jeu de Mains | #{thematic[:title][0..45]}" %>
<% content_for :meta_description, thematic[:meta_description] %>
<% content_for :meta_keywords, thematic[:meta_keywords] %>

<div class="thematic-show">
  <div class="thematic-show-banner">

    <div>
      <div class="thematic-show-banner-search-and-title">
        <div class="thematic-show-banner-title">
          <h1><%= thematic[:title] %></h1>
          <h2><%= thematic[:introduction] %></h2>
        </div>
        <div class="thematic-show-search-container">
          <div class="home-search" id="thematic-show-search">
            <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
              <div class="thematic-show-search-inputs-and-submit">
                <%= f.hidden_field :keyword, value: thematic[:title] %>
                <%= f.input :place, required: false, label: "Lieu", prompt: "Toutes les villes", collection: Place.cities_and_districts, disabled: ["Grandes villes", "Départements"] %>
                <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker datepicker_start_date"}, placeholder: "À tout moment", label: "À partir du" %>
                <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: "À tout moment", label: "Jusqu'au" %>
                <button type="submit" class="search-button">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="thematic-show-banner-image">
      <%= cl_image_tag thematic[:image], loading: "lazy", width: 800, crop: :fill, alt: "jeu-de-mains-ateliers #{thematic[:title].downcase}", title: "jeu-de-mains-ateliers #{thematic[:title].downcase}" %>
    </div>

  </div>

  <div class="thematic-show-ws-cards-container">

    <div>
      <h3 class="thematic-show-ws-cards-title">Découvrir les ateliers de l'univers <span id="thematic-strong"><%= thematic[:title] %></span></h3>

      <div class="thematic-show-ws-cards thematic-show-ws-cards-best-ratings">
        <% workshops.first(10).each do |workshop| %>
          <div class="ws-card" id="thematic-show-ws-card">
            <%= link_to(workshop, data: { turbolinks: false }) do  %>
              <div class="ws-card-image-and-rating" id="thematic-show-ws-card-image-and-rating">
                <div class="ws-card-tags" id="thematic-show-ws-card-tags">
                  <% if workshop.rating %>
                    <div class="ws-card-tag ws-card-rating" id="thematic-show-ws-card-rating">
                      <i class="fas fa-star"></i><span><%= workshop.rating %></span>
                    </div>
                  <% elsif workshop.created_at > Date.today - 2.months %>
                    <div class="ws-card-tag ws-card-rating" id="home-ws-card-rating">
                      <span>nouveau</span>
                    </div>
                  <% end %>
                  <% if workshop.ephemeral == true %>
                    <div class="ws-card-tag ws-card-ephemeral" id="thematic-show-ws-card-ephemeral">
                      <span>éphémère</span>
                    </div>
                  <% end %>
                </div>
                <%= render "workshops/ws-index-carousel", workshop: workshop %>
              </div>
            <% end %>
            <%= link_to(workshop, data: { turbolinks: false }) do  %>
              <div class="ws-card-infos" id="thematic-show-ws-card-infos">
                <div>
                  <div class="ws-card-organizer" id="thematic-show-ws-card-organizer-desktop">
                    <% if workshop.place.user.profile.company.size > 25 %>
                      <span><%= workshop.place.user.profile.company[0..24] %>...</span>
                    <% else %>
                      <span><%= workshop.place.user.profile.company %></span>
                    <% end %>
                  </div>
                  <div class="ws-card-organizer" id="thematic-show-ws-card-organizer-mobile">
                    <% if workshop.place.user.profile.company.size > 17 %>
                      <span><%= workshop.place.user.profile.company[0..16] %>...</span>
                    <% else %>
                      <span><%= workshop.place.user.profile.company %></span>
                    <% end %>
                  </div>
                  <div class="ws-card-title" id="thematic-show-ws-card-title">
                    <% if workshop.title.size > 31 %>
                      <h4><%= workshop.title[0..27] %>...</h4>
                    <% else %>
                      <h4><%= workshop.title %></h4>
                    <% end %>
                  </div>
                </div>
                <div class="ws-card-price-and-city" id="thematic-show-ws-card-price-and-city">
                  <div class="ws-card-price" id="thematic-show-ws-card-price">
                    <% if workshop.price.modulo(1).zero? %>
                      <%= workshop.price.round %> €
                    <% else %>
                      <%= sprintf("%.2f", workshop.price) %> €
                    <% end %>
                  </div>

                  <div class="ws-card-duration-and-city">
                    <div class="ws-card-duration">
                      <span><%= Workshop::SHORT_DURATIONS.key(workshop.duration) %></span>
                      <i class="fas fa-clock"></i>
                    </div>
                    <% if workshop.visio == true %>
                      <div class="ws-card-visio">
                        <span>en visio</span>
                      </div>
                    <% else %>
                      <div class="ws-card-city">
                        <% if workshop.place.city.size >= 11 %>
                          <span id="city-name"><%= workshop.place.city[0..11].capitalize %>...</span>
                        <% else %>
                          <span id="city-name"><%= workshop.place.city.capitalize %></span>
                        <% end %>
                        <i class="fas fa-map-marker-alt"></i>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="thematic-show-redirect">
    <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
      <%= f.hidden_field :keyword, value: thematic[:title] %>
      <%= f.submit 'Voir tous', class: "blue-btn" %>
    <% end %>
  </div>

</div>





