<div class="homebanner" id="homebanner-desktop">
  <div class="homebanner-title">
    <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593180301/jeu-de-mains-logo-bleu-fonce.svg", :loading => "lazy", :width => 350, :crop => :fill, :alt => "jeu-de-mains-logo", :title => "jeu-de-mains-logo") %>
    <div class="homebanner-title-text">
      <h1>Révélez votre âme créative et récréative</h1>
      <h2>Grâce à la nouvelle plateforme de réservation d'ateliers créatifs jeudemains.com</h2>
    </div>
  </div>

  <div class="home-search-container">
    <div class="home-search">
      <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
        <div class="home-search-inputs-and-submit">
          <%= f.input :keyword, required: false, label: "Type d'atelier", prompt: "Tous types", collection: Workshop::THEMATICS %>
          <%= f.input :place, required: false, label: "Lieu", prompt: "Toutes les villes", collection: Place.cities_and_districts, disabled: ["Grandes villes", "Départements"] %>
          <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker datepicker_start_date"}, placeholder: "À tout moment", label: "À partir du" %>
          <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: "À tout moment", label: "Jusqu'au" %>
          <%= f.hidden_field :order, value: "Aléatoire" %>
          <button type="submit" class="search-button" aria-label="Search Workshops">
            <i class="fas fa-search"></i>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="home-container">
  <div class="home-subcontainer">

    <!-- JEU DE MAINS PRESENTATION -->

    <h2 class="home-steps-title">Réservez et profitez de votre atelier créatif en toute simplicité</h2>

    <div class="home-steps-presentation-container">

      <div class="home-step-presentation">
        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1614878212/jeu-de-mains-reservation-paiement-en-ligne.svg", :loading => "lazy", :width => 200, :crop => :fill, :alt => "jeu-de-mains-24h-24-7j-7", :title => "jeu-de-mains-24h-24-7j-7") %>
        <h3>Réservation et paiement<br> 100% en ligne</h3>
        <p>Réservez et payez en toute sécurité l'atelier de votre choix, 24h/24, 7j/7</p>
      </div>
      <div class="home-step-presentation">
        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1614878216/jeu-de-mains-annulation-gratuite.svg", :loading => "lazy", :width => 200, :crop => :fill, :alt => "jeu-de-mains-annuaire", :title => "jeu-de-mains-annuaire") %>
        <h3>Annulation gratuite <br>jusqu'à 72h avant</h3>
        <p>et jusqu'à 7 jours avant pour le cas d'un atelier visio avec envoi de kit</p>
      </div>
      <div class="home-step-presentation">
        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1614880801/jeu-de-mains-reservation-presentiel-ou-distantiel.svg", :loading => "lazy", :width => 200, :crop => :fill, :alt => "jeu-de-mains-ateliers-lieux", :title => "jeu-de-mains-ateliers-lieux") %>
        <h3>En présentiel <br>ou distanciel</h3>
        <p>Les ateliers en visioconférence sont distingués par une étiquette "visio"</p>
      </div>
      <div class="home-step-presentation">
        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1614880535/jeu-de-mains-service-client.svg", :loading => "lazy", :width => 200, :crop => :fill, :alt => "jeu-de-mains-ateliers-lieux", :title => "jeu-de-mains-ateliers-lieux") %>
        <h3>Un service client <br>à votre écoute</h3>
        <p>Nous répondons à vos questions du lundi au vendredi de 9h30 à 18h30</p>
      </div>
    </div>

    <!-- TRENDS SELECTION -->

    <div class="home-selection-cards">

      <!-- THEMATICS SELECTION -->

      <%= link_to cosmetique_et_entretien_path do %>
        <div class="home-selection-card" id="home-thematic-first">
          <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_350/v1621426384/jeu-de-mains-tendance-cosmetique-et-entretien-2.jpg", :loading => "lazy", :width => 250, :crop => :fill, :alt => "jeu-de-mains-ateliers-cosmetique-entretien", :title => "jeu-de-mains-ateliers-cosmetique-entretien") %>
          <div class="home-selection-text">
            <div>
              <h2>Je prends soin de moi</h2>
              <h3>Vous avez envie de protéger et prendre soin de votre peau et votre intérieur ? Découvrez nos ateliers cosmétiques, parfums et entretien maison</h3>
            </div>
            <div class="mb-2">
              <span class="home-selection-btn pb-2">Voir la sélection</span>
            </div>
          </div>
        </div>
      <% end %>

      <%= link_to autour_du_fil_path do %>
        <div class="home-selection-card" id="home-thematic-second">
          <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_350/v1621426792/jeu-de-mains-tendance-autour-du-fil.jpg", :loading => "lazy", :width => 250, :crop => :fill, :alt => "jeu-de-mains-ateliers-autour-du-fil", :title => "jeu-de-mains-ateliers-autour-du-fil") %>
          <div class="home-selection-text">
            <div>
              <h2>De fil en aiguilles</h2>
              <h3>Initiez-vous ou perfectionnez-vous en couture, tissage, tricot, broderie, punch needle, macramé... Découvrez nos ateliers autour du fil</h3>
            </div>
            <div class="mb-2">
              <span class="home-selection-btn pb-2">Voir la sélection</span>
            </div>
          </div>
        </div>
      <% end %>

      <%= link_to vegetal_path do %>
        <div class="home-selection-card" id="home-thematic-third">
          <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_350/v1621428402/jeu-de-mains-tendance-vegetal.jpg", :loading => "lazy", :width => 250, :crop => :fill, :alt => "jeu-de-mains-ateliers-vegetal", :title => "jeu-de-mains-ateliers-vegetal") %>
          <div class="home-selection-text">
            <div>
              <h2>La belle nature</h2>
              <h3>Ateliers herbier, couronne de fleurs, cloche florale, bouquet, terrarium... Découvrez nos ateliers d’art végétal</h3>
            </div>
            <div class="mb-2">
              <span class="home-selection-btn pb-2">Voir la sélection</span>
            </div>
          </div>
        </div>
      <% end %>

      <%= link_to travail_du_cuir_path do %>
        <div class="home-selection-card" id="home-thematic-fourth">
          <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_350/v1621946171/jeu-de-mains-tendance-cuir.jpg", :loading => "lazy", :width => 250, :crop => :fill, :alt => "jeu-de-mains-ateliers-travail-du-cuir", :title => "jeu-de-mains-ateliers-travail-du-cuir") %>
          <div class="home-selection-text">
            <div>
              <h2>Le cuir</h2>
              <h3>Vous aimez vous démarquer avec des accessoires uniques et précieux ? Découvrez nos ateliers travail du cuir et créez des sacs et accessoires qui vous ressemblent</h3>
            </div>
            <div class="mb-2">
              <span class="home-selection-btn pb-2">Voir la sélection</span>
            </div>
          </div>
        </div>
      <% end %>

    </div>

    <!-- HOME THEMATICS -->

    <div class="home-thematics-container">
      <h2 class="home-category-title">Les thématiques d'ateliers</h2>
      <h3 class="home-category-subtitle">Retrouvez 9 catégories de savoir-faire créatifs sur Jeu de Mains</h3>
      <div class="home-thematics-grid">
        <%= link_to autour_du_fil_path do %>
          <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_250/v1614359376/jeu-de-mains-autour-du-fil.jpg" %>)">
            <h4>Autour du fil</h4>
          </div>
        <% end %>
        <%= link_to cosmetique_et_entretien_path do %>
          <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_250/v1614359941/jeu-de-mains-cosmetique-et-entretien.jpg" %>)">
            <h4>Cosmétique & Entretien</h4>
          </div>
        <% end %>
        <%= link_to vegetal_path do %>
          <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_250/v1614360750/jeu-de-mains-vegetal.jpg" %>)">
            <h4>Végétal</h4>
          </div>
        <% end %>
        <%= link_to peinture_et_dessin_path do %>
          <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_250/v1614360634/jeu-de-mains-peinture-et-dessin.jpg" %>)">
            <h4>Peinture & Dessin</h4>
          </div>
        <% end %>
        <%= link_to ceramique_et_modelage_path do %>
          <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_250/v1614359661/jeu-de-mains-ceramique-et-modelage.jpg" %>)">
            <h4>Céramique & Modelage</h4>
          </div>
        <% end %>
        <%= link_to papier_et_calligraphie_path do %>
          <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_250/v1614359852/jeu-de-mains-papier-et-calligraphie.jpg" %>)">
            <h4>Papier & Calligraphie</h4>
          </div>
        <% end %>
        <%= link_to bijoux_path do %>
          <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_250/v1614359580/jeu-de-mains-bijoux.jpg" %>);">
            <h4>Bijoux</h4>
          </div>
        <% end %>
        <%= link_to travail_du_cuir_path do %>
          <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_250/v1614360516/jeu-de-mains-travail-du-cuir.jpg" %>)">
            <h4>Travail du cuir</h4>
          </div>
        <% end %>
        <%= link_to meuble_et_decoration_path do %>
          <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_250/v1614360068/jeu-de-mains-meuble-et-decoration.jpg" %>)">
            <h4>Meuble & Décoration</h4>
          </div>
        <% end %>


      </div>
    </div>


  </div>
</div>

