<div class="homebanner" id="homebanner-desktop" loading="lazy">
  <div class="homebanner-title">
    <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593180301/jeu-de-mains-logo-bleu-fonce.svg", :loading => "lazy", :width => 350, :crop => :fill, :alt => "jeu-de-mains-logo", :title => "jeu-de-mains-logo") %>
    <div class="homebanner-title-text">
      <h1>Offrez-vous un moment de détente créatif</h1>
      <h2>Grâce à la nouvelle plateforme de réservation d'ateliers créatifs jeudemains.com</h2>
    </div>
  </div>

  <div class="home-search-container">
    <div class="home-search">
      <%= simple_form_for :search, url: workshops_path, method: :get do |f| %>
        <div class="home-search-inputs-and-submit">
          <%= f.input :keyword, required: false, label: "Type d'atelier", prompt: "Tous types", collection: Workshop::THEMATICS %>
          <%= f.input :place, required: false, label: "Lieu", prompt: "Toutes les villes", collection: Place.cities_and_districts  %>
          <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker datepicker_start_date"}, placeholder: "À tout moment", label: "À partir du" %>
          <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: "À tout moment", label: "Jusqu'au" %>
          <%= f.hidden_field :order, value: "Aléatoire" %>
          <button type="submit" class="search-button" aria-label="Search Workshops">
            <i class="fas fa-search"></i>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="home-container">

  <!-- JEU DE MAINS PRESENTATION -->

  <h2 class="home-steps-title">Réservez et profitez de votre atelier créatif en toute simplicité</h2>

  <div class="home-steps-presentation-desktop">
    <div class="home-step-presentation">
      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1594146645/jeu-de-mains-24h-24-7j-7.svg", :loading => "lazy", :width => 200, :crop => :fill, :alt => "jeu-de-mains-24h-24-7j-7", :title => "jeu-de-mains-24h-24-7j-7") %>
      <h3>Réservation et paiement<br> 100% en ligne</h3>
      <p>Réservez et payez en toute sécurité en ligne l'atelier de votre choix, 24h/24, 7j/7</p>
    </div>
    <div class="home-step-presentation">
      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1594146572/jeu-de-mains-ateliers-lieux.svg", :loading => "lazy", :width => 200, :crop => :fill, :alt => "jeu-de-mains-ateliers-lieux", :title => "jeu-de-mains-ateliers-lieux") %>
      <h3>Ateliers éphémères<br> et permanents</h3>
      <p>Retrouvez un large choix d'ateliers créatifs en concept store, lors d'événements, chez l'artisan...</p>
    </div>
    <div class="home-step-presentation">
      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1594368949/jeu-de-mains-annuaire.svg", :loading => "lazy", :width => 200, :crop => :fill, :alt => "jeu-de-mains-annuaire", :title => "jeu-de-mains-annuaire") %>
      <h3>Accès illimité à l'annuaire des partenaires</h3>
      <p>Profitez d'un accès à la communauté des partenaires et leurs pages dédiées</p>
    </div>
  </div>

  <div class="home-steps-presentation-tablet">
    <%= render "home-step-carousel-tablet" %>
  </div>

  <div class="home-steps-presentation-mobile">
    <%= render "home-step-carousel-mobile" %>
  </div>

  <!-- WORKSHOP CARDS FAVORITE -->
  <% if @best_workshops.count > 0 %>

    <div class="home-ws-cards-container" id="home-ws-cards-best-ratings-container">

      <div>
        <h2 class="home-category-title" id="home-ws-cards-best-ratings-title">Les ateliers favoris</h2>
        <h3 class="home-category-subtitle">Découvrez ici nos ateliers les mieux notés par la communauté Jeu de Mains</h3>

        <div class="home-ws-cards home-ws-cards-best-ratings" id="home-ws-cards-best-ratings">
          <% @best_workshops.first(6).each do |workshop| %>
            <div class="ws-card" id="home-ws-card">
              <%= link_to(workshop, data: { turbolinks: false }, title: "#{workshop.title}") do  %>
                <div class="ws-card-image-and-rating" id="home-ws-card-image-and-rating">
                  <div class="ws-card-tags" id="home-ws-card-tags">
                    <% if workshop.rating %>
                      <div class="ws-card-tag ws-card-rating" id="home-ws-card-rating">
                        <i class="fas fa-star"></i><span><%= workshop.rating %></span>
                      </div>
                    <% elsif workshop.created_at > Date.today - 1.month %>
                      <div class="ws-card-tag ws-card-rating" id="home-ws-card-rating">
                        <span>nouveau</span>
                      </div>
                    <% end %>
                    <% if workshop.ephemeral == true %>
                      <div class="ws-card-tag ws-card-ephemeral" id="home-ws-card-ephemeral">
                        <span>éphémère</span>
                      </div>
                    <% end %>
                  </div>
                  <%= render "workshops/ws-index-carousel", workshop: workshop %>
                </div>
              <% end %>
              <%= link_to(workshop, data: { turbolinks: false }, title: "#{workshop.title}") do  %>
                <div class="ws-card-infos" id="home-ws-card-infos">
                  <div>
                    <div class="ws-card-organizer" id="home-ws-card-organizer-desktop">
                      <% if workshop.place.user.profile.company.size > 25 %>
                        <span><%= workshop.place.user.profile.company[0..24] %>...</span>
                      <% else %>
                        <span><%= workshop.place.user.profile.company %></span>
                      <% end %>
                    </div>
                    <div class="ws-card-organizer" id="home-ws-card-organizer-mobile">
                      <% if workshop.place.user.profile.company.size > 17 %>
                        <span><%= workshop.place.user.profile.company[0..16] %>...</span>
                      <% else %>
                        <span><%= workshop.place.user.profile.company %></span>
                      <% end %>
                    </div>
                    <div class="ws-card-title" id="home-ws-card-title">
                      <% if workshop.title.size > 33 %>
                        <h4><%= workshop.title[0..31] %>...</h4>
                      <% else %>
                        <h4><%= workshop.title %></h4>
                      <% end %>
                    </div>
                  </div>
                  <div class="ws-card-price-and-city" id="home-ws-card-price-and-city">
                    <div class="ws-card-price" id="home-ws-card-price">
                      <%= workshop.price %> €
                    </div>
                    <% if workshop.place.name.include?("Atelier en visio") %>
                      <div class="ws-card-visio">
                        <span>en visio</span>
                      </div>
                    <% else %>
                      <div class="ws-card-city" id="home-ws-card-city">
                        <i class="fas fa-map-marker-alt"></i>
                        <% if workshop.place.city.size >= 11 %>
                          <span id="city-name"><%= workshop.place.city[0..11].capitalize %>...</span>
                        <% else %>
                          <span id="city-name"><%= workshop.place.city.capitalize %></span>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <!-- TRENDS SELECTION -->

  <div class="home-selection-cards">
    <div class="home-selection-card" id="home-selection-first">
      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_400/v1593179636/jeu-de-mains-selection-estivale.jpg", :loading => "lazy", :width => 250, :crop => :fill, :alt => "jeu-de-mains-selection-estivale", :title => "jeu-de-mains-selection-estivale") %>
      <div class="home-selection-text">
        <div>
          <h2>Ça sent bon l’été</h2>
          <h3>Ateliers couture de maillot de bain, customisation de lunettes de soleil, broderie de pochette de plage… Découvrez notre sélection <em>Ça sent bon l’été</em></h3>
        </div>
        <div>
          <%= simple_form_for :search, url: workshops_path, html: {class: "selected-ws-1"}, method: :get do |f| %>
            <%= f.hidden_field :selection, value: 'maillot', id: "search_selection_1" %>
            <%= f.submit 'Voir la sélection', class: "home-selection-btn" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="home-selection-card" id="home-selection-second">
      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_400/v1593179634/jeu-de-mains-selection-masque.jpg", :loading => "lazy", :width => 250, :crop => :fill, :alt => "jeu-de-mains-selection-masque", :title => "jeu-de-mains-selection-masque") %>
      <div class="home-selection-text">
        <div>
          <h2>Bal masqué</h2>
          <h3>Le masque est devenu un indispensable dans nos vies alors que diriez-vous de coudre votre propre masque ? Découvrez notre sélection d’ateliers couture de masques en tissu</h3>
        </div>
        <div>
          <%= simple_form_for :search, url: workshops_path, html: {class: "selected-ws-2"}, method: :get do |f| %>
            <%= f.hidden_field :selection, value: 'masque', id: "search_selection_2" %>
            <%= f.submit 'Voir la sélection', class: "home-selection-btn" %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- THEMATICS SELECTION -->
    <%= link_to vegetal_path do %>
      <div class="home-selection-card" id="home-thematic-first">
        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_400/v1603214470/jeu-de-mains-vegetal.jpg", :loading => "lazy", :width => 250, :crop => :fill, :alt => "jeu-de-mains-ateliers-vegetal", :title => "jeu-de-mains-ateliers-vegetal") %>
        <div class="home-selection-text">
          <div>
            <h2>La belle nature</h2>
            <h3>Ateliers herbier, couronne de fleurs, cloche florale, bouquet, terrarium … Découvrez nos ateliers d’art végétal</h3>
          </div>
          <div class="mb-2">
            <span class="home-selection-btn pb-2">Voir la sélection</span>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to cosmetique_et_entretien_path do %>
      <div class="home-selection-card" id="home-thematic-second">
        <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_400/v1603214469/jeu-de-mains-cosmetique-entretien.jpg", :loading => "lazy", :width => 250, :crop => :fill, :alt => "jeu-de-mains-ateliers-cosmetique-entretien", :title => "jeu-de-mains-ateliers-cosmetique-entretien") %>
        <div class="home-selection-text">
          <div>
            <h2>Je prends soin de moi</h2>
            <h3>Vous avez envie de respecter votre peau, vos vêtements, votre maison, avec des produits 100% naturels ? Pourquoi pas les formuler vous-mêmes ! Découvrez nos ateliers cosmétiques et entretien maison</h3>
          </div>
          <div class="mb-2">
            <span class="home-selection-btn pb-2">Voir la sélection</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- WORKSHOP CARDS LAST MINUTE -->

  <div class="home-ws-cards-container">
    <% if @last_minute.size > 0 %>
      <div>
        <h2 class="home-category-title">C’est maintenant ou jamais !</h2>
        <h3 class="home-category-subtitle">Réservez les dernières places disponibles des prochaines dates</h3>

        <div class="home-ws-cards home-ws-cards-last-minute">
          <% @last_minute.first(6).each do |session| %>
              <div class="ws-card" id="home-ws-card">
                <%= link_to(session.workshop, data: { turbolinks: false }, title: "#{session.workshop.title}") do  %>
                  <div class="ws-card-image-and-rating" id="home-ws-card-image-and-rating">
                    <div class="ws-card-tags" id="home-ws-card-tags-last-minute">
                      <div class="ws-card-tag ws-card-last-minute-tickets" id="home-ws-card-tickets">
                        <span><%= session.available %> places restantes</span>
                      </div>
                      <div class="ws-card-tag ws-card-last-minute-date" id="home-ws-card-date">
                        <span><%= session.date.strftime('%d/%m/%Y') %></span>
                      </div>
                    </div>
                    <%= render "workshops/ws-index-carousel", workshop: session.workshop %>
                  </div>
                <% end %>
                <%= link_to(session.workshop, data: { turbolinks: false }, title: "#{session.workshop.title}") do  %>
                  <div class="ws-card-infos" id="home-ws-card-infos">
                    <div>
                      <div class="ws-card-organizer" id="home-ws-card-organizer-desktop">
                        <% if session.workshop.place.user.profile.company.size > 25 %>
                          <span><%= session.workshop.place.user.profile.company[0..24] %>...</span>
                        <% else %>
                          <span><%= session.workshop.place.user.profile.company %></span>
                        <% end %>
                      </div>
                      <div class="ws-card-organizer" id="home-ws-card-organizer-mobile">
                        <% if session.workshop.place.user.profile.company.size > 17 %>
                          <span><%= session.workshop.place.user.profile.company[0..16] %>...</span>
                        <% else %>
                          <span><%= session.workshop.place.user.profile.company %></span>
                        <% end %>
                      </div>
                      <div class="ws-card-title" id="home-ws-card-title">
                        <% if session.workshop.title.size > 33 %>
                          <h4><%= session.workshop.title[0..31] %>...</h4>
                        <% else %>
                          <h4><%= session.workshop.title %></h4>
                        <% end %>
                      </div>
                    </div>
                    <div class="ws-card-price-and-city" id="home-ws-card-price-and-city">
                      <div class="ws-card-price" id="home-ws-card-price">
                        <%= session.workshop.price %> €
                      </div>
                      <% if session.workshop.visio == true %>
                        <div class="ws-card-visio">
                          <span>en visio</span>
                        </div>
                      <% else %>
                        <div class="ws-card-city" id="home-ws-card-city">
                          <i class="fas fa-map-marker-alt"></i>
                          <% if session.workshop.place.city.size >= 11 %>
                            <span id="city-name"><%= session.workshop.place.city[0..11].capitalize %>...</span>
                          <% else %>
                            <span id="city-name"><%= session.workshop.place.city.capitalize %></span>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- HOME GIFTCARD -->

  <div class="home-offer-giftcard-container">
    <div class="home-offer-giftcard">
      <div class="home-selection-text pl-2">
        <div>
          <h2>Faites plaisir à un proche<br></h2>
          <h3>Offrez-lui une carte cadeau Jeu de Mains d'une valeur de 20 à 150 euros !</h3>
        </div>
        <div class="home-offer-giftcard-buttons">
          <div>
            <%= link_to "J'offre une carte cadeau", offrir_une_carte_cadeau_path, class: "home-offer-giftcard-btn", id: "home-offert-giftcard-button" %>
          </div>
          <div>
            <%= link_to "J'ai reçu une carte cadeau", enregistrer_une_carte_cadeau_path, class: "home-offer-giftcard-btn" %>
          </div>
        </div>
      </div>
      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/c_fill,w_800/v1606127708/jeu-de-mains-carte-cadeau.jpg", :loading => "lazy", :width => 600, :crop => :fill, :alt => "jeu-de-mains-carte-cadeau", :title => "jeu-de-mains-carte-cadeau") %>
    </div>
  </div>

  <!-- HOME THEMATICS -->

  <div class="home-thematics-container">
    <h2 class="home-category-title">Nos thématiques d'ateliers</h2>
    <h3 class="home-category-subtitle">Retrouvez des ateliers répartis en 9 thématiques sur Jeu de Mains</h3>
    <div class="home-thematics-grid">
      <%= link_to autour_du_fil_path do %>
        <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/w_300/v1603214470/jeu-de-mains-autour-du-fil.jpg" %>)">
          <h4>Autour du fil</h4>
        </div>
      <% end %>
      <%= link_to cosmetique_et_entretien_path do %>
        <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/w_300/v1603214469/jeu-de-mains-cosmetique-entretien.jpg" %>)">
          <h4>Cosmétique & Entretien</h4>
        </div>
      <% end %>
      <%= link_to vegetal_path do %>
        <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/w_300/v1603214470/jeu-de-mains-vegetal.jpg" %>)">
          <h4>Végétal</h4>
        </div>
      <% end %>
      <%= link_to peinture_et_dessin_path do %>
        <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/w_300/v1603214470/jeu-de-mains-dessin-peinture.jpg" %>)">
          <h4>Peinture & Dessin</h4>
        </div>
      <% end %>
      <%= link_to ceramique_et_modelage_path do %>
        <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/w_300/v1603214470/jeu-de-mains-ceramique-modelage.jpg" %>)">
          <h4>Céramique & Modelage</h4>
        </div>
      <% end %>
      <%= link_to papier_et_calligraphie_path do %>
        <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/w_300/v1603214470/jeu-de-mains-papier-lettering.jpg" %>)">
          <h4>Papier & Calligraphie</h4>
        </div>
      <% end %>
      <%= link_to bijoux_path do %>
        <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/w_300/v1603214470/jeu-de-mains-bijou.jpg" %>);">
          <h4>Bijoux</h4>
        </div>
      <% end %>
      <%= link_to travail_du_cuir_path do %>
        <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/w_300/v1603379193/jeu-de-mains-travail-du-cuir.jpg" %>)">
          <h4>Travail du cuir</h4>
        </div>
      <% end %>
      <%= link_to meuble_et_decoration_path do %>
        <div class="home-one-thematic" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(<%= cl_image_path "https://res.cloudinary.com/jeudemains/image/upload/w_300/v1603214470/jeu-de-mains-meuble-decoration.jpg" %>)">
          <h4>Meuble & Décoration</h4>
        </div>
      <% end %>


    </div>
  </div>

</div>

