<% content_for :meta_title, "Jeu de Mains | Mentions Légales" %>

<div class="legal-container">
  <div class="legal-title mb-2">
    <h1>Mentions légales</h1>
  </div>
  <div class="legal-content">

    <div class="legal-paragraph">
      <p>
        Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site internet <%= link_to "www.jeudemains.com", root_path %> l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
      </p>
    </div>

    <div class="legal-paragraph">
      <h2>Édition du site</h2>
      <p>Le site <%= link_to "www.jeudemains.com", root_path %> est édité par la société Jeu de Mains, société par actions simplifiée unipersonnelle au capital social de 1.000 € immatriculée au Registre du Commerce et des Sociétés de Nanterre sous le numéro 884 498 650 et dont le siège social est situé 9ter, rue Baliat, 92400, Courbevoie (Siret n° 884 498 650 000 16 et TVA intracommunautaire n° FR 46 884 498 650).</p>
    </div>

    <div class="legal-paragraph">
      <h2>Responsable de publication</h2>
      <p>Madame Eugénie Coisne Denis</p>
    </div>

    <div class="legal-paragraph">
      <h2>Hébergeur</h2>
      <p>Le site <%= link_to "www.jeudemains.com", root_path %> est hébergé par la société Heroku Inc., 650 7th Street, San Francisco, CA (tel : +33 1 (877) 563-4311).</p>
    </div>

    <div class="legal-paragraph">
      <h2>Responsable de publication</h2>
      <p>La série photographique "Mains" est signée &copy;Yana Popova. <br>
      La majorité des autres photographies est la propriété des Partenaires Jeu de Mains et quelques visuels proviennent de la banque d'images <a href="https://www.unsplash.com" target="_blank">unsplash</a>.</p>
    </div>

    <div class="legal-paragraph">
      <h2>Nous contacter</h2>
      <p>Pour toute demande concernant le site internet <%= link_to "www.jeudemains.com", root_path %> , vous pouvez nous contacter par téléphone au 06 32 46 45 11 ou par e-mail à <%= link_to "contact@jeudemains.com", "mailto:contact@jeudemains.com" %></p>
    </div>

  </div>
</div>

