<% content_for :meta_title, "Jeu de Mains | Offrir une carte cadeau" %>

<div class="offer-register-new-giftcard">

  <%= render 'sign_in_up_modal' %>

  <div class="offer-register-new-giftcard-banner">

    <div>
      <div class="offer-register-new-giftcard-banner-search-and-title">
        <div class="offer-register-new-giftcard-banner-title">
          <h1>Faites plaisir à un proche, offrez-lui une carte cadeau !</h1>
          <h2>La carte cadeau Jeu de Mains d'une valeur de 20 à 150 euros est valable 1 an à compter de la date d'achat sur tout le site jeudemains.com. <br>Avec sa carte cadeau votre proche pourra réserver un atelier couture, tricot, art floral, cosmétique, broderie, paper art, céramique, peinture, bijoux et plein d’autres encore !</h2>
        </div>
        <div class="offer-register-new-giftcard-search-container">
          <div class="offer-register-new-giftcard-search">
            <%= simple_form_for :giftcard, url: new_giftcard_path, method: :get do |f| %>
              <div class="offer-register-new-giftcard-search-inputs-and-submit">
                <%= f.input :amount, required: true, label: false, prompt: "Sélectionnez un montant", collection: [" 20 €", " 30 €", " 40 €", " 50 €", " 60 €", " 70 €", " 80 €", " 90 €", "100 €", "110 €", "120 €", "130 €", "140 €", "150 €"] %>
                <% if user_signed_in? %>
                  <%= f.submit "J'offre", class: "search-button" %>
                <% else %>
                  <a href="#signInUpModal" class="search-button" data-toggle="modal" data-whatever="@mdo">J'offre</a>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="offer-register-new-giftcard-banner-image">
      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1606127708/jeu-de-mains-carte-cadeau.jpg", :loading => "lazy", :width => 600, :crop => :fill, :alt => "jeu-de-mains-carte-cadeau", :title => "jeu-de-mains-carte-cadeau") %>
    </div>

  </div>
</div>





