<% content_for :meta_title, "Jeu de Mains | J'ai reçu une carte cadeau" %>


<div class="offer-register-new-giftcard">
  <div class="offer-register-new-giftcard-banner">

    <%= render 'sign_in_up_modal' %>

    <div>
      <div class="offer-register-new-giftcard-banner-search-and-title">
        <div class="offer-register-new-giftcard-banner-title">
          <h1>J'ai reçu une carte cadeau !</h1>
          <h2>Votre carte cadeau Jeu de Mains est valable 1 an à compter de la date d'achat sur tout le site jeudemains.com et utilisable en plusieurs fois. <br>Réservez un atelier couture, tricot, art floral, cosmétique, broderie, paper art, céramique, peinture, bijoux et plein d’autres encore !</h2>
        </div>
        <div class="offer-register-new-giftcard-search-container">
          <div class="offer-register-new-giftcard-search">
            <%= simple_form_for :giftcard, url: enregistrer_une_carte_cadeau_path, method: :get do |f| %>
              <div class="offer-register-new-giftcard-search-inputs-and-submit">
                <%= f.input :code, required: true, label: false, placeholder: "J'entre le code de ma carte cadeau" %>
                <% if user_signed_in? %>
                  <%= f.submit "Ajouter ma carte cadeau", class: "search-button", id:"add-my-giftcard-btn" %>
                <% else %>
                  <a href="#signInUpModal" class="search-button" id="add-my-giftcard-btn" data-toggle="modal" data-whatever="@mdo">Ajouter ma carte cadeau</a>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="offer-register-new-giftcard-banner-image">
      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1606127708/jeu-de-mains-carte-cadeau.jpg", :loading => "lazy", :width => 600, :crop => :fill, :alt => "jeu-de-mains-carte-cadeau", :title => "jeu-de-mains-carte-cadeau") %>
    </div>

  </div>
</div>
