<% @footer = false %>

<p>Bonjour</p>
<p>Nous vous confirmons la réception et la transmission de votre demande de privatisation reçue pour l'atelier <strong><%= link_to @workshop.title, workshop_url(@workshop), target: "blank_" %></strong>.</p>


<p>Rappel de vos informations communiquées :<br><br>
<strong>Nom </strong>: <%= @privatisation[:first_name] %><br>
<strong>Prénom </strong>: <%= @privatisation[:last_name] %><br>
<strong>E-mail </strong>: <%= @privatisation[:email] %><br>
<strong>Effectif </strong>: <%= @privatisation[:capacity] %><br>
<strong>Date souhaitée option 1 </strong>: <%= @privatisation[:first_date] %><br>
<strong>Date souhaitée option 2 </strong>: <%= @privatisation[:second_date] %><br>
<strong>Date souhaitée option 3 </strong>: <%= @privatisation[:third_date] %><br>
<% if @privatisation[:message].present? %>
  <strong>Message additionnel </strong>: <%= @privatisation[:message] %></p>
<% else %>
  </p>
<% end %>
<br>
<p><strong><%= link_to "--> Revoir la page de l'atelier <--", workshop_url(@workshop), target: "blank_" %></strong></p>
<br>
<p><strong><%= @workshop.place.user.profile.company %></strong> prendra contact avec vous directement par e-mail dans les meilleurs délais.</p>
<p>À bientôt ! L'équipe Jeu de Mains</p><br>

<img alt="jeu de mains" src="https://res.cloudinary.com/jeudemains/image/upload/v1602490393/logo-bleu-fonce-jeu-de-mains.png" style="height: auto; width: 100%; max-width: 120px;" title="jeu de mains" width="120"/>

