<!-- internal -->

<% @footer = false %>

<h3>Demande d'inscription Partenaire :</h3>
<br>
-------
<br>
<p><strong>Société :</strong> <%= @partner[:company] %></p>
<p><strong>SIRET :</strong> <%= @partner[:siret_number] %></p>
<p><strong>Nom :</strong> <%= @partner[:last_name] %></p>
<p><strong>Prénom :</strong> <%= @partner[:first_name] %></p>
<p><strong>Poste :</strong> <%= @partner[:position] %></p>
<p><strong>Email :</strong> <%= @partner[:email] %></p>
<p><strong>N° de téléphone :</strong> <%= @partner[:phone_number] %></p>
<br>
-------
<br>
<p><strong>Adresse :</strong> <%= @partner[:address] %></p>
<p><strong>Code Postal :</strong> <%= @partner[:zip_code] %></p>
<p><strong>Ville :</strong> <%= @partner[:city] %></p>
<br>
-------
<br>
<p><strong>Rôle :</strong> <%= @partner[:role] %></p>
<p><strong>Site web :</strong> <%= @partner[:website] if @partner[:website].present? %></p>
<p><strong>Adresse :</strong> <%= @partner[:instagram] if @partner[:instagram].present? %></p>
<br>
-------
<br>
<p><strong>Message / questions :</strong> <%= @partner[:message] if @partner[:message].present? %></p>
