<% if @booking.status == "pending" %>

  <% content_for :meta_title, "Jeu de Mains | Réservation - Récapitulatif" %>


  <div class="booking-options-container">
    <div class="booking-options-title">
      <h1>Vous êtes sur le point de réserver</h1>
    </div>

    <div class="booking-options-workshop">
      <div class="booking-options-ws-photo">
        <% if @booking.session.workshop.photos.attached? %>
          <%= cl_image_tag @booking.session.workshop.photos[0].key, loading: "lazy", alt: "jeu-de-mains-#{@booking.session.workshop.title}", title: "jeu-de-mains-#{@booking.session.workshop.title}" , width: 200, height: 200, crop: :fill %>
        <% else %>
          <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593177818/jeu-de-mains-atelier.jpg", :loading => "lazy", :width => 200, :height => 200, :crop => :fill, :alt => "jeu-de-mains-#{@booking.session.workshop.title}", :title => "jeu-de-mains-#{@booking.session.workshop.title}") %>
        <% end %>
      </div>

      <div class="booking-options-ws-info">
        <h2 class="booking-options-ws-title">L'atelier <%= @booking.session.workshop.title %></h2>
        <p>Qui aura lieu
          <% if @booking.session.start_date == @booking.session.end_date %>
            le <%= l(@booking.session.start_date, format: '%A %d %b %Y') %> de <%= @booking.session.start_time %> à <%= @booking.session.end_time %>
          <% else %>
            du <%= l(@booking.session.start_date, format: '%A %d %b %Y') %> à <%= @booking.session.start_time %> au <%= l(@booking.session.end_date, format: '%A %d %b %Y') %> à <%= @booking.session.end_time %>
          <% end %>
        </p>
        <p>Organisé par <%= @booking.session.workshop.place.user.profile.company %></p>
        <% if @booking.session.workshop.visio == true %>
          <p>En visioconférence<%= " avec kit" if @booking.session.workshop.kit == true %></p>
        <% else %>
          <p>Au <%= @booking.session.workshop.place.full_address %></p>
        <% end %>      </div>
    </div>

   <div class="booking-options-contact">
      <h2 class="booking-options-contact-title">Vos coordonnées</h2>
      <p><strong>Numéro de téléphone :</strong> <%= @booking.phone_number %></p>
      <% if @booking.session.workshop.visio_with_kit? %>
        <p><strong>Adresse :</strong> <%= @booking.address %></p>
        <p><strong>Complément d'adresse :</strong> <%= @booking.address_complement %></p>
        <p><strong>Code Postal :</strong> <%= @booking.zip_code %></p>
        <p><strong>Ville :</strong> <%= @booking.city %></p>
      <% end %>
    </div>

    <% if @booking.giftcard_amount_spent.present? %>
      <div class="booking-options-giftcard-options">
        <p>Vous avez choisi d'utiliser une carte cadeau qui contenait : <%= sprintf("%.2f", Giftcard.find(@booking.giftcard_id.to_i).amount.round(2)) %> € ttc</p>
        <p>Après votre réservation, le montant restant sur cette carte sera de : <%= sprintf("%.2f", (Giftcard.find(@booking.giftcard_id.to_i).amount > @booking.giftcard_amount_spent ? (Giftcard.find(@booking.giftcard_id.to_i).amount - @booking.giftcard_amount_spent) : 0.0).round(2)) %> € ttc</p>
      </div>
    <% end %>

    <table class="table booking-options-quantities-and-amount">
      <tbody>
        <tr id="booking-options-table-first-row">
          <td>Prix unitaire <%= sprintf("%.2f", @booking.workshop_unit_price.round(2)) %> € x <%= @booking.quantity %> place(s)</td>
          <td style="text-align: right"><%= sprintf("%.2f", (@booking.workshop_unit_price * @booking.quantity).round(2)) %> € TTC</td>
        </tr>
        <% if @booking.giftcard_amount_spent.present? %>
          <tr>
            <td>Carte cadeau</td>
            <td style="text-align: right">- <%= sprintf("%.2f", @booking.giftcard_amount_spent.round(2)) %> € TTC</td>
          </tr>
        <% end %>
        <tr>
          <td><strong>TOTAL</strong></td>
        <% if @booking.giftcard_amount_spent.present? %>
          <td style="text-align: right"><strong><%= sprintf("%.2f", ((@booking.workshop_unit_price * @booking.quantity) - @booking.giftcard_amount_spent).round(2)) %> € TTC</strong></td>
        <% else %>
          <td style="text-align: right"><strong><%= sprintf("%.2f", @booking.amount.round(2)) %> € TTC</strong></td>
        <% end %>
        </tr>
      </tbody>
    </table>

    <span id="cgv-agreement-checked"><i class="fas fa-check-square mr-2"></i>J'ai lu et j'accepte les <strong><%= link_to "conditions générales de vente", cgv_path, target: "_blank" %></strong></span>

    <% if @booking.giftcard_amount_spent? && @booking.giftcard_amount_spent == @booking.amount %>
      <%= simple_form_for(@booking) do |f| %>
        <%= f.hidden_field :confirm_giftcard, value: true %>
        <%= f.submit 'Confirmer ma réservation', class: "button", id: "confirm-booking-with-giftcard-only"%>
      <% end %>
    <% else %>
      <button id="pay" class="button">Procéder au paiement</button>
    <% end %>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const paymentButton = document.getElementById('pay');
      paymentButton.addEventListener('click', () => {
        const stripe = Stripe('<%= ENV['STRIPE_CONNECT_PUBLIC_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: '<%= @booking.checkout_session_id %>'
        });
      });
    </script>
  </div>
<% end %>
