<% content_for :meta_title, "Jeu de Mains | Confirmation d'achat de carte cadeau" %>


<div class="giftcard-confirmation-image-banner">
    <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1606128931/jeu-de-mains-carte-cadeau-banner.jpg", :width => "100%", :crop => :fill, :loading => "lazy", :alt => "jeu-de-mains-carte-cadeau", :title => "jeu-de-mains-carte-cadeau") %>
</div>

<div class="giftcard-confirmation-container">
  <div class="giftcard-confirmation-titles">
    <h1>Félicitations !</h1>
    <h2>Nous vous confirmons l'achat de votre carte cadeau d'une valeur de <%= @giftcard.amount.to_i %> euros.</h2>
    <h2>Rendez-vous dans votre boîte e-mail ou ci-dessous pour télécharger la carte cadeau digitale !</h2>
  </div>
  <div class="giftcard-confirmation-simulation" loading="lazy">
    <div class="giftcard-confirmation-simulation-row">
      <p>Offert par</p>
      <div class="giftcard-simulation-information">
        <%= @giftcard.buyer_name %>
      </div>
    </div>
    <div class="giftcard-confirmation-simulation-row">
      <p>Pour</p>
      <div class="giftcard-simulation-information">
        <%= @giftcard.receiver_name %>
      </div>
    </div>
    <div class="giftcard-confirmation-simulation-row">
      <p>Montant</p>
      <div class="giftcard-simulation-information">
        <%= @giftcard.initial_amount.to_i %> euros TTC
      </div>
    </div>
    <div class="giftcard-confirmation-simulation-row">
      <p>Valable</p>
      <div class="giftcard-simulation-information">
        jusqu'au <%= (@giftcard.deadline_date).strftime("%d/%m/%Y") %> à 23h59
      </div>
    </div>
    <div class="giftcard-confirmation-simulation-row">
      <p>N° Carte</p>
      <div class="giftcard-simulation-information">
        <%= @giftcard.code %>
      </div>
    </div>
  </div>
  <div class="giftcard-confirmation-btn mb-5">
    <%= link_to "Télécharger la carte cadeau", giftcard_confirmation_achat_path(@giftcard, format: :pdf), target: "_blank" %>
  </div>
</div>
