<div class="offer-register-new-giftcard">
  <div class="offer-register-new-giftcard-banner" id="new-giftcard-banner">

    <div>
      <div class="offer-register-new-giftcard-banner-search-and-title" id="new-giftcard-text-side">
        <div class="offer-register-new-giftcard-banner-title">
          <h1>Offrez une carte cadeau de <%= @giftcard.amount.to_i %> euros</h1>
          <h2>Vous vous apprétez à offrir une carte cadeau Jeu de Mains de <%= @giftcard.amount.to_i %> euros pour le plus grand bonheur de l'un de vos proches.<br>Afin de personnaliser sa carte cadeau digitale, merci de compléter la personnalisation ci-dessous avant de procéder à la finalisation de votre achat !</h2>
        </div>
        <div class="offer-register-new-giftcard-search-container">
          <div class="offer-register-new-giftcard-search">
            <%= simple_form_for(@giftcard) do |f| %>
              <div class="offer-register-new-giftcard-search-inputs-and-submit">
                <%= f.input :buyer_name, required: true, label: "De la part de", placeholder: "Votre prénom ou surnom" %>
                <%= f.input :receiver_name, required: true, label: "Pour", placeholder: "Le prénom ou surnom du bénéficiaire" %>
                <%= f.input :message, as: :text, required: false, input_html: { row: 4 }, label: "Votre message", placeholder: "Personnalisez la carte (optionnel)" %>

                <fieldset class="form-group boolean required giftcard_cgv_agreement">
                  <div class="form-check">
                    <input name="giftcard[cgv_agreement]" type="hidden" value="0">
                    <input class="form-check-input boolean required" required="required" aria-required="true" type="checkbox" value="1" name="giftcard[cgv_agreement]" id="giftcard_cgv_agreement">
                    <label class="form-check-label boolean required" for="giftcard_cgv_agreement" style='text-transform: inherit;'>J'ai lu et j'accepte les <strong><%= link_to "conditions générales de vente", cgv_path, target: "_blank" %></strong><abbr title="obligatoire">*</abbr></label>
                  </div>
                </fieldset>

                <%= f.hidden_field :amount, required: true, value: @giftcard.amount %>
                <%= f.hidden_field :initial_amount, required: true, value: @giftcard.amount %>
                <%= f.hidden_field :buyer, required: true, value: current_user.id %>
                <%= f.submit "Je passe au paiement", class: "search-button" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="offer-register-new-giftcard-banner-image" id="new-giftcard-image-side">
      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1606127708/jeu-de-mains-carte-cadeau.jpg", :loading => "lazy", :width => 600, :crop => :fill, :alt => "jeu-de-mains-carte-cadeau", :title => "jeu-de-mains-carte-cadeau") %>
    </div>

  </div>

</div>



