<h1>Carte cadeau</h1>
<h2>N° <%= @giftcard.code %></h2>
<p>Offert par : <%= @giftcard.buyer_name %></p>
<p>Pour : <%= @giftcard.receiver_name %></p>
<p>Date d'achat : <%= @giftcard.created_at %></p>
<p>Montant : <%= @giftcard.amount %> €</p>
