<div class="reviews-index-container">

  <div class="back-button">
    <%= link_to 'javascript:history.go(-1);' do %>
      <i class="fas fa-chevron-left"></i>
      <span>Retour</span>
    <% end %>
  </div>

  <% if @workshop %>
    <% if @workshop.reviews.present? %>
      <div class= "reviews-index-title">
        <h2>Avis sur l'atelier <br><span><%= @workshop.title %></span></h2>
        <p>Note moyenne : <strong><%= @workshop.rating %> /5</strong> (<%= @workshop.reviews.count %> avis)</p>
      </div>
      <div class= "reviews-cards">
        <% @workshop.reviews.sort_by { |review| review.created_at }.reverse.each do |review| %>
          <div class="review-card">
            <div class="review-card-stars">
              <% review.rating.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% (5 - review.rating).times do %>
                <i class="far fa-star"></i>
              <% end %>
            </div>
            <div class="review-card-message">
              <p><%= review.content %></p>
            </div>
            <div class="review-card-author">
              <p><span><%= review.user.profile.first_name %></span>, le <%= review.created_at.strftime("%d/%m/%Y") %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class= "reviews-index-title">
        <h2>Avis sur l'atelier <br><span><%= @workshop.title %></span></h2>
        <p>Cet atelier n'a pas encore d'avis.</p>
      </div>
    <% end %>


  <% elsif @place %>
     <% if @place.reviews.present? %>
      <div class= "reviews-index-title">
        <h2>Avis sur le lieu <br><span><%= @place.name %></span></h2>
        <p>Note moyenne : <strong><%= @place.rating %> /5</strong> (<%= @place.reviews.count %> avis)</p>
      </div>
      <div class= "reviews-cards">
        <% @place.reviews.sort_by { |review| review.created_at }.reverse.each do |review| %>
          <div class="review-card">
            <div class="review-card-stars">
              <% review.rating.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% (5 - review.rating).times do %>
                <i class="far fa-star"></i>
              <% end %>
            </div>
            <div class="review-card-message">
              <p><%= review.content %></p>
            </div>
            <div class="review-card-author">
              <p><span><%= review.user.profile.first_name %></span>, le <%= review.created_at.strftime("%d/%m/%Y") %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class= "reviews-index-title">
        <h2>Avis sur le lieu <br><span><%= @place.name %></span></h2>
        <p>Cet atelier n'a pas encore d'avis.</p>
      </div>
    <% end %>

  <!-- ANIMATOR REVIEWS INDEX -->

  <% elsif @profile.role == "animateur" %>
    <% reviews_count = 0 %>
    <% @profile.user.animators.each do |animator| %>
      <% if animator.workshop.reviews.present? %>
        <% reviews_count += animator.workshop.reviews.count %>
      <% end %>
    <% end %>
    <% if reviews_count > 0 %>
      <div class= "reviews-index-title">
        <h2>Avis sur l'animateur <br><span><%= @profile.company %></span></h2>
        <p>Note moyenne : <strong><%= @profile.rating %> /5</strong> (<%= reviews_count %> avis)</p>
      </div>
      <div class= "reviews-cards">
        <% @profile.user.animators.each do |animator| %>
          <% if animator.workshop.reviews.present? %>
            <% animator.workshop.reviews.sort_by { |review| review.created_at }.reverse.each do |review| %>
              <div class="review-card">
                <div class="review-card-stars">
                  <% review.rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - review.rating).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                </div>
                <div class="review-card-message">
                  <p><%= review.content %></p>
                </div>
                <div class="review-card-author">
                  <p><span><%= review.user.profile.first_name %></span>, le <%= review.created_at.strftime("%d/%m/%Y") %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class= "reviews-index-title">
        <h2>Avis sur l'animateur <br><span><%= @place.name %></span></h2>
        <p>Cet atelier n'a pas encore d'avis.</p>
      </div>
    <% end %>
  <% end %>
</div>
