<% if @booking %>

  <div class="sign-container" id="new-review-sign-container">

    <div class="back-button" id="new-review-back-button">
      <%= link_to 'javascript:history.go(-1);' do %>
        <i class="fas fa-chevron-left"></i>
        <span>Retour</span>
      <% end %>
    </div>

    <div class="sign-form">

      <h2 class="sign-title" id="new-review-title">Donnez votre avis sur l'atelier <span><%= @booking.session.workshop.title %></span></h2>

      <%= simple_form_for([@booking, @review]) do |f| %>

        <div class="form-inputs">

          <%= f.input :rating, required: true, collection: (1..5).to_a, label: "Note sur l'atelier" %>
          <%= f.input :content, required: true, label: "Avis sur l'atelier", input_html: { minlength: "20" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Publier mon avis" %>
        </div>

      <% end %>
    </div>

    <div class="sign-picture">
      <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1612889842/jeu-de-mains-do-it-yourself.svg", :width => 1000, :crop => :fill, :loading => "lazy", :alt => "jeu-de-mains-illustration", :title => "jeu-de-mains-illustration") %>
    </div>

  </div>

<% end %>
