<% if @place %>

  <div class="dashboard-title-container" id="dashboard-organizer-title-container">
    <h1>
      <span>Mettez à jour votre lieu !</span>
    </h1>
  </div>

  <div class="back-button" id="back-button-ws-new">
    <%= link_to 'javascript:history.go(-1);' do %>
      <i class="fas fa-chevron-left"></i>
      <span>Annuler</span>
    <% end %>
  </div>

  <div class="edit-place-container">

    <%= simple_form_for(@place) do |f| %>

      <%= f.input :name, label: "Nom du lieu" %>
      <%= f.input :phone_number, label: "Numéro de téléphone" %>
      <%= f.input :address, disabled: true,  label: "Adresse postale (n° et rue)" %>
      <%= f.input :zip_code, disabled: true,  label: "Code postal" %>
      <%= f.input :city, disabled: true,  label: "Ville" %>


      <div class="d-flex justify-content-center mt-5">
        <%= f.submit 'Mettre à jour', class: "new-edit-ws-submit" %>
      </div>

    <% end %>
  </div>
<% end %>
