<% if @place %>

  <!-- PLACE SHOW -->

  <% if @place.db_status == true %>
    <% content_for :meta_title, "Jeu de Mains | #{@place.name[0..45]}" %>
    <% content_for :meta_description, @place.description[0..160] %>
    <% if @place.photo.attached? %>
      <% content_for :meta_image, "#{cl_image_path @place.photo.key, width: 1200, height: 630, crop: :fill}" %>
    <% end %>
  <% end %>

  <div class="place-show-container profile-container">

    <!-- BACK BUTTON -->

    <div class="back-button">
      <%= link_to 'javascript:history.go(-1);' do %>
        <i class="fas fa-chevron-left"></i>
        <span>Retour</span>
      <% end %>
    </div>

    <!-- HEADER PROFILE -->

    <div class="public-profile-header">
      <div class="public-profile-picture">
        <% if @place.photo.attached? %>
          <%= cl_image_tag @place.photo.key, loading: "lazy", width: 300, crop: :fill, alt: "jeu-de-mains-#{@place.name}", title: "jeu-de-mains-#{@place.name}" %>
        <% else %>
          <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1603197853/jeu-de-mains-profil.jpg", :loading => "lazy", :width => 300, :crop => :fill, :alt => "jeu-de-mains-#{@place.name}", :title => "jeu-de-mains-#{@place.name}") %>
        <% end %>
      </div>
      <div class="public-profile-header-text">
        <div class="public-profile-name">
          <h1><%= @place.name %></h1>
        </div>
        <div class="public-profile-address">
          <%= link_to "https://www.google.fr/maps/search/#{@place.address}, #{@place.zip_code} #{@place.city.upcase}", target: "_blank" do %>
            <i class="fas fa-map-marker-alt"></i>
            <%= "#{@place.address}, #{@place.zip_code} #{@place.city.capitalize}" %>
          <% end %>
        </div>
        <% if @place.phone_number %>
          <div class="public-profile-phone-number">
            <a href="tel:+33<%= @place.phone_number[1..-1] %>">
              <i class="fas fa-phone-alt"></i>
              <%= @place.phone_number %>
            </a>
          </div>
        <% end %>
        <% if @place.website %>
          <div class="public-profile-website">
            <%= link_to @place.website, target: "_blank" do %>
              <i class="fas fa-globe"></i>
              <%= @place.website.sub(/https\:\/\//,'').sub(/(www.)/,'').sub(/\/$/,'') %>
            <% end %>
          </div>
        <% end %>
        <% if @place.instagram %>
          <div class="public-profile-instagram">
          <%= link_to @place.instagram, target: "_blank" do %>
            <i class="fab fa-instagram"></i>
            <%= @place.instagram.sub(/https\:\/\//,'').sub(/www.instagram.com\//,'').sub(/\/$/,'') %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>

    <!-- MAIN FIGURES PROFILE -->

    <div class="public-profile-main-figures" loading="lazy" style="background-image: url(<%= cl_image_path("https://res.cloudinary.com/jeudemains/image/upload/v1593193954/jeu-de-mains-fond-vague.svg") %>)">
      <div class="public-profile-main-figures-text">
        <div class="public-profile-main-figure public-profile-number-of-ws">
          <span id="number"><%= @workshops.count %></span>
          <% if @workshops.count > 1 %>
            <span id="text">ateliers en ligne</span>
          <% else %>
            <span id="text">atelier en ligne</span>
          <% end %>
        </div>
        <% if @place.ephemeral %>
          <div class="public-profile-main-figure public-profile-ephemeral">
            <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593708097/jeu-de-mains-ephemere.svg", :loading => "lazy", :width => 70, :crop => :fill, :alt => "jeu-de-mains-ephemere", :title => "jeu-de-mains-ephemere") %>
            <span id="text">lieu éphémère</span>
          </div>
        <% else %>
          <div class="public-profile-main-figure public-profile-participants-nb">
            <% participants_number = 0 %>
            <% @place.workshops.each do |workshop| %>
              <% workshop.sessions.each do |session| %>
                <% session.bookings.where(db_status: true).each do |booking| %>
                  <% participants_number += booking.quantity %>
                <% end %>
              <% end %>
            <% end %>
            <span id="number"><%= participants_number %></span>
            <% if participants_number > 1 %>
                <span id="text">participants accueillis</span>
              <% else %>
                <span id="text">participant accueilli</span>
              <% end %>
          </div>
        <% end %>
          <div class="public-profile-main-figure public-profile-member-since">
            <span id="icon"><i class="fas fa-user-clock"></i></span>
            <span id="text">membre depuis <%= @place.created_at.year %></span>
          </div>
      </div>
    </div>

    <!-- ABOUT / WS CARDS / REVIEWS -->

    <div class="public-profile-about-ws-reviews">
      <div class="public-profile-about about-ws-reviews-box">
        <h2 class="public-profile-about-title profile-title">À propos</h2>
        <div class="public-profile-about-text">
          <p><%= @place.description %></p>
        </div>
      </div>

      <div class="public-profile-our-ws about-ws-reviews-box">
        <h2 class="public-profile-our-ws-title profile-title">Nos ateliers</h2>
        <% if @workshops.present? %>
          <div class="public-profile-our-ws-cards">
            <% @workshops.each do |workshop| %>
              <div class="ws-card" id="place-show-ws-card">
                <%= link_to(workshop, data: { turbolinks: false }) do  %>
                  <div class="ws-card-image-and-rating">
                    <div class="ws-card-tags">
                      <% if workshop.rating %>
                        <div class="ws-card-tag ws-card-rating">
                          <i class="fas fa-star"></i><span><%= workshop.rating %></span>
                        </div>
                      <% else %>
                        <div class="ws-card-tag ws-card-rating">
                          <span>nouveau</span>
                        </div>
                      <% end %>
                      <% if workshop.place.ephemeral == true %>
                        <div class="ws-card-tag ws-card-ephemeral">
                          <span>éphémère</span>
                        </div>
                      <% end %>
                    </div>
                    <%= render "workshops/ws-index-carousel", workshop: workshop %>
                  </div>

                  <div class="ws-card-infos">
                    <div>
                      <div class="ws-card-title">
                        <% if workshop.title.size > 33 %>
                          <h4><%= workshop.title[0..31] %>...</h4>
                        <% else %>
                          <h4><%= workshop.title %></h4>
                        <% end %>
                      </div>
                      <% if workshop.animators.where(db_status: true).first %>
                        <div class="ws-card-place" id="show-place-ws-card-place">
                          <span>Avec <%= workshop.animators.where(db_status: true).first.user.profile.company %></span>
                        </div>
                      <% end %>
                    </div>
                    <div class="ws-card-price">
                      <%= workshop.price %> €
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <p><%= @place.name %> n'a pas d'atelier en ligne.</p>
        <% end %>
        <% if @workshops.count > 4 %>
          <div class="show-more-workshops active">
            <a id="showMoreWsButton" class="blue-btn active">Voir plus d'ateliers</a>
          </div>
          <div class="show-less-workshops">
            <a id="showLessWsButton" class="blue-btn">Voir moins d'ateliers</a>
          </div>
        <% end %>
      </div>

      <div class="public-profile-reviews about-ws-reviews-box">

        <h2 class="public-profile-reviews-title profile-title">Avis sur nos ateliers</h2>
        <% reviews_count = 0 %>
        <% all_reviews = [] %>
        <% @place.workshops.each do |workshop| %>
          <% if workshop.reviews.where(db_status: true).present? %>
            <% workshop.reviews.where(db_status: true).each do |review| %>
              <% reviews_count += 1 %>
              <% all_reviews << review %>
            <% end %>
          <% end %>
        <% end %>

        <% if reviews_count > 0 %>
          <p class="public-profile-reviews-subtitle">Note moyenne : <strong><%= @place.rating %>/5</strong> (<%= reviews_count %> avis)</p>
          <div class= "reviews-cards">
            <% all_reviews.sort_by { |review| review.created_at }.reverse.first(4).each do |review| %>

              <div class="review-card">
                <div class="review-card-stars">
                  <% review.rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - review.rating).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                </div>
                <div class="review-card-message">
                  <p><%= review.content %></p>
                </div>
                <div class="review-card-author">
                  <p><span><%= review.user.first_name %></span>, le <%= review.created_at.strftime("%d/%m/%Y") %></p>
                </div>
              </div>
            <% end %>
          </div>
          <% if reviews_count > 4 %>
            <div class="show-more-reviews">
              <%= link_to "Voir plus d'avis", place_reviews_path(@place), class: "blue-btn" %>
            </div>
          <% end %>
        <% else %>
          <p><%= @place.name %> n'a pas encore d'avis.</p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
