<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Jeu de Mains">

    <title>Jeu de Mains | Offrez-vous un moment de détente créatif</title>
    <meta name="description" content="Réservez avec Jeu de Mains votre atelier créatif couture, céramique, cosmétique, herbier, broderie, tricot, bijoux… et découvrez les joies du faire soi-même !">
    <meta name="keywords" content="Jeu de Mains, ateliers créatifs. Do it yourself. Loisirs créatifs. Couture, céramique, cosmétique, herbier, broderie, tricot, peinture. Expérience insolite. Cadeau. Paris." />
        <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Jeu de Mains | Offrez-vous un moment de détente créatif" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.jeudemains.com/" />
    <meta property="og:image" content="https://res.cloudinary.com/jeudemains/image/upload/v1601545768/jeu-de-mains-facebook-twitter.png" />
    <meta property="og:description" content="Réservez avec Jeu de Mains votre atelier créatif couture, céramique, cosmétique, herbier, broderie, tricot, bijoux… et découvrez les joies du faire soi-même !" />
    <meta property="og:site_name" content="Jeu de mains | ateliers créatifs" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="jeudemains.com">
    <meta name="twitter:title" content="Jeu de Mains | Offrez-vous un moment de détente créatif">
    <meta name="twitter:description" content="Réservez avec Jeu de Mains votre atelier créatif couture, céramique, cosmétique, herbier, broderie, tricot, bijoux… et découvrez les joies du faire soi-même !">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/jeudemains/image/upload/v1601545768/jeu-de-mains-facebook-twitter.png">

    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/jeudemains/image/upload/v1601583008/jeu-de-mains-favicon.png" />

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <!-- NAVBAR -->
    <% if controller.controller_name == 'pages' && controller.action_name == 'home' %>
      <%= render 'shared/navbar-homepage' %>
    <% elsif controller.controller_name == 'workshops' && controller.action_name == 'index' %>
      <%= render 'shared/navbar-ws-index' %>
    <% else %>
      <%= render 'shared/navbar-allpages' %>
    <% end %>

    <!-- MENU -->
    <%= render 'shared/menu' %>

    <!-- FLASHES -->
    <%= render 'shared/flashes' %>
    <%= yield %>

    <!-- FOOTER -->
    <% if controller.controller_name == 'pages' %>
      <%= render 'shared/footer' %>
    <% elsif controller.controller_name == 'workshops' && controller.action_name == 'index' %>
    <% elsif controller.controller_name == 'chatrooms' && controller.action_name == 'show' %>
    <% else %>
      <%= render 'shared/footer' %>
    <% end %>

    <%= javascript_pack_tag 'application' %>
    <noscript>Votre navigateur ne supporte pas JavaScript...</noscript>
  </body>
</html>
