<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Jeu de mains | ateliers créatifs</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <!-- NAVBAR -->
    <% if controller.controller_name == 'pages' %>
      <%= render 'shared/navbar-homepage' %>
    <% else %>
      <%= render 'shared/navbar-allpages' %>
    <% end %>

    <!-- MENU -->
    <%= render 'shared/menu' %>

    <!-- FLASHES -->
    <%= render 'shared/flashes' %>
    <%= yield %>

    <!-- FOOTER -->
    <%= render 'shared/footer' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
