<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Jeu de Mains">

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="keywords" content="<%= meta_keywords %>" />

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.jeudemains.com/" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="jeudemains.com">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>" />

    <!-- Cookie Consent by https://www.FreePrivacyPolicy.com -->
    <script type="text/javascript" src="//www.freeprivacypolicy.com/public/cookie-consent/3.1.0/cookie-consent.js"></script>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
      cookieconsent.run({"notice_banner_type":"simple","consent_type":"express","palette":"light","language":"fr","website_name":"Jeu de Mains","cookies_policy_url":"https://www.jeudemains.com/politique-de-confidentialite"});
      });
    </script>

      <!-- Google Analytics -->
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script type="text/plain" cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id=G-X50T4VTK25"></script>
      <script type="text/plain" cookie-consent="tracking">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-X50T4VTK25');
      </script>
      <!-- end Google Analytics -->
      <!-- Google Tag Manager -->
      <script type="text/plain" cookie-consent="tracking">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MNPSQ3P');</script>
      <!-- End Google Tag Manager -->
      <!-- end of Google Analytics-->

    <!-- End Cookie Consent -->
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', preload: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', preload: true %>

    <% if (controller.controller_name == 'profiles' && controller.action_name == 'tableau_de_bord') %>
      <script src="https://res.cloudinary.com/jeudemains/raw/upload/v1613578429/sorttable.js"></script>
    <% end %>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNPSQ3P"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div style="min-height: 82vh;">
      <!-- NAVBAR -->
      <% if controller.controller_name == 'pages' && controller.action_name == 'home' %>
        <%= render 'shared/navbar-homepage' %>
      <% elsif controller.controller_name == 'workshops' && controller.action_name == 'index' %>
        <%= render 'shared/navbar-ws-index' %>
      <% else %>
        <%= render 'shared/navbar-allpages' %>
      <% end %>

      <!-- MENU -->
      <%= render 'shared/menu' %>

      <!-- FLASHES -->
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
    <!-- NL FOOTER -->
    <% if controller.controller_name == 'pages' || (controller.controller_name == 'profiles' && controller.action_name == 'public') || (controller.controller_name == 'profiles' && controller.action_name == 'index') %>
      <%= render 'shared/footer-newsletter' %>
    <% end %>

    <!-- FOOTER -->
    <% if controller.controller_name == 'pages' %>
      <%= render 'shared/footer' %>
    <% elsif controller.controller_name == 'workshops' && controller.action_name == 'index' %>
    <% elsif controller.controller_name == 'chatrooms' && controller.action_name == 'show' %>
    <% else %>
      <%= render 'shared/footer' %>
    <% end %>

    <% unless (controller.controller_name == 'workshops' && controller.action_name == 'index') || (controller.controller_name == 'profiles' && controller.action_name == 'messagerie') || (controller.controller_name == 'profiles' && controller.action_name == 'index') %>
      <script type="text/plain" cookie-consent="strictly-necessary">
        (function() {
          window.sib = { equeue: [], client_key: "0fq0vp17o9c40pdismwye5oq" };
          /* OPTIONAL: email to identify request*/
          // window.sib.email_id = 'example@domain.com';
          /* OPTIONAL: to hide the chat on your script uncomment this line (0 = chat hidden; 1 = display chat) */
          // window.sib.display_chat = 0;
          // window.sib.display_logo = 0;
          /* OPTIONAL: to overwrite the default welcome message uncomment this line*/
          // window.sib.custom_welcome_message = 'Hello, how can we help you?';
          /* OPTIONAL: to overwrite the default offline message uncomment this line*/
          window.sib.custom_offline_message = "Afin de vous répondre, nous vous remercions de nous indiquer votre adresse e-mail :) (utilisée uniquement dans le cadre de cet échange). À très vite, l'équipe Jeu de Mains ;)";
          window.sendinblue = {}; for (var j = ['track', 'identify', 'trackLink', 'page'], i = 0; i < j.length; i++) { (function(k) { window.sendinblue[k] = function(){ var arg = Array.prototype.slice.call(arguments); (window.sib[k] || function() { var t = {}; t[k] = arg; window.sib.equeue.push(t);})(arg[0], arg[1], arg[2]);};})(j[i]);}var n = document.createElement("script"),i = document.getElementsByTagName("script")[0]; n.type = "text/javascript", n.id = "sendinblue-js", n.async = !0, n.src = "https://sibautomation.com/sa.js?key=" + window.sib.client_key, i.parentNode.insertBefore(n, i), window.sendinblue.page();
        })();
      </script>
    <% end %>
    <noscript>Votre navigateur ne supporte pas JavaScript...</noscript>
    <noscript>Cookie Consent by <a href="https://www.FreePrivacyPolicy.com/free-cookie-consent/" rel="nofollow noopener">FreePrivacyPolicy.com</a></noscript>
  </body>
</html>
